.destination {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  .control--nomad {
    position: relative;
     .coming-soon {
      position: absolute;
      width: 100%;
      color: white;
      font-size: 9px;
      top: -13px;
       @include mq(md) {
         color: $primary;
       }
    }

    .nomad {
      @include mq(md) {
        border-right: 2px solid #a59595;
        padding-right: 2rem;
      }
    }
  }

  .control {
    margin-bottom: 0;
    margin-right: 1rem;

    span {
      color: white;
      @include mq(md) {
        color: #7d7d7d;
      }
    }
  }
}
