.deals-alerts {
  padding: 4rem 0 5rem 0;
  color: $body-color;
}

.deals-alerts__text {
  font-size: 20px;
  color: #7F7F7F;
  font-weight: bold;
}

.deals-alerts__img {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
  @include mq(lg) {
    padding-top: 0;
  }
  img {
    width: 100%;
  }
}
