.overlay-component {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 4px $primary;
    z-index: 1;
    border: 0.5px solid $primary;
    text-align: center;
    padding: 2.5rem 1rem;

    &__heading {
        font-family: $dona-black;
        p {
            font-family: $dona-bold;
        }
    }

    .button {
        width: 100%;
        font-size: 1.18rem;
        padding-top: 6px;
        color: $black;
        font-family: $dona-black;
        &:hover {
            color: $white;
        }
    }
    p {
        font-size: 1rem;
    }
    &.half-bottom {
        bottom: 0;
        top: 50%;
        height: 50%;
    }
}
