.search-quick-filter {
  padding: 0.5rem 0;
  margin-bottom: 0;
  text-align: center;
  flex-grow: 1;
  border-right: none;
  background: white;
  border-left: 1.2px solid #ececec;
  position: relative;
  cursor: pointer;

  &:last-child {
    border-right: none;
  }

  &:hover {
    border: 1px solid #00b0f5;
  }

  &.applied {
    border: 1px solid #00b0f5;

    .border-line {
      position: absolute;
      bottom: 0;
      left: 12%;
    }
  }
}

.search-top-result {
  display: flex;
  margin-bottom: 1rem;
  border: 1.5px solid #ececec;
  background: white;
  width: 100%;
  flex-wrap: wrap;

  .search-quick-filter {
    @include mqr(sm) {
      &:nth-child(n+4) {
        border-top: 1px solid $border-color;
      }
    }
  }
}

.search-quick-filter-filter-name {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  &.right-pane {
    justify-content: space-between;
  }

  strong {
    font-family: dona-black;
  }
  .small {
    color: #000;
  }
}
