.overview,
.trips {
  .col-12 {
    margin-bottom: 1.875rem;
  }
}

.tile {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    content: "";
    background-image: url("assets/img/dashboard/tile-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.23;
    z-index: -1;
  }

  .tile__heading {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid $border-color;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    @include mq(lg) {
      font-size: 1.125rem;
      padding: 1rem;
    }
    &-right {
      color: $gray;
      &:hover {
        color: #00aeef;
        cursor: pointer;
      }
    }
  }

  .tile__body {
    padding: 1rem;
    &-no-result {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray;
      font-family: $dona-black;
      position: absolute;
      top: calc(50% + 1.718rem);
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-top,
    &-bottom {
      display: flex;
      flex-wrap: wrap;
      p {
        margin: 0;
      }
    }
    &-bottom {
      align-items: center;
      justify-content: space-between;
      padding-top: 1.5rem;
      font-weight: bold;

      .booking {
        font-weight: bold;
      }
      .upgrade {
        font-size: 0.85rem;
        font-weight: 90;
        color: $gray;
      }
    }
    &-top-numbers {
      &:first-child {
        margin-right: 4rem;
        @include mq(lg) {
          //margin-right: 8rem;
        }
      }
      span {
        display: block;
      }
      > span {
        font-family: $dona-black;
        font-size: 1.875rem;
        + span {
          font-family: $dona-bold;
          font-size: 1.25rem;
        }
      }
    }

    // Flight component
    strong,
    .price-block h5 {
      font-family: $dona-black;
    }
    .small {
      font-family: $dona-bold;
    }
  }
  &__list {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  &__item {
    border-bottom: 1px solid $border-color;
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin-bottom: 0;
    font-family: $dona-bold;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__item-left {
    font-family: $dona-bold;

    &-top {
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
      &--clickable {
        &:hover {
          color: #00aeef;
        }
        cursor: pointer;
        margin-bottom: 0;
      }
    }
    &-bottom {
      font-size: 0.75rem;
      margin-bottom: 0;
    }
  }
  &__item-right {
    color: $gray;
    margin-top: 0.7rem;
    @include mq(lg) {
      margin-top: 0;
    }
  }

  &--flights {
    .tile__body {
      background-color: $white;
    }
  }

  &--estimated {
    .tile__body-bottom {
      color: $savings-explained-text;
      font-size: 0.75rem;
    }
  }
}



.tile--no-result {
  min-height: 15.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/images/arial_view_two.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparentize($black, 0.6);
  }
  &__text {
    position: relative;
    z-index: 12;
    color: $white;
    font-size: 1.875rem;
    font-family: $dona-bold;
  }
}