{% extends "base.html" %}

{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/lightpick.css" %}" xmlns:v-on="http://www.w3.org/1999/xhtml"
          xmlns:v-on="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/promo.html" %}
    </section>
    <section class="navbar-section">
        {% include "_includes/navbar.html" %}
    </section>

    <section>
        <div class="container content-holder" style="padding-bottom: 30px;">
            <div class="search_content_box">
                <div class="row">
                    <div class="container">
                        <div class="col-12 pr-0">
                            {% if user.is_authenticated %}
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <p class="home-slogan" style="margin-bottom: 25px;">
                                            <span>Welcome {% if user.first_name %}back {{ user.first_name }}!{% else %}to Wanderift!{% endif %}</span>
                                        </p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <p class="home-slogan" style="margin-bottom: 25px;">
                                            <span>Travel Made Simple . . .</span>
                                            <span class="text-primary">Search, Book, Save</span>
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                            {% include "includes/search_form.html" %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="passengersModal" tabindex="-1" role="dialog" aria-labelledby="passengersModalLabel"
             aria-hidden="true">
            <div class="modal-dialog mt-5 pt-1" role="document">
                <div class="modal-content mt-5">
                    <div class="modal-header">
                        <h6 class="modal-title" id="passengersModalLabel">Passengers</h6>
                    </div>
                    <div class="modal-body">
                        <span>
                            <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  Adults
                                </div>
                                <div class="col-sm">
                                  <input type="button" class="increment" value="-" @click="decrement(1)"
                                         id="valAdultsDecrement"/>

                                      <input type="text" readonly
                                             style="padding: 1% 2%; width: 15%; border: none; text-align: center"
                                             v-model="form.valAdults" id="valAdults"/>
                                   <input type="button" class="increment" id="valAdultsIncrement" value="+"
                                          @click="increment(1)"/>
                                </div>
                              </div>
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  Children
                                </div>
                                <div class="col-sm">
                                  <input type="button" class="increment" value="-" @click="decrement(2)"
                                         id="valChildrenDecrement"/>

                                      <input type="text" readonly
                                             style="padding: 1% 2%; width: 15%; border: none; text-align: center"
                                             v-model="form.valChildren" id="valChildren"/>
                                   <input type="button" class="increment" value="+" @click="increment(2)"
                                          id="valChildrenIncrement"/>`
                                </div>
                              </div>
                            </div>
                            <div class="dropdown-divider"></div>
                         <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  Infants
                                </div>
                                <div class="col-sm">
                                  <input type="button" class="increment" value="-" @click="decrement(3)"
                                         id="valInfantsDecrement"/>

                                      <input type="text" readonly
                                             style="padding: 1% 2%; width: 15%; border: none; text-align: center"
                                             v-model="form.valInfants" id="valInfants"/>
                                  <input type="button" class="increment" value="+" @click="increment(3)"
                                         id="valInfantsIncrement"/>
                                </div>
                              </div>
                            </div>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" style="width: 50%; background: aliceblue;"
                                data-dismiss="modal">Close
                        </button>
                        <button type="button" class="btn" style="width: 50%; background: #00B7FF;color: #fff"
                                data-dismiss="modal">Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% if user.is_authenticated %}
            {% if user.subscriptions.plan %}
                <div class="asset_box">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-4 mt-4 m-md-0">
                                <a href="{% url "accounts" %}">
                                    <button class="search_btn  w-100 main-btn-full">{{ user.subscriptions }} Credits
                                        Available
                                    </button>
                                </a>
                            </div>
                            <div class="d-block d-md-none divider-30"></div>
                            <div class="col-12 col-md-4 mt-4 m-md-0">
                                <a href="{% url "accounts" %}">
                                    <button class="search_btn w-100 main-btn-full">Add More Credits</button>
                                </a>
                            </div>
                            <div class="d-block d-md-none divider-30"></div>
                            <div class="col-12 col-md-4 mt-4 m-md-0">
                                <a href="{% url "accounts" %}">
                                    <button class="search_btn w-100 main-btn-full">Add a Travel Companion</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="asset_box">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-4 mt-4 m-md-0">
                                <a href="{% url "accounts" %}">
                                    <button class="search_btn  w-100 main-btn-full">Add Traveler Information
                                    </button>
                                </a>
                            </div>
                            <div class="d-block d-md-none divider-30"></div>
                            <div class="col-12 col-md-4 mt-4 m-md-0">
                                <a href="{% url "accounts" %}">
                                    <button class="search_btn w-100 main-btn-full">Subscribe to Wanderift Lite or Pro
                                    </button>
                                </a>
                            </div>
                            <div class="d-block d-md-none divider-30"></div>
                            <div class="col-12 col-md-4 mt-4 m-md-0">
                                <a href="{% url "how-it-works" %}">
                                    <button class="search_btn w-100 main-btn-full">Travel Tips</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="asset_box">
                <div class="container">
                    <div class="row justify-content-center" style="text-align:center">
                        <div class="col-12 col-md-3 mt-4 m-md-0">
                            <img class="img_asset" src="{% static "images/simple.png" %}" style="width:210px;">
                        </div>
                        <div class="d-block d-md-none divider-30"></div>
                        <div class="col-12 col-md-3 mt-4 m-md-0">
                            <img class="img_asset" src="{% static "images/forbes.png" %}">
                        </div>
                        <div class="d-block d-md-none divider-30"></div>
                        <div class="col-12 col-md-3 mt-4 m-md-0">
                            <img class="img_asset" src="{% static "images/smart.png" %}">
                        </div>
                        <div class="d-block d-md-none divider-30"></div>
                        <div class="col-12 col-md-3 mt-4 m-md-0">
                            <img class="img_asset" src="{% static "images/tech-crunch.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="placesModal" tabindex="-1" role="dialog" aria-labelledby="placesModalCenterTitle"
             aria-hidden="true" onblur="choosePlaces()">
            <div class="modal-dialog " role="document">
                <div class="modal-content" style="top: 160px;">
                    <div class="modal-body">
                        <div class="row pop2_first">
                            <div class="col-12" style="text-align:left; margin-bottom: 2%"><p id="placesModalTitle"></p>
                            </div>
                            <div class="col-12" style="text-align:right">
                                <!--  <p style="color:#8092a9; cursor: pointer;"  @click="clearList"><i
                                      class="fa fa-times" style="margin-left:5px"></i></p>--></div>
                        </div>
                        <div class="row pop2_second">
                            <div class="col-12">
                                <div>
                                    <div style="border: 1px solid #00B7FF; border-radius: 5px; padding: 2%">
                                        <div class="search_selected_values">
                                            <button class="sel_place_btn" style="margin: 2%" id="mySelectedPlace">
                                                <i class="fa fa-times-circle" style="margin-right:5px"
                                                   @click="clearPlaceItem(index)"></i>

                                            </button>
                                        </div>

                                    <ol class="search_result_list">
                                        <li v-for="(place, index) of searchResultPlaces">
                                            <button class="btn search_result_list_item"
                                                    @click="setPlace(place.nameCity,place.codeIataCity,index)">
                                                <i class="fa fa-building" style="padding-right: 2%"></i>
                                                <i class="fa fa-plane" style="padding-right: 2%"
                                                   :hidden="true"></i>
                                                {( place.nameCity )}
                                            </button>
                                            <button class="btn search_result_list_item"
                                                    @click="setPlace(place.nameCity,place.codeIataCity,index)">
                                                <i class="fa fa-plane" style="padding-right: 2%"></i>
                                                {( place.airport.nameAirport )}
                                            </button>
                                        </li>
                                    </ol>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        {#                        <button class="pop2_footer_left" data-dismiss="modal">Cancel</button>#}
                        <button class="pop2_footer_right" @click="choosePlaces">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="recent-searches mt-5 pt-5" style="display: none">
        <div class="container">
            <div class="content_container">
                <p class="sec_one_head" style="font-size: 35px;">Recent Flight Searches</p>
                <p class="sec_one_subhead" style="font-size: 18px; font-weight:400; margin-bottom: 30px;">
                    Take a look at all your recent searches, if you want to view the results again
                    just click on one of the boxes.
                </p>
                <div class="card-group">
                    <div class="card m-2 border">
                        <div class="card-body">
                            <h5 class="card-title">New York - Los Angeles</h5>
                            <p class="card-text">Trip dates - 8/12 | 8/16</p>
                            <p class="card-text">Average Price - $124</p>
                            <p class="card-text">
                                Typical Carriers -
                                <img src="{% static "images/jetblue.png" %}" alt="Airline" height="25">
                                <img src="{% static "images/spirit.png" %}" alt="Airline" height="25">
                            </p>
                        </div>
                    </div>
                    <div class="card m-2 border">
                        <div class="card-body">
                            <h5 class="card-title">New York - Los Angeles</h5>
                            <p class="card-text">Trip dates - 8/12 | 8/16</p>
                            <p class="card-text">Average Price - $124</p>
                            <p class="card-text">
                                Typical Carriers -
                                <img src="{% static "images/jetblue.png" %}" alt="Airline" height="25">
                                <img src="{% static "images/spirit.png" %}" alt="Airline" height="25">
                            </p>
                        </div>
                    </div>
                    <div class="card m-2 border">
                        <div class="card-body">
                            <h5 class="card-title">New York - Los Angeles</h5>
                            <p class="card-text">Trip dates - 8/12 | 8/16</p>
                            <p class="card-text">Average Price - $124</p>
                            <p class="card-text">
                                Typical Carriers -
                                <img src="{% static "images/jetblue.png" %}" alt="Airline" height="25">
                                <img src="{% static "images/spirit.png" %}" alt="Airline" height="25">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-5 pt-4">
        <div class="container pt-5">
            <div class="content_container">
                <p class="sec_one_head" style="font-size: 35px;">Trending Flights
                </p>
                <p class="sec_one_subhead" style="font-size: 18px; font-weight:400; margin-bottom: 30px;">Take a look at
                    the current flights
                    Wanderift travelers are searching and booking
                </p>
                <div class="row justify-content-start">
                    <div class="col-lg-4">
                        <img class="img_content" src="{% static "images/lasvegas.jpg" %}">
                        <p class="sec_one_subhead">Dallas (DAL) - Las Vegas (LAS)</p>
                        <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 400;">$275 -
                            Round
                            Trip Retail Price</p>
                        <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">2 Credits, or $238 - Round
                            Trip
                            Wanderift</p>
                    </div>
                    <div class="col-lg-4">
                        <img class="img_content" src="{% static "images/newyork.jpg" %}">
                        <p class="sec_one_subhead">San Francisco (SFO) - New York (LGA)</p>
                        <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 400;">$334 -
                            Round
                            Trip Retail Price</p>
                        <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">2 Credits, or $238 - Round
                            Trip
                            Wanderift</p>
                    </div>
                    <div class="col-lg-4">
                        <img class="img_content" src="{% static "images/seattle.jpg" %}">
                        <p class="sec_one_subhead">Los Angeles (LAX) - Seattle (SEA)</p>
                        <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 400;">$264 -
                            Round
                            Trip Retail Price</p>
                        <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">2 Credits, or $238 - Round
                            Trip
                            Wanderift</p>
                    </div>
                </div>
            </div>
            <div class="content_container divider" style="margin-top: 80px;">
                <p class="sec_one_head" style="font-size: 35px;">Top Destinations of October
                <p>
                <p class="sec_one_subhead" style="font-size: 18px; font-weight:400;  margin-bottom: 30px;">We’ve taken
                    all
                    the flight bookings and
                    listed out the top places our travelers are booking

                <p>
                    <div class="row justify-content-start">
                        <div class="col-lg-4">
                            <img class="img_content" src="{% static "images/chicago.jpg" %}">
                <p class="sec_one_subhead" style="margin-bottom:10px;">Chicago, IL (ORD)</p>
                <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 400;">Average flight
                    price $233</p>
                <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">Most Frequent Carrier, United</p>
            </div>
            <div class="col-lg-4">
                <img class="img_content" src="{% static "images/miami.jpg" %}">
                <p class="sec_one_subhead" style="margin-bottom:10px;">Miami, FL (MIA)</p>
                <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 400;">Average flight
                    price $168</p>
                <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">Most Frequent Carrier, American</p>
            </div>
            <div class="col-lg-4">
                <img class="img_content" src="{% static "images/sanfrancisco.jpg" %}">
                <p class="sec_one_subhead" style="margin-bottom:10px;">San Francisco, CA (SFO)</p>
                <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 400;">Average flight
                    price $183</p>
                <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">Most Frequent Carrier, American</p>
            </div>
        </div>

        </div>
        </div>
    </section>


    <section>
        {% include "_includes/footer.html" %}
    </section>
{% endblock %}
{% block jscontent %}
    <script src="{% static "js/home.js" %}"></script>
    <script>
        let tripButton = document.querySelector(".btn-group");
        let picker = new Lightpick({
            field: document.getElementById('departure_date'),
            secondField: document.getElementById('return_date'),
            singleDate: false,
            onSelect: function (start, end) {
                var str = '';
                str += start ? start.format('Do MMMM YYYY') + ' to ' : '';
                str += end ? end.format('Do MMMM YYYY') : '...';
            }
        });
    </script>
{% endblock %}
