<div class="modal fade" id="passengersModal" tabindex="-1" role="dialog"
     aria-labelledby="passengersModalLabel"
     aria-hidden="true">
    <div class="modal-dialog mt-5 pt-1" role="document">
        <div class="modal-content mt-5">
            <div class="modal-header">
                <h6 class="modal-title" id="passengersModalLabel">
                    Passengers</h6>
            </div>
            <div class="modal-body">
                        <span>
                            <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  Adults
                                </div>
                                <div class="col-sm">
                                  <input type="button" class="increment" value="-"
                                         @click="decrement(1)"
                                         id="valAdultsDecrement"/>

                                      <input type="text" readonly
                                             style="padding: 1% 2%; width: 15%; border: none; text-align: center"
                                             v-model="form.valAdults" id="valAdults"/>
                                   <input type="button" class="increment"
                                          id="valAdultsIncrement" value="+"
                                          @click="increment(1)"/>
                                </div>
                              </div>
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  Children
                                </div>
                                <div class="col-sm">
                                  <input type="button" class="increment" value="-"
                                         @click="decrement(2)"
                                         id="valChildrenDecrement"/>

                                      <input type="text" readonly
                                             style="padding: 1% 2%; width: 15%; border: none; text-align: center"
                                             v-model="form.valChildren"
                                             id="valChildren"/>
                                   <input type="button" class="increment" value="+"
                                          @click="increment(2)"
                                          id="valChildrenIncrement"/>`
                                </div>
                              </div>
                            </div>
                            <div class="dropdown-divider"></div>
                         <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  Infants
                                </div>
                                <div class="col-sm">
                                  <input type="button" class="increment" value="-"
                                         @click="decrement(3)"
                                         id="valInfantsDecrement"/>

                                      <input type="text" readonly
                                             style="padding: 1% 2%; width: 15%; border: none; text-align: center"
                                             v-model="form.valInfants" id="valInfants"/>
                                  <input type="button" class="increment" value="+"
                                         @click="increment(3)"
                                         id="valInfantsIncrement"/>
                                </div>
                              </div>
                            </div>
                        </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn"
                        style="width: 50%; background: aliceblue;"
                        data-dismiss="modal">Close
                </button>
                <button type="button" class="btn"
                        style="width: 50%; background: #00B7FF;color: #fff"
                        data-dismiss="modal">Save changes
                </button>
            </div>
        </div>
    </div>
</div>
