{% load static %}
<section class="recent-searches mt-5 pt-5" style="display: none">
    <div class="container">
        <div class="content_container">
            <p class="sec_one_head" style="font-size: 35px;">Recent Flight
                Searches</p>
            <p class="sec_one_subhead"
               style="font-size: 18px; font-weight:400; margin-bottom: 30px;">
                Take a look at all your recent searches, if you want to view the
                results again
                just click on one of the boxes.
            </p>
            <div class="card-group">
                <div class="card m-2 border">
                    <div class="card-body">
                        <h5 class="card-title">New York - Los Angeles</h5>
                        <p class="card-text">Trip dates - 8/12 | 8/16</p>
                        <p class="card-text">Average Price - $124</p>
                        <p class="card-text">
                            Typical Carriers -
                            <img src="{% static "images/jetblue.png" %}"
                                 alt="Airline" height="25">
                            <img src="{% static "images/spirit.png" %}"
                                 alt="Airline" height="25">
                        </p>
                    </div>
                </div>
                <div class="card m-2 border">
                    <div class="card-body">
                        <h5 class="card-title">New York - Los Angeles</h5>
                        <p class="card-text">Trip dates - 8/12 | 8/16</p>
                        <p class="card-text">Average Price - $124</p>
                        <p class="card-text">
                            Typical Carriers -
                            <img src="{% static "images/jetblue.png" %}"
                                 alt="Airline" height="25">
                            <img src="{% static "images/spirit.png" %}"
                                 alt="Airline" height="25">
                        </p>
                    </div>
                </div>
                <div class="card m-2 border">
                    <div class="card-body">
                        <h5 class="card-title">New York - Los Angeles</h5>
                        <p class="card-text">Trip dates - 8/12 | 8/16</p>
                        <p class="card-text">Average Price - $124</p>
                        <p class="card-text">
                            Typical Carriers -
                            <img src="{% static "images/jetblue.png" %}"
                                 alt="Airline" height="25">
                            <img src="{% static "images/spirit.png" %}"
                                 alt="Airline" height="25">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
