{% load static %}
<div class="content_container divider" style="margin-top: 80px;">
    <p class="sec_one_head" style="font-size: 35px;">Top Destinations of October</p>
    <p class="sec_one_subhead" style="font-size: 18px; font-weight:400;  margin-bottom: 30px;">Take a look at the current flights Wanderift travelers are searching and booking.</p>
    <div class="row justify-content-start">
        <div class="col-lg-4">
            <img class="img_content"
                 src="{% static "images/chicago.jpg" %}">
            <p class="sec_one_subhead" style="margin-bottom:10px;">Chicago, IL
                (ORD)</p>
            <p class="sec_one_subhead"
               style="font-size:15px; margin-bottom: 8px; font-weight: 400;">Average
                flight
                price $233</p>
            <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">
                Most Frequent Carrier, United</p>
        </div>
        <div class="col-lg-4">
            <img class="img_content" src="{% static "images/miami.jpg" %}">
            <p class="sec_one_subhead" style="margin-bottom:10px;">Miami, FL
                (MIA)</p>
            <p class="sec_one_subhead"
               style="font-size:15px; margin-bottom: 8px; font-weight: 400;">Average
                flight
                price $168</p>
            <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">
                Most Frequent Carrier, American</p>
        </div>
        <div class="col-lg-4">
            <img class="img_content" src="{% static "images/sanfrancisco.jpg" %}"
                 alt="San Francisco"/>
            <p class="sec_one_subhead" style="margin-bottom:10px;">San Francisco, CA
                (SFO)</p>
            <p class="sec_one_subhead"
               style="font-size:15px; margin-bottom: 8px; font-weight: 400;">Average
                flight
                price $183</p>
            <p class="sec_one_subhead" style="font-size:15px; font-weight: 400;">
                Most Frequent Carrier, American</p>
        </div>
    </div>
</div>
