{% load static %}
<div class="content_container">
    <p class="sec_one_head" style="font-size: 35px;">Trending Flights
    </p>
    <p class="sec_one_subhead"
       style="font-size: 18px; font-weight:400; margin-bottom: 30px;">Take a look at the current flights Wanderift travelers are searching and booking.
    </p>
    <div class="row justify-content-start">
        <div class="col-lg-4">
            <img class="img_content"
                 src="{% static "images/lasvegas.jpg" %}">
            <p class="sec_one_subhead">Dallas (DAL) - Las Vegas (LAS)</p>
            <p class="sec_one_subhead"
               style="font-size:15px; margin-bottom: 8px; font-weight: 400;">
                $275 -
                Round
                Trip Retail Price</p>
            <p class="sec_one_subhead"
               style="font-size:15px; font-weight: 400;">2 Credits, or $238
                - Round
                Trip
                Wanderift</p>
        </div>
        <div class="col-lg-4">
            <img class="img_content"
                 src="{% static "images/newyork.jpg" %}">
            <p class="sec_one_subhead">San Francisco (SFO) - New York
                (LGA)</p>
            <p class="sec_one_subhead"
               style="font-size:15px; margin-bottom: 8px; font-weight: 400;">
                $334 -
                Round
                Trip Retail Price</p>
            <p class="sec_one_subhead"
               style="font-size:15px; font-weight: 400;">2 Credits, or $238
                - Round
                Trip
                Wanderift</p>
        </div>
        <div class="col-lg-4">
            <img class="img_content"
                 src="{% static "images/seattle.jpg" %}">
            <p class="sec_one_subhead">Los Angeles (LAX) - Seattle (SEA)</p>
            <p class="sec_one_subhead"
               style="font-size:15px; margin-bottom: 8px; font-weight: 400;">
                $264 -
                Round
                Trip Retail Price</p>
            <p class="sec_one_subhead"
               style="font-size:15px; font-weight: 400;">2 Credits, or $238
                - Round
                Trip
                Wanderift</p>
        </div>
    </div>
</div>
