body{
	font-family: 'Montserrat', sans-serif !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
/*********************
    Destinations
*********************/

.full-sectionbg{
    background:#131f3f;
    padding-top: 50px;
    padding-bottom: 100px;
}
.title_detail .des-title{
    color: #fff;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 1px;
}
.title_detail .des-descrption{
    color: #fff;
    font-size: 19px;
    line-height: 32px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.bottom-section{
    margin-top: 60px;
}
.bottom-section h3{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.Subscriber-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.Subscriber-list li{
    display: inline-block;
    margin: 0px 5px;
}
.Subscriber-list li a{
    color: #fff;
    font-size: 12px;
}
.Subscriber-list li span{
    color: #fff;
    font-size: 6px;
    position: relative;
    left: 5px;
    top: -1px;
}
.destinations-list li a{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}
.btn-section{
    margin-top: 20px;
}
.btn-section .btn{
    background: #00b7ff;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-color: #00b7ff;
    border-radius: 0px;
    padding: 10px 40px;
    font-weight: 600;
    margin: 0px 15px; 
}
.btn-section .btn.btn-secondary{
    background:transparent;
}
.map-section img{
    width: 100%;
}

/*********************
    Plan pick up
*********************/

.topbox{
    background:#131f3f;
    padding-top: 30px;
    padding-bottom: 30px;
}
.topboxFont h3{
    color: #fff;
    font-size: 33px;
    font-weight: 600;
}
.topboxFont p{
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    padding-top: 10px;
}

.how-it-work{
    background:#f7f9ff;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.howitFont h3{
    color: #131f3f;
    font-size: 24px;
    font-weight: 600;  
}
.howitFont p{
    color: #131f3f;
    font-size: 17px;
}
.box-04 span{
    font-size: 50px;
    color:#00b9ff;
}
.box-04 h3 {
    font-size: 23px;
    font-weight: 600;
    color: #131f3f;
}
.box-04 p{
    font-size: 17px;
    margin: 18px 52px;
    line-height: 35px;
    color: #131f3f;
}
.topspace{
    margin-top: 30px;
}
.available-plan{
    margin-bottom: 50px;
}
.available-plan .btn{
    line-height: 20px;
    font-weight: 400;
}
.box-03 h3{
    font-size: 23px;
    font-weight: 600;
    color: #131f3f;    
}
.box-03 p{
    font-size: 17px;
    margin: 18px 7px;
    line-height: 35px;
    color: #131f3f;
}
.btn-get .btn{
    background: #00b9ff;
    border-color: #00b9ff;
    padding: 10px 42px;
    border-radius: 0px;
    color: #fff;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
}



@media(min-width: 320px) and (max-width: 480px){
.formBg{
    margin-top:10px;
    margin-bottom: 20px;
}
.map-section img{
    width: 100%;
}
.title_detail .des-title{
    font-size: 19px;
}
.title_detail .des-descrption{
    font-size: 12px;
    line-height: 24px;
}
.btn-section .btn{
    margin-bottom:20px;
    padding: 10px 18px;
}
.btn-section {
    margin-top: 20px;
    display: inline-flex;
}
.full-sectionbg {
    background: #131f3f;
    padding-top: 13px;
    padding-bottom: 30px;
}

/**** Plan Screen ********/
.topboxFont h3 {
    font-size: 15px;
}
.topboxFont p {
    font-size: 11px;
    line-height: 19px;
}


}

@media(max-width: 768px){

.title_detail .des-descrption {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
}
.box-04 h3 {
    font-size: 18px;
}
.box-04 p {
    font-size: 17px;
    margin: 18px 1px;
}
.box-03 h3 {
    font-size: 15px;
}
.box-03 p {
    font-size: 11px;
    margin: 18px 1px;
}

}
