{% load static %}
<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                  <div class="centeralign-footer">
                    <h3>Contact</h3>
                    <ul class="content">
                        <li><a href="{% url "faq" %}">Help</a></li>
                        <li><a href="{% url "news" %}">Press</a></li>
                        <li><a href="{% url "partners" %}">Partners</a></li>
                    </ul>
                    <h3>Company</h3>
                    <ul class="content">
                        <li><a href="{% url "about" %}">About</a></li>
                        <li><a href="{% url "plans" %}">Flyline Team</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 col-12">
                  <div class="centeralign-footer">
                    <h3>Popular Flight</h3>
                    <ul class="content">
                        <li><a href="#">Dallas-Las Vegas</a></li>
                        <li><a href="#">New York - San Francisco</a></li>
                        <li><a href="#">San Francisco - Seattle</a></li>
                        <li><a href="#">San Francisco - Las Vegas</a></li>
                        <li><a href="#">New York - Atlanta</a></li>
                        <li><a href="#">Los Angeles - San Francisco</a></li>
                        <li><a href="#">Dallas - Los Angeles</a></li>
                        <li><a href="#">San Francisco - Austin</a></li>
                    </ul>
                  </div>  
                </div>
                <div class="col-md-4 col-12">
                  <div class="centeralign-footer">
                    <h3>Travel Tips</h3>
                    <ul class="content">
                        <li><a href="#">When to Book Last Minute</a></li>
                        <li><a href="#">Top Airlines</a></li>
                        <li><a href="#">Where Not to Book</a></li>
                        <li><a href="#">Cheapest Cities to Fly</a></li>
                        <li><a href="#">When Not to Book</a></li>
                    </ul>
                </div>
              </div>  
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="sub-menus">
            <ul>
                <li><a href="#">Built in Dallas </a></li>
                <li><a href="#">Terms & Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
