{% load static %}


<footer>
    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-12">
             <div class="sub-menus">
                <ul>
                    <li><a href="#">Terms & Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>

                </ul>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <p>Coming Soon</p>
            <ul class="content">
              <li><a href="#"><img src="{% static "home/img/app-store-icon.png" %}" style="width:100px; margin-right: 20px;"></a></li>
              <li><a href="#"><img src="{% static "home/img/google_play_icon.png" %}" style="width:100px; margin-right: 0px;"></a></li>
            </ul>
          </div>
          <div class="col-md-3 col-12">
            <div class="social-icon">
              <ul>
                <li><a href="#"> <img src="{% static "home/img/instagram.png" %}"/> </a></li>
                <li><a href="#"> <img src="{% static "home/img/twitter.png" %}"/> </a></li>
                <li><a href="#"> <img src="{% static "home/img/facebook.png" %}"/> </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

</footer>
