{% load static %}
<footer class="footer_box">
          <div class="footer_box_container" style="padding-bottom: 60px;">
              <div class="row justify-content-center" >
                  <div class="col-lg-10">
                      <div class="row justify-content-center">
                        <div class="col-lg-4" style="padding-left: 100px;">
                            <p class="footer_head">Contact</p>
                            <a class="footer_link" href="">About</a>
                            <a class="footer_link" href="">Press</a>
                            <a class="footer_link" href="">Partners</a>
                        </div>
                          <div class="col-lg-4">
                            <p class="footer_head">Company</p>
                            <a class="footer_link" href="">Help | FAQ’s</a>
                            <a class="footer_link" href="">Mobile Booking</a>
                            <a class="footer_link" href="">Subscripitons</a>
                        </div>
                          <div class="col-lg-4" style="padding-right: 100px;">
                            <p class="footer_head">More</p>
                            <a class="footer_link" href="">Advertising</a>
                            <a class="footer_link" href="">Airline Fees</a>
                            <a class="footer_link" href="">Feedback</a>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-4">
                      <div class="row justify-content-center" style="margin-top: 40px;">
                        <div class="col-lg-6">
                            <a class="footer_link" href="" style="padding-right: 0px;padding-left: 80px;">Terms</a>
                        </div>
                          <div class="col-lg-6">
                            <a class="footer_link" href="" style="padding-left: 0px;padding-right: 80px;">Privacy</a>

                        </div>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-4">
                      <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <a class="footer_link" href=""><i class="fa fa-facebook icon_social"></i></a>
                        </div>
                          <div class="col-lg-4">
                            <a class="footer_link" href=""><i class="fa fa-instagram icon_social"></i></a>
                        </div>
                          <div class="col-lg-4">
                            <a class="footer_link" href=""><i class="fa fa-twitter icon_social"></i></a>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center text_bottom_box">
                  <div class="col-lg-8">
                      <div class="row justify-content-center">
                          <p class="footer_lower_text" style="text-align:center; width: 640px; ">Save time and money when booking with Wanderift. Subscribe and always pay the same price for your flight when booking with tokens.</p>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center text_bottom_box">
                  <div class="col-lg-8">
                      <div class="row justify-content-center">
                          <a class="custom_img_link" href=""><img class="img_logo" src="{% static "images/Logo.png" %}" alt="logo"></a>
                      </div>
                  </div>
              </div>
          </div>
      </footer>