{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock %}

<nav class="pr-md-3">
    <div class="navbar-expand-lg navbar-light text-center pb-3">
        <a class="navbar-brand mx-auto" href="{% url "index" %}">
            <img src="{% static "images/Wanderift-Logo.png" %}" alt="" width="140">
        </a>
        <button class="navbar-toggler ml-auto collapsed" type="button" data-toggle="collapse" data-target="#navb"
                aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="clearfix"></div>
        <div>
            {% if user.is_authenticated %}
                {% if user.subscriptions.plan %}
                    <a class="nav_btn_link" href="{% url "accounts" %}">
                        <button class="custom_btn">{{ user.subscriptions.tokens }} credits available</button>
                    </a>
                {% else %}
                    <a class="nav_btn_link" href="{% url "accounts" %}">
                        <button class="custom_btn">Subscribe to Wanderift</button>
                    </a>
                {% endif %}
            {% else %}
                <a class="nav_btn_link" href="{% url "sign-up" %}"><button class="custom_btn">Get Started</button></a>
            {% endif %}

            <div class="navbar-collapse collapse p-2" id="navb">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item ml-md-4">
                            <a class="custom_nav_link" href="{% url "trips" %}">Trips </a>
                        </li>
                        <li class="nav-item ml-md-4">
                            <a class="custom_nav_link" href="{% url "faq" %}">Help</a>
                        </li>
                        <li class="nav-item ml-md-4">
                            <a class="custom_nav_link" href="{% url "accounts" %}">Account</a>
                        </li>
                    {% else %}
                        <li class="nav-item ml-md-4">
                            <a class="custom_nav_link" href="{% url "how-it-works" %}">How It Works</a>
                        </li>
                        <li class="nav-item ml-md-4">
                            <a class="custom_nav_link" data-toggle="modal"
                               href="{% url "sign-in" %}">Sign In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
