{% load static %}
{% if user.is_authenticated %}
{% else %}
    <div class="promo_banner banner-sticky">
        <p class="promo_banner_text mb-0">{% if promo_text %}{{ promo_text }}{% else %}Looking to save thousands on flights? Subscribe to Wanderift Lite or Pro
            and
            Save{% endif %}
            <button class="promo_btn" style="margin-left: 20px;">
                <a class="header_nav_link" style="color: #00B7FF" href="{% url "how-it-works" %}">
                    {% if promo_button_text %}{{ promo_button_text }}{% else %}Learn More{% endif %}
                </a>
            </button>
        </p>
    </div>
{% endif %}
