{% load static %}
{% if user.is_authenticated %}
{% else %}
    <div class="promo_banner banner-sticky">
        <p class="promo_banner_text mb-0">Looking to save thousands on flights? Subscribe to Wanderift Lite or Pro
            and
            Save
            <button class="promo_btn" style="margin-left: 20px;">
                <a class="header_nav_link" style="color: #00B7FF" href="{% url "how-it-works" %}">
                    Learn More
                </a>
            </button>
        </p>
    </div>
{% endif %}
