beautifulsoup4
django-sendgrid-webhook
stripe
django
requests
django-spurl
sendgrid
sentry-sdk
django-suit

python-dotenv
psycopg2-binary
invoke

django-extensions
factory-boy
django-enumfield
django-anymail
django-storages[google]
gunicorn
django-credit-cards
django-filter
django-rest-knox
git+https://github.com/leotrubach/django-rest-framework-proxy@fad224805c207c871cde0a394ee5eae7fb9c3750

celery[redis]

django-maintenancemode

django-rest-framework

django_compressor
django-libsass
lxml
slimit
csscompressor

aiohttp[speedups]
asgiref

pytest
pytest-django
pytest-xdist

