beautifulsoup4
django-sendgrid-webhook
stripe
django
requests
django-spurl
sendgrid
sentry-sdk
django-suit

python-dotenv
psycopg2
invoke

django-extensions
factory-boy
django-enumfield
django-anymail
django-storages[google]
gunicorn
django-credit-cards

celery[redis]

django-maintenancemode

django-rest-framework
