<script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "BreadcrumbList", 
  "itemListElement": [{
    "@type": "ListItem", 
    "position": 1, 
    "name": "https://wanderift.com/",
    "item": "https://wanderift.com/info/how-it-works"  
  },{
    "@type": "ListItem", 
    "position": 2, 
    "name": "https://wanderift.com/",
    "item": "https://wanderift.com/info/plans"  
  },{
    "@type": "ListItem", 
    "position": 3, 
    "name": "https://wanderift.com/",
    "item": "https://wanderift.com/info/destinations"  
  },{
    "@type": "ListItem", 
    "position": 4, 
    "name": "https://wanderift.com/",
    "item": "https://wanderift.com/sign-up/"  
  },{
    "@type": "ListItem", 
    "position": 5, 
    "name": "https://wanderift.com/",
    "item": "https://wanderift.com/sign-in/"  
  },{
    "@type": "ListItem", 
    "position": 6, 
    "name": "https://wanderift.com/",
    "item": "https://wanderift.com/info/how-it-works"  
  }]
}
</script>