<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "What Are the Baggage Fees?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Navigate to our baggage fees page to learn how much the added baggage fees are for you."
    }
  },{
    "@type": "Question",
    "name": "How Do I Book a Flight with My Child?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Select the number of children passengers and have your child as an additional passenger."
    }
  },{
    "@type": "Question",
    "name": "Do Flight Prices Include the Taxes and Fees?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "The prices on Wanderift include the applicable taxes and fees. The ONLY thing it does not include is checked baggage or the airlines that charge you for seat selection."
    }
  },{
    "@type": "Question",
    "name": "Can I Add My Flight Miles?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, you can absolutely add your flight miles. We know how important flight miles can be for our passengers, and we certainly do not want to leave that out for you!"
    }
  },{
    "@type": "Question",
    "name": "Can I Rollover Credits Each Month?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes you can, it just depends on which plan. Wanderift LITE allows up to ONE credit to rollover while Wanderift PRO allows up to TWO credits to roll over each month."
    }
  },{
    "@type": "Question",
    "name": "Can I Earn Frequent Flyer Miles?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes you can earn your Frequent Flyer Miles! We do not take that feature away from our subscribers."
    }
  },{
    "@type": "Question",
    "name": "Do Wanderift Flights Include Baggage Fees?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No we do not include baggage fees with your booking(s), as this is an additional cost dictated by each airline company."
    }
  },{
    "@type": "Question",
    "name": "Can I Book a Flight for Another Person?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Absolutely! Travel is better with a companion! Just have them create a free Wanderift account, and share credits (flights) with them. Sharing is as easy as that!"
    }
  }]
}
</script>