<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Wanderift",
  "image": "https://wanderift.com/static/home/img/logo.png",
  "@id": "",
  "url": "https://wanderift.com",
  "telephone": "(469) 389-1572",
  "priceRange": "$000 - $000",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "5303 Challenger Drive",
    "addressLocality": "Dallas",
    "addressRegion": "TX",
    "postalCode": "75232",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 32.6807951,
    "longitude": -96.86471130000001
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
  },
  "sameAs": [
    "https://www.facebook.com/Wanderift",
    "https://twitter.com/wanderift",
    "https://wanderift.com",
    "https://www.youtube.com/channel/UCNvGQkjc-vK3lhWgKgeOMSA/",
    "https://www.instagram.com/wanderift/",
    "https://www.linkedin.com/company/wanderiftair/",
    "https://www.pinterest.com/0zpqzugiv3th0kevo2149n1es8ep5u/"
  ]
}
</script>