<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Airline",
  "name": "wanderift",
  "url": "https://wanderift.com",
  "logo": "https://wanderift.com/static/home/img/logo.png",
  "sameAs": [
    "https://www.facebook.com/Wanderift",
    "https://twitter.com/wanderift",
    "https://www.instagram.com/wanderift",
    "https://www.youtube.com/channel/UCNvGQkjc-vK3lhWgKgeOMSA",
    "https://www.linkedin.com/company/wanderiftair",
    "https://www.pinterest.com/0zpqzugiv3th0kevo2149n1es8ep5u",
    "https://wanderift.com"
  ]
}
</script>
