{% extends "base.html" %}
{% load static %}
{% block csscontent %}
    <link rel="stylesheet" type="text/css" href="{% static "css/retail.css" %}">
{% endblock %}
{% block content %}
    <section class="navbar-section">
        {% include "_includes/navbar.html" %}
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <div class="main-heading">
                        <h3>{{ retail_info.cityFrom }} <span class="fa fa-long-arrow-right"></span> {{ retail_info.cityTo }}
                                {% if not one_way %}and back{% endif %}</h3>
                    </div>

                    {% include "booking/includes/summary.html" %}
                    <div id="passengers">
                    {% include "booking/includes/passenger.html" %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default add-btn" id="js-add-passenger"><span
                                class="fa fa-user-plus"></span> Add another passenger
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    {% include "booking/includes/totals.html" %}
                    {% if subscription_benefits %}{% include "booking/includes/benefits.html" %}{% endif %}
                    {% include "booking/includes/checkout.html" %}
                </div>
            </div><!-- row -->
        </div>
    </section>
{% endblock %}
{% block jscontent %}
    <script src="{% static "js/passenger.js" %}"></script>
    <script src="{% static "js/bookflight.js" %}"></script>
{% endblock %}
