{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/faq.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}

{% block content %}

    <section class="navbar-section">
        {% include "_includes/navbar.html" %}
    </section>


    <section>
        <div class="search-bar pb-4 shadow" style="padding-top: 10px;padding-bottom: 80px;">
            <div class="container section-1 faq">
                <div class="row">
                    <div class="col-sm-12 text-center mt20 mb20">
                        <h2 class="page-title" style="font-size: 45px; padding-bottom: 15px;">Need some help?</h2>
                    </div>
                </div>
                <div class="row mb10">
                    <div class="col-sm-4 text-center">
                        <button class="btn btn-1 bold w-100 mt-2 mb-2"
                                style="padding-top: 10px;padding-bottom: 10px; font-size: 16px;">Find my Booking
                        </button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button class="btn btn-1 bold w-100 mt-2 mb-2"
                                style="padding-top: 10px;padding-bottom: 10px; font-size: 16px;">Airline
                        </button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button class="btn btn-1 bold w-100 mt-2 mb-2"
                                style="padding-top: 10px;padding-bottom: 10px; font-size: 16px;">Airline Fees
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container section-1 faq">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title p-0 pt-4" style="margin-top:50px;">Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container faq">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-sub-title pt-4 pb-3" style="margin-top:20px; margin-bottom: 20px;">Non Subscriber
                        Bookings</h4>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">What Are the Baggage Fees?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Navigate to our baggage fees page to learn how much the added baggage fees are for you.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">How Do I Book a Flight with My Child?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Select the number of children passengers and have your child as an additional passenger.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">Do Flight Prices Include the Taxes and
                            Fees?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            The prices on Wanderift include the applicable taxes and fees. The ONLY thing it does not
                            include is checked baggage or the airlines that charge you for seat selection.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">Can I Add My Flight Miles?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes, you can absolutely add your flight miles. We know how important flight miles can be for
                            our passengers, and we certainly do not want to leave that out for you!
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="page-sub-title pt-4 pb-3" style="margin-top: 20px; margin-bottom: 20px;">Wanderift Lift
                        or Pro Bookings</h4>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">Can I Rollover Tokens Each Month?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes you can, it just depends on which plan. Wanderift LITE allows up to ONE token to
                            rollover while Wanderift PRO allows up to TWO tokens to roll over each month.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">Can I Earn Frequent Flyer Miles?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes you can earn your Frequent Flyer Miles! We do not take that feature away from our
                            subscribers.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">Do Wanderift Flights Include Baggage
                            Fees?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            No we do not include baggage fees with your booking(s), as this is an additional cost
                            dictated by each airline company.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label style="font-size: 18px; font-weight: 500;">Can I Book a Flight for Another
                            Person?</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Absolutely! Travel is better with a companion! Just have them create a free Wanderift
                            account, and share tokens (flights) with them. Sharing is as easy as that!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="btn-1 mt50">
            <div class="container faq">
                <div class="row search">
                    <div class="col-sm-6">
                        <div class="card mt50 mb50">
                            <div class="card-body shadow p-4">
                                <div class="card-title mb-4">
                                    <h3 class="bold p-0 mt-0">Still have some questions?</h3>
                                </div>
                                <p class="text-dark" style="line-height: 1.7;">Didn't answer your question? No worries,
                                    send us an email
                                    info@wanderift.com and we'll answer any questions you've got</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mt50 mb50">
                            <div class="card-body shadow p-4">
                                <div class="card-title mb-4">
                                    <h3 class="bold p-0 mt-0">Feedback?</h3>
                                </div>
                                <p class="text-dark" style="line-height: 1.7;">Didn't answer your question? No worries,
                                    send us an email
                                    info@wanderift.com and we'll answer any questions you've got</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "_includes/footer.html" %}
{% endblock %}

{% block jscontent %}
    <script>
        jQuery(function ($) {
            $(".tab").click(function () {
                let id = $(this).index(".tab");

                $(this).toggleClass("active");
                $(".contents").eq(id).slideToggle('slow');
            });
        });
    </script>
{% endblock %}
