{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{#    <link rel="stylesheet" href="{% static "css/how-it-works.css" %}">#}
{% endblock %}

{% block content %}
    <noscript>
        <strong>We're sorry but wanderift doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <section style="padding-top: 15px; background-color: white; box-shadow: 0 2px 4px whitesmoke; border-bottom: 1px solid whitesmoke;">
        {% include "_includes/navbar.html" %}
    </section>
    <section>
        <div class="shadow background-colored">
            <div class="no-bg-color card w-100 border-0 pt-5 pb-5">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-8 d-flex">
                            <div class="card-body d-flex flex-column justify-content-around">
                                <h1 class="card-title">Start Saving Thousands on Flights</h1>
                                <div class="divider-15"></div>
                                <h4 class="card-text">
                                    Subscribe to either Wanderift Lite or Wanderift Pro and
                                    get unmatched savings on flights
                                </h4>
                                <div class="divider-30"></div>
                                <div class="card-buttons">
                                    <button href="{% url "subscription" %}" class="search_btn">View Plans</button>
                                    <button href="{% url "faq" %}" class="search_btn ml-3">FAQ's</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                          <img src="{% static "images/airplane.png" %}" class="card-img w-75" alt="How it works">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content_container pt-5 pb-5 w-75">
                <div class="col-12 text-center mt-5 pt-5 pb-5">
                    <h2>How The Subscriptons Work</h2>
                    <h5 class="text-muted">Change up your travel plans and start saving on flights today!</h5>
                </div>
                <div class="accordion subs-accordion mb-2" id="subsAccordion">
                     <div class="card border-0 mb-4 shadow">
                          <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                              <h2 class="mb-0 border">
                                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                          data-target="#collapse-1" aria-expanded="true"
                                          aria-controls="collapse-1">
                                        Collapsible Group Item #1
                                  </button>
                              </h2>
                          </div>
                          <div id="collapse-1" class="collapse" aria-labelledby="headingOne" data-parent="#subsAccordion">
                              <div class="card-body border">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                     </div>
                     <div class="card border-0 mb-4 shadow">
                          <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                              <h2 class="mb-0 border">
                                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                          data-target="#collapse-2" aria-expanded="true"
                                          aria-controls="collapse-2">
                                        Collapsible Group Item #2
                                  </button>
                              </h2>
                          </div>
                          <div id="collapse-2" class="collapse" aria-labelledby="headingOne" data-parent="#subsAccordion">
                              <div class="card-body border">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                    </div>
                     <div class="card border-0 mb-4 shadow">
                          <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                              <h2 class="mb-0 border">
                                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                          data-target="#collapse-3" aria-expanded="true"
                                          aria-controls="collapse-3">
                                        Collapsible Group Item #3
                                  </button>
                              </h2>
                          </div>
                          <div id="collapse-3" class="collapse" aria-labelledby="headingOne" data-parent="#subsAccordion">
                              <div class="card-body border">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                    </div>
                     <div class="card border-0 mb-4 shadow">
                        <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                             <h2 class="mb-0 border">
                               <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                      data-target="#collapse-4" aria-expanded="true"
                                      aria-controls="collapse-4">
                                    Collapsible Group Item #4
                               </button>
                             </h2>
                        </div>
                        <div id="collapse-4" class="collapse" aria-labelledby="headingOne" data-parent="#subsAccordion">
                          <div class="card-body border">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                    </div>
                 </div>
                <div class="col-12 text-center mt-5 pt-5 pb-5">
                     <h2>Subscription Plans</h2>
                     <h5 class="text-muted">
                         Choose between Lite and Pro. If your travel plans change throughout your subscription,
                         feel free to pause and reactivate your account!
                     </h5>
                 </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card shadow subscription-card mb-3">
                        <div class="card-header d-flex flex-column justify-content-end">
                            <h2 class="card-title">Wanderift Lite</h2>
                        </div>
                      <div class="card-body">
                        <h1>$ 369</h1>
                        <p class="card-text">Per Month / No long term commitment</p>
                          <ul>
                              <li>3 Tokens (3 One-way flights)</li>
                              <li>1 unsued token rollover</li>
                              <li>Fly All Major Airlines</li>
                              <li>Exclusive Hotel Deals</li>
                          </ul>
                        <a href="#" class="btn btn-primary main-btn-outline w-100">Get Started</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card shadow subscription-card mb-3">
                        <div class="card-header d-flex flex-column justify-content-between">
                            <p class="subscription-offer-notice w-100 text-center">Best Value Per Token</p>
                            <h2 class="card-title">Wanderift Pro</h2>
                        </div>
                      <div class="card-body">
                          <h1>$ 459</h1>
                        <p class="card-text">Per Month / No long term commitment</p>
                          <ul>
                              <li>4 Tokens (3 One-way flights)</li>
                              <li>2 unsued token rollover</li>
                              <li>Fly All Major Airlines</li>
                              <li>Exclusive Hotel Deals</li>
                          </ul>
                        <a href="#" class="btn btn-primary main-btn-outline w-100">Get Started</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center mt-5 pt-5 pb-5">
                     <h2>Frequently Asked Questions</h2>
                     <h5 class="text-muted">Here are a few words about aireline travel as a subscription</h5>
                 </div>
                <div class="accordion faq-accordion mb-2" id="faqAccordion">
                     <div class="card border-0 mb-4 shadow">
                          <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                              <h2 class="mb-0 border">
                                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                          data-target="#faq-collapse-1" aria-expanded="true"
                                          aria-controls="faq-collapse-1">
                                        Collapsible Group Item #1
                                  </button>
                              </h2>
                          </div>
                          <div id="faq-collapse-1" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
                              <div class="card-body border">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                     </div>
                    <div class="card border-0 mb-4 shadow">
                          <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                              <h2 class="mb-0 border">
                                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                          data-target="#faq-collapse-2" aria-expanded="true"
                                          aria-controls="faq-collapse-2">
                                        Collapsible Group Item #2
                                  </button>
                              </h2>
                          </div>
                          <div id="faq-collapse-2" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
                              <div class="card-body border">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                    </div>
                    <div class="card border-0 mb-4 shadow">
                          <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                              <h2 class="mb-0 border">
                                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                          data-target="#faq-collapse-3" aria-expanded="true"
                                          aria-controls="faq-collapse-3">
                                        Collapsible Group Item #3
                                  </button>
                              </h2>
                          </div>
                          <div id="faq-collapse-3" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
                              <div class="card-body border">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                              </div>
                          </div>
                    </div>
                    <div class="card border-0 mb-4 shadow">
                        <div class="card-header no-bg-color border-bottom-0 p-0" id="headingOne">
                             <h2 class="mb-0 border">
                               <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                                      data-target="#faq-collapse-4" aria-expanded="true"
                                      aria-controls="faq-collapse-4">
                                    Collapsible Group Item #4
                               </button>
                             </h2>
                        </div>
                        <div id="faq-collapse-4" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
                          <div class="card-body border">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-5 pt-5 pb-5">
                     <h2>Subscriber Testemonials</h2>
                     <h5 class="text-muted">Here are a few words about aireline travel as a subscription</h5>
                </div>
                <div class="row">
                    <div class="card col-4 p-3">
                        <h5>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit...</h5>
                    </div>
                    <div class="card col-4 p-3">
                        <h5>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit...</h5>
                    </div>
                    <div class="card col-4 p-3">
                        <h5>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit...</h5>
                    </div>
                    <div class="card col-4 p-3">
                        <h5>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit...</h5>
                    </div>
                    <div class="card col-4 p-3">
                        <h5>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit...</h5>
                    </div>
                    <div class="card col-4 p-3">
                        <h5>Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit...</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center background-colored pt-5 pb-5 mt-5 shadow">
            <div class="card-body">
                <h3 class="card-title">Ready to Get Started?</h3>
                <h5 class="card-text text-muted">Time to start saving? Click below and start saving on Flgihts!</h5>
                <div class="divider-30"></div>
                <a href="{% url "subscription" %}" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </section>
     <section>
        {% include "_includes/footer.html" %}
    </section>
{% endblock %}

{% block jscontent %}
{% endblock %}