<div class="checkout-section">
    <h3>Check out</h3>

    <form id="checkout" action="/booking_flight" method="POST">
        <div class="form-group">
            <label for="phone" class="control-label">Promo Code</label>
            <input type="text" class="form-control" id="promocode"
                   name="promocode">
        </div>

        <div class="form-group">
            <label for="nameoncard" class="control-label">Name on
                Card</label>
            <input type="text" class="form-control" name="holder_name" required>
        </div>
        <div class="form-group">
            <label for="creditcardno" class="control-label">Credit
                Card Number</label>
            <input type="text" class="form-control"
                   name="card_number">
        </div>

        <div class="colum-02">
            <div class="form-group col6">
                <label for="expdate" class="control-label">Exp
                    Date</label>
                <input type="text" class="form-control"
                       name="expiration_date" required>
            </div>

            <div class="form-group col6">
                <label for="ccv" class="control-label">CCV</label>
                <input type="text" class="form-control" name="credit_card_cvv" required>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="control-label">E-Mail</label>
            <input type="text" class="form-control"
                   name="email" value="{{ user.email }}" />
        </div>

        <div class="form-group">
            <label for="phone" class="control-label">Phone</label>
            <input type="text" class="form-control"
                   name="phone" value="{{ user.profile.phone_number }}" />
        </div>

        <div class="form-group">
            <button type="submit" id="checkout-submit-button" class="btn btn-default" style="margin-top: 10px;">Book Flight
                For $<b id="button-purchase-price">{{ total_price }}</b></button>
        </div>

    </form>

</div>
