{% load airline_icons %}
<div class="col-md-6">

    <h3 class="box-title">{% if not flight.return %}Departure{% else %}Return{% endif %} <span>Duration: {{ flight.duration }}</span></h3>

    <ul class="clander-list">
        <li>
        <li>{{ flight.date }}</li>
        <li class="pull-right">Economy</li> {# TODO: find way to display right fare class #}
    </ul>

    <div class="detail-box">
        <p>{{ flight.dep_time }} <span>{{ flight.cityFrom }} {{ flight.flyFrom }}</span></p>
        <p>{{ flight.arr_time }} <span>{{ flight.cityTo }} {{ flight.flyTo }}</span></p>
        <img src="{{ flight.airline | aircon }}" alt="{{ flight.airline }}">
        <sub class="col-sub">{{ flight.duration }}{# 3h 33m #}</sub>
    </div>

    {% if flight.nightsInDest %}
    <div class="descrption-txt">
        <p>{{ flight.nightsInDest }} night{{ flight.nightsInDest | pluralize }} in {{ flight.cityTo }}</p>
    </div>
    {% endif %}
</div>
