<div class="whiteBg" id="primary-passenger-block" class="passenger-block">
    <div class="row">
        <div class="col-md-6">
            <span class="fa fa-user-circle"></span> <b class="passenger-kind">Primary passenger</b></span>
        </div>
        <div class="col-md-6"></div>
    </div><!-- inner row -->
    <div class="alert alert-info" role="alert"><span
            class="glyphicon glyphicon-exclamation-sign"></span>
        User all given names and surnames <b> exactly as they appear
            in your passport/ID to avoid boarding complications </b>
    </div>

    <div class="userForm">
        <form class="passengerForm">
            <div class="row">
                <div class="col-md-2 form-group form-group-sm">
                        <label for="gender"
                                class="control-label">Title</label>
                        <select class="form-control"
                                name="gender">
                            <option value="mr" {% if user.profile.gender == 0 %}selected{% endif %}>mr</option>
                            <option value="ms" {% if user.profile.gender == 1 %}selected{% endif %}>ms</option>
                        </select>
                    </div>

                <div class="col-md-5 form-group form-group-sm">
                    <label for="givennames"
                            class="control-label">Given
                        names</label>
                    <input type="text" class="form-control"
                            name="givennames"
                           placeholder="e.g Johnny Apple" required value="{{ user.first_name | default_if_none:"" }}" />
                </div>
                <div class="col-md-5 form-group form-group-sm">
                    <label for="surenames"
                            class="control-label">Surname(s)</label>
                    <input type="text" class="form-control"
                            name="surenames"
                            placeholder="e.g. Seed" required value="{{ user.last_name | default_if_none:"" }}">
                </div>
            </div>
            <div class="row">
                {% include "booking/includes/passenger/nationality.html" %}
                {% include "booking/includes/passenger/birthdate.html" %}
            </div>
            <div class="row">
                <div class="col-md-6 form-group form-group-sm">
                    <label for="cardno"
                            class="control-label">Passport/ID number</label>
                    <input type="text" class="form-control"
                            name="cardno">
                </div>
                <div class="col-md-6 form-group form-group-sm">
                    <label for="expiration"
                            class="control-label">Expiration</label>
                    <input type="text" class="form-control"
                            name="expiration"
                            placeholder="2020-12-28">
                </div>
            </div>
            {% include "booking/includes/passenger/bags.html" %}
        </form>
    </div>


</div>
