<div class="summary-section">
    <div class="row">
        <div class="col-md-12">
           <h3 class="p-tripsummry">Trip Summary <span>4 Night Stay in New York </span></h3>
        </div>
    </div>
    <div class="row manage-row">
        {% for flight in retail_info.route %}
            {% include "booking/includes/flight.html" with flight=flight %}
        {% endfor %}
    </div>
    <div class="more-info">
        <h3>Automatic flight
            check-in </h3>
        <p>Most airlines charge a large fee if you forget to check
            in online. If you provide us with your passport/ID
            details, we'll check you in online and send your
            boarding passes to you for free. <a href="">More
                info</a></p>
    </div>
</div>



 <!-- <div class="p-tripsummry">
    <h3>Trip Summary <span>4 Night Stay in New York </span></h3>
    <div class="row">
      
      <div class="col-6 p-departurec-col">
        <strong>Departure <span class="p-marktext">Economy</span></strong>
        <div class="p-datetext">Friday November 15th</div>
        <div class="p-inputs">
          <div class="input-group input-group-sm p-input">
             <input type="text" class="form-control">
          </div>  
          <b class="input-bleowfont">One Stop</b>
          <div class="input-group input-group-sm p-input">
             <input type="text" class="form-control">
          </div>  
        </div>
      </div>

      <div class="col-6 p-departurec-col">
        <strong>Return <span class="p-marktext">Economy</span></strong>
        <div class="p-datetext">Thursday November 15th</div>
        <div class="p-inputs">
          <div class="input-group input-group-sm p-input">
             <input type="text" class="form-control">
          </div>  
        </div>
      </div>

    </div>

    <div class="p-bottomText">
      <h3>Automatic Flight Check - In</h3>
      <p>Most airlines charge a large fees if you forget to check in online, if you provide us with your passport/ID details, we'll check you in online and send your boarding passes to you for free</p>
    </div>  

</div> -->