@font-face {
  font-family:Dona-Black;
  src: url(fonts/Dona/DonaAlt-Black.ttf);
}
@font-face {
  font-family:Dona-Regular;
  src: url(fonts/Dona/Dona-Regular.ttf);
}
@font-face {
    font-family: Dona-Bold;
    src: url(fonts/Dona/Dona-Bold.ttf);
}
body{
      font-family:Dona-Regular;
}

.search-item.shadowsrch {
    position: absolute;
    min-width: 300px;
    top: -15px;
    left: 0px;
    z-index: 50;
}
.search-item.shadowsrch .search-input{
    border-color: #06AEEF !important;
}
.search-item.shadowsrch span{
    border-color: #06AEEF !important;   
}
.shadowsrch .search-dropdown {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}
.search-dropdown-outer {
    min-height: 50px;
}
.shadowsrch{
	background: #fff;
    box-shadow: 1px 1px 17px #ccc;
}
.search-item {
    width: 100%;
}
.search-item .dropdown-list{
	background: #fff;
    max-height: 300px;
    padding-top: 10px;
    overflow-x:hidden;
    overflow-y:visible;
}
.search-item .dropdown-list.hidden{
	display: none;
}
.list-Sdown{
	list-style: none;
	margin:0;
	padding:0;
}
.list-Sdown li{
	padding: 12px 16px;
    cursor: pointer;
    outline: none;
}
.list-Sdown li:hover{
    background: #E5EAEF;
}
.list-Sdown i{
	transform: rotate(-45deg);
    font-size: 21px;
    margin: 2px 0px;
}

.flight_name{
	font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.dropdown-icon{
	width: 31px;
    height: 32px;
    float: left;
}
.flight-clock{
    font-size: 10px;
    font-weight: 400;
    color: #5F738C;
    line-height: 16px;
    text-align: left;
    margin: 4px 0;
}
.child-li{
	padding: 0px 30px;
}
.search-row .col-md-3 {
    padding: 0 5px;
}
.search-row .col-md-2 {
    padding: 0 5px;
}
.lightpick {
    margin-left:-48px;
    margin-top: 3px;
}
button.search_btn{
    padding: 11.6px 40px !important;
    width: 100% !important;
    margin-bottom: 6px;
    font-size: 21px;
    font-family: Dona-Bold;
}
.dropdown-list p{
    padding: 0px 16px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .search-item.shadowsrch {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

@media(min-width: 320px) and (max-width: 480px){
.search-dropdown-outer{
    margin-bottom: 10px;
}   
.asset_box{
    margin-top: 68px;   
}
.search-row .col-md-2 {
    padding: 0px 15px;
}
.search-row .col-md-3 {
    padding: 0px 15px;
}
.search-item.shadowsrch{
    min-width: 97%;
}

}

