<div id="dealform" class="h-dealform">
    <div class="row">
        <div class="col-3 h-select-box s-result-dropdown s-result-dropdown_destination-type">
            <p class="btn btn-info"
               @click="openDestinationType">
                {(destinationTypes[form.destinationTypeId])}</p>

            <div class="search-f-dropdown"
                 v-if="destinationTypeSelectProgress"
                 v-click-outside="closeDestinationType">
                <ul class="s-dropdown-list">
                    <li v-for="(dtype, dtypeId) in destinationTypes"
                        @click="selectDestinationType(dtypeId)">
                        <a href="#">{(dtype)}</a></li>
                </ul>
            </div>

        </div>
        <div class="col-4 h-select-box s-result-dropdown s-result-dropdown_passengers">
            <p href="#" @click="openPassengersForm"
               class="btn btn-info">{( valPassengers )}
                Passenger{( valPassengers > 1?"s":""
                )}</p>

            <div class="passengers-dropdown"
                 v-if="passengerSelectProgress"
                 v-click-outside="closePassengersForm">
                <ul class="passengers-dropdown-list">
                    <li class="p-category">
                        <b>Adults</b>
                        <input type="button" value="-"
                               @click="decrement(1)"
                               class="increment">
                        <input type="text"
                               readonly="readonly"
                               v-model="form.valAdults"
                               class="value-select">
                        <input type="button" value="+"
                               @click="increment(1)"
                               class="increment"></li>

                    <li class="p-category">
                        <b>Children</b>
                        <input type="button" value="-"
                               @click="decrement(2)"
                               class="increment">
                        <input type="text"
                               readonly="readonly"
                               v-model="form.valChildren"
                               class="value-select">
                        <input type="button"
                               id="valAdultsIncrement"
                               value="+"
                               @click="increment(2)"
                               class="increment"></li>

                    <li class="p-category">
                        <b>Infants</b>
                        <input type="button" value="-"
                               @click="decrement(3)"
                               class="increment">
                        <input type="text"
                               readonly="readonly"
                               v-model="form.valInfants"
                               class="value-select">
                        <input type="button" value="+"
                               @click="increment(3)"
                               class="increment"></li>

                </ul>
            </div>

        </div>

        <div class="col-4 h-ecenomylink s-result-dropdown s-result-dropdown_seat-type">
            <p @click="openSeatTypeSelect"
               class="btn btn-info">
                {(seatTypes[form.seatType])}</p>

            <div class="search-f-dropdown"
                 v-if="seatTypeSelectProgress"
                 v-click-outside="closeSeatTypeSelect">
                <ul class="s-dropdown-list">
                    <li v-for="(name, type) in seatTypes"
                        @click="selectSeatType(type)">
                        <a>{( name )}</a></li>
                </ul>
            </div>

        </div>


        <div class="input-group input-group-sm search-dropdown-outer col-12">
            <div class="search-item search-item-from"
                 v-bind:class="{shadowsrch: cityFromInput.focused}">
                <div class="input-group input-group-sm search-dropdown">
                    <span class="input-group-text search-form-input">Departure City:</span>
                    <input type="text"
                           class="form-control search-input"
                           @focus="cityFromInputFocused"
                           @blur="cityFromInputBlurred"
                           v-model="cityFromInput.text"
                           v-on:input="cityFromHandler">
                </div>
                <div class="dropdown-list"
                     v-bind:class="{hidden: !cityFromInput.focused && !cityFromInput.searchProgress}">
                    <ul class="list-Sdown"
                        v-if="cityFromInput.searchResults.length > 0">
                        <li v-for="(place, index) of cityFromInput.searchResults"
                            v-on:click="cityFromInputChoose(index)">
                            <div class="dropdown-icon">
                                <i class="fa fa-plane"></i>
                            </div>
                            <div class="">{(
                                formatPlace(place) )}
                            </div>
                        </li>
                    </ul>
                    <p v-else-if="!cityFromInput.requestProgress">
                        Start typing city name...</p>
                    <p v-else-if="cityFromInput.requestProgress">
                        Loading...</p>
                    <p v-else-if="!cityFromInput.requestProgress">
                        No results for your request.</p>
                </div>
            </div>

        </div>

        <div class="input-group input-group-sm search-dropdown-outer col-12">
            <div class="search-item search-item-to"
                 v-bind:class="{shadowsrch: cityToInput.focused}">
                <div class="input-group input-group-sm search-dropdown">
                    <span class="input-group-text search-form-input">Arrival City:</span>
                    <input type="text"
                           class="form-control search-input"
                           @focus="cityToInputFocused"
                           @blur="cityToInputBlurred"
                           v-model="cityToInput.text"
                           v-on:input="cityToHandler">
                </div>
                <div class="dropdown-list"
                     v-bind:class="{hidden: !cityToInput.focused && !cityToInput.searchProgress}">
                    <ul class="list-Sdown"
                        v-if="cityToInput.searchResults.length > 0">
                        <li v-for="(place, index) of cityToInput.searchResults"
                            v-on:click="cityToInputChoose(index)">
                            <div class="dropdown-icon">
                                <i class="fa fa-plane"></i>
                            </div>
                            <div class="">{(
                                formatPlace(place) )}
                            </div>
                        </li>
                    </ul>
                    <p v-else-if="!cityToInput.requestProgress">
                        Start typing city name...</p>
                    <p v-else-if="cityToInput.requestProgress">
                        Loading...</p>
                    <p v-else-if="!cityToInput.requestProgress">
                        No results for your request.</p>
                </div>
            </div>

        </div>

        <div class="input-group input-group-sm search-dropdown col-6">
            <span class="input-group-text search-form-input">Departure Date</span>
            <input type="text" id="departure_date"
                   aria-describedby="basic-addon3"
                   class="form-control search-input">
        </div>

        <div class="input-group input-group-sm search-dropdown col-6">
            <span class="input-group-text search-form-input">Return Date</span>
            <input type="text" id="return_date"
                   aria-describedby="basic-addon3"
                   class="form-control search-input">
        </div>

        <div class="input-group input-group-sm search-dropdown col-12" v-if="searchResults">
            <span class="input-group-text search-form-input">Airline Filter</span>
            <input type="text" class="form-control search-input">

            <div class="search-f-dropdown airline-f-dropdown" style="display: none;">
                <ul class="s-dropdown-list">
                    <li><label><input type="checkbox" name="" checked=""> Amercian
                        Airline <span class="checkmark"></span> </label></li>
                    <li><label><input type="checkbox" name=""> Amercian Airline <span
                            class="checkmark"></span> </label></li>
                    <li><label><input type="checkbox" name=""> United <span
                            class="checkmark"></span> </label></li>
                </ul>
            </div>

        </div>

        <div class="input-group input-group-sm search-dropdown col-12" v-if="searchResults">
            <span class="input-group-text search-form-input">Stops Filter</span>
            <input type="text" class="form-control search-input">

            <div class="search-f-dropdown stop-filder-dropdown" style="display: none;">
                <ul class="s-dropdown-list">
                    <li><a href="">Direct</a></li>
                    <li><a href="">One Stop</a></li>
                    <li><a href="">Two Stop</a></li>
                </ul>
            </div>

        </div>

        <div class="input-group input-group-sm search-dropdown col-12" v-if="searchResults">
            <span class="input-group-text search-form-input">Pricing Filter</span>
            <input type="text" class="form-control search-input">

            <div class="s-filder-dropdown">

            </div>

        </div>

        <div class="search-button col-12">
            <button type="submit" class="btn btn-info" @click="search">
                Search Our Deals
            </button>
        </div>

    </div>


</div>
