{% extends "base.html" %}

{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/lightpick.css" %}"
          xmlns:v-on="http://www.w3.org/1999/xhtml"
          xmlns:v-on="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/promo.html" %}
    </section>
    <section class="navbar-section">
        {% include "_includes/navbar.html" %}
    </section>

    <section>
        <div class="container content-holder" style="padding-bottom: 30px;">
            <div class="search_content_box">
                <div class="row">
                    <div class="container">
                        <div class="col-12 pr-0">
                            {% include "includes/home/slogan_section.html" %}
                            {% include "results/includes/search_form.html" %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% include "includes/home/passenger_modal.html" %}
    </section>

    {% include "includes/home/buttons_section.html" %}
    {% include "includes/home/recent_searches.html" %}

    <section class="mb-5 pt-4">
        <div class="container pt-5">
            {% include "includes/home/trending_flights.html" %}
            {% include "includes/home/top_destinations.html" %}
        </div>
    </section>
    <section>
        {% include "_includes/footer.html" %}
    </section>
{% endblock %}
{% block jscontent %}
    <script src="{% static "js/home.js" %}"></script>
{% endblock %}
