{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}" type="text/css">
    <script  src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "home/js/script.js" %}"></script>
    <script src="https://cdn.useproof.com/proof.js?acc=ZaTK6We7bUMEbNI7wlB7YcTOWB72" async></script>
    <link rel="icon" href="{% static "logo/favicon.png" %}">
    <title>{{ title }}</title>
  </head>
  <body>

    <div class="main">
        <header class="index-header">
            <div class="logo"><a href="#"><img src="{% static "home/img/logo.png" %}" /></a></div>
            <div class="right-menu">
                <ul>
                    <li><a class="nav-link" href="{% url "how-it-works" %}">How it Works</a></li>
                    <li><a class="nav-link" href="#">Pricing</a></li>
                    <li><a class="nav-link" href="{% url "destinations" %}#">Destinations</a></li>
                </ul>
            </div>
            <div class="left-menu">
                <ul>
                    <li>
                        <a href="{% url "sign-in" %}" class="btn btn-blue active">Sign In</a>
                    </li>
                    <li>
                        <a href="{% url "sign-up" %}" class="btn btn-blue">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="mobile-menu">
                <a href="javascript:void(0);" class="mobile-icon">
                </a>
                <ul id="links">
                    <li><a href="{% url "how-it-works" %}">How it Works</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="{% url "destinations" %}">Destinations</a></li>
                    <li><a href="{% url "sign-in" %}">Sign In</a></li>
                    <li><a href="{% url "sign-up" %}">Sign Up</a></li>
                </ul>

            </div>
        </header>
        <div class="col right-bg">
            <div class="content">
                <h2>Subscribe to Fly</h2>
                <p>Save 30% on flights by booking with Credits. Subscribe to Wanderift today!</p>
                <a href="{% url "how-it-works" %}" class="btn btn-blue">Join Our Flight Club!</a>
            </div>
        </div>
        <div class="col left-color">
            <div class="content">
                <h2>Search, Book, Save</h2>
                <p>Search and Book retail flights through Wanderift and save on average $20-$30 per flight</p>
                <a href="{% url "home" %}" class="btn btn-blue">Save on Retail Flights</a>
            </div>
        </div>
    </div>
    {% include "_includes/footer.html" %}
  </body>
</html>
