{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home -</title>
    <link rel="stylesheet" type="text/css" href="{% static "home/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/home-page.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/dropdown.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/rotate-animation.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "home/fullPage.js-master/dist/fullpage.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/results.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/lightpick.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "home/css/loading-animation.css" %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap"
          rel="stylesheet">
    <link href="{% static "/home/vue-slider-component/theme/default.css" %}"
          rel="stylesheet"/>
</head>
<body>

<div id="main">
    <div id="fullpage">

        <div class="section">
            <div class="section-01 h-user-home">

                <header class="">
                    <nav class="navbar navbar-light bg-light justify-content-between">
                        <div class="container">
                            <a class="navbar-brand nav-logo"> <img src="{% static "home/img/flyline_logos-01-1.png" %}"> </a>
                            <form class="form-inline nav-btn">
                                <a href="{% url "sign-in" %}" class="btn btn-outline-success blue-scheme my-2 my-sm-0">Log In</a>
                            </form>
                        </div>
                    </nav>
                </header>

                <div class="container">
                    <div class="h-headermain">
                        <div class="row">
                            <div class="col-12" :class="{'col-md-12': user.anonymous, 'col-md-4': !user.anonymous, 'wide-form': user.anonymous}">
                                <div class="search-flight-home">
                                    <div v-if="user.anonymous">
                                    {% include "home/cd-intro.html" %}
                                    </div>
                                    <h3>Search our Deals</h3>
                                    <p>Exclusive private flights for members</p>
                                    <div v-if="user.anonymous">
                                    {% include "home/dealform-horizontal.html" %}
                                    </div>
                                    <div v-else>
                                        {% include "home/dealform.html" %}
                                    </div>
                                </div>
                            </div>
                            <div v-if="!user.anonymous || searchResults.length !== 0" class="col-md-8 col-12">
                                <div v-if="searchResults.length === 0 && !searchProgress"
                                     class="h-contentarea">
                                    {% include "home/cd-intro.html" %}
                                    <p>Book travel for all occuscions and save</p>
                                    <div class="h-btngroups">
                                        <a href="#" class="btn btn-default h-blackbg">Get Started</a>
                                        <a href="#" class="btn btn-default">Learn More</a>
                                    </div>
                                </div>
                                <quicklinks v-if="searchResults.length !== 0" :sort="form.sort" :data="quickFiltersData" @sort-by="sortResultsBy"></quicklinks>
                                <div class="search-results" v-if="searchProgress"
                                     v-cloak>
                                    <div class="w-100" v-for="i in 5" :key="i">
                                        <div class="result-item mb-2 w-100"
                                             style="width: 90%">
                                            <div class="result-block result-toggler w-100 d-block d-md-flex justify-content-start p-2 pt-3 pb-3"
                                                 data-toggle="collapse"
                                                 data-target="#result-item27180">
                                                <div class="loading_animation">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div class="animate-element animate-element-01"></div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="animate-element animate-element-02"></div>
                                                                <div class="animate-element animate-element-03"></div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="animate-element animate-element-04"></div>
                                                                <div class="animate-element animate-element-05"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divider-30"></div>
                                    </div>
                                </div>
                                <div class="search-results"
                                     v-cloak
                                     v-if="!searchProgress && searchResults.length !== 0">

                                    <flight v-for="flight in searchResults"
                                            :flight="flight" :form="form"
                                            :key="flight.id"></flight>

                                    <div class="h-btngroups">
                                        <a class="btn btn-default" href="#"
                                           @click="loadMore">Load
                                            More</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- h-headermain -->
                </div>
                <div class="assets-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <a href="#" target="_blank">
                                    <img src="{% static "home/img/tech-crunch.png" %}"
                                         class="img_asset">
                                </a>
                            </div>
                            <div class="col-3">
                                <a href="#" target="_blank">
                                    <img src="{% static "home/img/forbes.png" %}"
                                         class="img_asset">
                                </a>
                            </div>
                            <div class="col-3">
                                <a href="#" target="_blank">
                                    <img src="{% static "home/img/simple.png" %}"
                                         class="img_asset">
                                </a>
                            </div>
                            <div class="col-3">
                                <a href="#" target="_blank">
                                    <img src="{% static "home/img/medium_logo.png" %}"
                                         class="img_asset">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clickdown">
                    <a href="#Section02" class="fliLine-Banner">
                        <div class="h-flyline-bar">
                            <h3>What is Flyline</h3>
                        </div>
                    </a>
                </div>
            </div>


        </div>

        <div class="section" id="Section02">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-12">
                        <div class="section2-content">
                            <h3>Exclusive Non Public Fares</h3>
                            <p>When booking on flyline enjoy <br/> thousand of discounts
                                on both <br/> international and domestic flights, with
                                <br/> an average savings of 30%</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-12 home-macbook-img">
                        <img src="{% static "home/img/MacBook_Mock.png" %}">
                    </div>
                </div>
            </div>
        </div><!--  second section -->

        <div class="section">
            <div class="section3-Bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12"><img
                                src="{% static "home/img/iphone-white.png" %}"
                                class="mobile-img"></div>
                        <div class="col-md-6 col-12">
                            <div class="section3-content">
                                <h3>Discount Price Alerts</h3>
                                <p>Never miss a deal with discount Price <br/> Alerts,
                                    Enter your home market and the <br/> destinations
                                    out of that market you'd <br/> want us to watch and
                                    the price range<br/> you want. Then we'll send
                                    you<br/> notifications when flight prices hit your
                                    <br/> paramters</p>
                                <a href="" class="btn btn-default">Start For Free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  Section Three  -->

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section4-content text-center">
                            <h3>Stay On Flyline With Direct Booking</h3>
                            <p>Book all your flights directly through flyline, no
                                redirecting to other sites and annoying time staking
                                booking. Addtional enter your traveler information when
                                creating an account and booking is simple and easy</p>
                            <a href="" class="btn btn-default">Get it a Try</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  Section four  -->

        <div class="section">
            <div class="section5-Bg">
                <div class="text-center section5-content">
                    <h3>Ready to Start Saving</h3>
                    <p>Enter your email to get started with a 10 day free trail</p>
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-12">
                            <div class="h-planbox text-center">
                                <span class="mark-heading">10 Day Free Trail</span>
                                <h3>Basic</h3>
                                <strong>$4.99/mo</strong>
                                <p>No Long Term Commitment</p>
                                <strong>or $50 Billed Annually</strong>
                                <ul class="plan-list">
                                    <li>- Exclusive Private Discount Flights</li>
                                    <li>- Price Alert Notifications</li>
                                    <li>- Access to flyline travel portal</li>
                                </ul>
                                <a href="#" class="btn btn-default">Start Saving</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "_includes/footer.html" %}

        </div><!--  Section Five  -->

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static "js/lightpick.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "home/js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "home/js/bootstrap.js" %}"></script>
<script src="{% static "home/js/rotate-animationscript.js" %}"></script>
{% include "home/vue-flight-template.html" %}
{% include "home/vue-quicklinks-template.html" %}
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="module" src="{% static "home/js/flight.js" %}"></script>
<script type="module" src="{% static "home/js/quicklinks.js" %}"></script>
<script src="{% static "home/fullPage.js-master/dist/fullpage.min.js" %}"></script>
<script src="{% static "home/vue-slider-component/dist/vue-slider-component.umd.min.js" %}"></script>
<script type="module" src="{% static "js/home.js" %}"></script>
<script type="module" src="{% static "home/js/drift.js" %}"></script>
</body>
</html>
