{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlyLine Promotion Page</title>
    <link rel="stylesheet" type="text/css" href="{% static "home/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/home-page.css" %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static "home/img/favicon/16x16.png" %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static "home/img/favicon/32x32.png" %}">
    <link rel="icon" type="image/png" sizes="48x48"
          href="{% static "home/img/favicon/48x48.png" %}">
</head>
<body>


<div class="landing-full-papge" style="padding-top: 100px;padding-bottom: 200px;">
  <div class="container">
    <section class="full-section">
      <div class="landing-p-logo"> <img src="{% static "home/img/flyline_logos-01-1.png" %}"> </div>
      <strong>No Fees. No Redirects. No FOMO</strong>
      <p style="margin-top:4px;">At FlyLine we hate booking fees, endless flight searches <br> and the FOMO that comes with missing out on a deal. So we built a better<br> booking engine and paried it with a membership model to deliver massive savings to our members.</p>

      <a href="https://joinflyline.com/" class="btn btn-default">Learn More</a>

      <strong style="margin-top: 50px;">Win $500 Booking Credit on FlyLine</strong>
      <p style="margin-top:4px;">Enter your email and instagram handle <br>  for the chance to win $500 in-flight booking credit through FlyLine.</p>

      <div class="row">
        <div class="col-md-4 col-12 promo-p-space">
            <div class="form-group landing-manage-form">
                 <input class="form-control" type="text" placeholder="Enter Email Address">
            </div>
        </div>
        <div class="col-md-4 col-12 promo-p-space">
            <div class="form-group landing-manage-form">
                 <input class="form-control" type="text" placeholder="Enter Instragram Handle">
            </div>
        </div>
        <div class="col-md-4 col-12 promo-p-space">
          <button type="submit" class="btn btn-default landing-submit-btn">Enter to Win</button>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="landingp-footer">
   {% include "_includes/footer.html" %}
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{% static "js/lightpick.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static "home/js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "home/js/bootstrap.js" %}"></script>
<script src="{% static "home/js/rotate-animationscript.js" %}"></script>
{% include "home/vue-flight-template.html" %}
{% include "home/vue-quicklinks-template.html" %}
{% include "home/vue-cd-intro-template.html" %}
{% include "home/vue-search-results-template.html" %}
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="module" src="{% static "home/js/flight.js" %}"></script>
<script type="module" src="{% static "home/js/quicklinks.js" %}"></script>
<script type="module" src="{% static "home/js/cd-intro.js" %}"></script>
<script type="module" src="{% static "home/js/search-results.js" %}"></script>
<script src="{% static "home/fullPage.js-master/dist/fullpage.min.js" %}"></script>
<script type="text/javascript"
        src="{% static "home/fullPage.js-master/dist/scrolloverflow.js" %}"></script>
<script src="{% static "home/vue-slider-component/dist/vue-slider-component.umd.min.js" %}"></script>
<script type="module" src="{% static "js/home.js" %}"></script>
<script type="module" src="{% static "home/js/drift.js" %}"></script>
</body>
</html>
