{% load static %}
<!DOCTYPE html>
<html>
<head>

    <title></title>

    <!-- style -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "home/css/registration.css" %}">
    <link rel="stylesheet" type="text/css"
          href="{% static "home/css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,900&display=swap"
          rel="stylesheet">
    <link rel="icon" href="{% static "logo/favicon.png" %}">
    <script src="https://cdn.useproof.com/proof.js?acc=ZaTK6We7bUMEbNI7wlB7YcTOWB72"
            async></script>
    <title>{{ title }}</title>
</head>
<body class="full-bg-image">

<section class="setep-2">
  <div class="container"> 
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="step-formbg onborad1-form">
            
          <div class="form-logo text-center">
             <img src="img/Flyline_logo_1030-01.png">
           </div>

          <div class="form-descrption step-01 text-center">
            <div><strong>Lets Get Started</strong></div>
            <span>Step 2 of 2</span>
            <p>Enter some information to start your free trail</p>
          </div>

          <div class="input-group input-group-sm step-f-inputs">
           <input type="text" class="form-control" placeholder="Home Airport">
          </div>

          <div class="input-group input-group-sm step-f-inputs">
           <input type="text" class="form-control" placeholder="Email Address">
          </div>

          <div class="input-group input-group-sm step-f-inputs">
           <input type="text" class="form-control" placeholder="Password">
          </div>

          <div class="input-group step-f-inputs">
           <button type="submit" class="btn btn-default"> Continue </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- script -->
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>
