<script type="text/x-template" id="vue-cd-intro-template">
    <div class="newhome-form" id="newhome-form">
        <h3>The Flight Club Built For
            <div class="cd-intro full-web-form">
                <h6 class="cd-headline slide loading-bar">
                <span class="cd-words-wrapper">
                    <b class="is-visible">Weekend Getaways</b>
                    <b>Wedding Season</b>
                    <b>Girls Weekend</b>
                    <b>Guys Weekend</b>
                    <b>Holiday Cheer</b>
                    <b>Bucket List Adventures</b>
                    <b>Last Minute Trips</b>
                    <b>Visiting Family</b>
                    <b>New Cultures</b>
                </span>
                </h6>
            </div> <!-- cd-intro -->
        </h3>
        <p>Book travel for all occussions and save</p>
    </div>
</script>
