{% load static %}
<script type="text/x-template" id="vue-home-template">
  <div id="main" v-cloak>
      <div v-if="searchResults.length !== 0 && isMobile && !searchProgress && !backToForm">
          <search-results-mobile
                  :search-results="searchResults"
                  :form="form"
                  :city-to-input="cityToInput"
                  :city-from-input="cityFromInput"
                  :sort-results-by="sortResultsBy"
                  @back-pressed="switchToForm"/>
      </div>
      <div id="fullpage" v-else>
          <div class="section fp-auto-height-responsive fp-table">

              <div class="section-01 h-user-home">
                  <header class="fp-auto-height">
                      <div class="h-topbar text-center" v-if="user.anonymous">
                          <p>Join FlyLine to Experience Unmatched Flight Savings
                              <router-link to="/savings-explained/"
                                           class="btn btn-default">Savings
                                  Explained
                              </router-link>
                          </p>
                      </div>
                      {% include "home/navbar.html" %}

                      <div class="mobile-v-header" v-if="isMobile">
                          <ul class="mobile-v">
                              <li><img
                                      src="{% static "home/img/flyline_logos-01-1.png" %}">
                              </li>
                              <li class="ml-auto-mobile"><a href="#"
                                                            id="home-learnmore-mobilev">Learn
                                  More</a></li>
                          </ul>
                      </div>

                  </header>

                  <div class="d-flex fp-auto-height-responsive header-background homepage-background mobile-before first-page-body">
                      <div v-if="!user.anonymous || searchResults.length !== 0 || searchProgress"
                           class="d-flex flex-row search-panel">
                          <div class="left-form-pane container-pad-left">
                              <div v-if="searchResults.length === 0">
                                  <h3>Search our Deals</h3>
                                  <p>Exclusive private flights for
                                      members</p>
                              </div>
                              <div v-else class="search-flight-home">
                                  <h3>{( cityFromTo )}</h3>
                                  <p>Carriers: {( airlineNames )}</p>
                                  <div class="search-flight-devider"></div>
                              </div>
                              {% include "home/dealform.html" %}
                          </div>
                          <div class="right-body-pane" :class="{'container-pad-right': searchResults.length !== 0 || searchProgress}">
                              <div v-if="searchResults.length === 0 && !searchProgress"
                                   class="h-contentarea">
                                  <div class="search-results-rightcontent design-revesion">
                                      <h3>Lets find your next <span class="f-clr">adventure</span>
                                      </h3>
                                      <p>Don't know where to go? Take a look at these
                                          suggestions below</p>

                                      {% include "home/pages/trending-deals-slider.html" %}
                                      {% include "home/pages/deep-discount-flights.html" %}
                                  </div>
                              </div>
                              <div v-else-if="searchProgress">
                                  <div class="w-100" v-for="i in 5"
                                       :key="i">
                                      <div class="result-item mb-2 w-100"
                                           style="width: 90%">
                                          <div class="result-block result-toggler w-100 d-block d-md-flex justify-content-start p-2 pt-3 pb-3"
                                               data-toggle="collapse"
                                               data-target="#result-item27180">
                                              <div class="loading_animation">
                                                  <div class="col-md-12">
                                                      <div class="row">
                                                          <div class="col-md-2">
                                                              <div class="animate-element animate-element-01"></div>
                                                          </div>
                                                          <div class="col-md-2">
                                                              <div class="animate-element animate-element-02"></div>
                                                              <div class="animate-element animate-element-03"></div>
                                                          </div>
                                                          <div class="col-md-8">
                                                              <div class="animate-element animate-element-04"></div>
                                                              <div class="animate-element animate-element-05"></div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="divider-30"></div>
                                  </div>
                              </div>
                              <search-results v-else-if="$mq !== 'sm'"
                                              :search-results="searchResults"
                                              :search-progress="searchProgress"
                                              :load-more="loadMore"
                                              :form="form"
                                              :user="user"
                                              :sort-results-by="sortResultsBy"
                                              :quick-filters-data="quickFiltersData"/>
                          </div>
                      </div>
                      <div v-else
                           class="container align-self-center">
                          <div class="h-headermain">
                              <div class="row">
                                  <div class="col-12 col-md-12 wide-form">
                                      <div class="search-flight-home">
                                          <div>
                                              <cd-intro/>
                                          </div>
                                          <div>
                                              {% include "home/dealform-horizontal.html" %}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div><!-- h-headermain -->
                      </div>
                      <div v-if="!user.anonymous && searchResults.length === 0"
                           class="viewdeal-bottom text-center">
                          Enter Your Deal Alert Destinations to
                          View Deals
                      </div>
                  </div><!-- header bg -->
                  {% include "home/pages/never-miss-deal.html" %}
                  <div class="clickdown"
                       v-if="user.anonymous && searchResults.length === 0">
                      <a href="#Section02"
                         class="fliLine-Banner">
                          <div class="h-flyline-bar">
                              <h3>What is FlyLine</h3>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          <div v-if="isMobile" class="fly-linesetion">
              <div class="mobile-view-footer">
                  <ul class="mobile-v-tabs">
                      <li class="selected"><a href="#"><img
                              src="{% static "home/img/Home.png" %}">
                          <span>Home </span></a></li>
                      <li><a href="#"><img src="{% static "home/img/Trip.png" %}"> <span>Trip</span></a>
                      </li>
                      <li><a href="#"><img src="{% static "home/img/Account.png" %}">
                          <span>Account </span></a></li>
                  </ul>
              </div>
          </div>
          {% include "home/pages/no-more-bookings.html" %}
          {% include "home/pages/no-more-fomo.html" %}
          {% include "home/pages/no-more-redirects.html" %}
          {% include "home/pages/subscription-plans.html" %}
          <div v-if="isMobile" class="email-mobile-view">joinflyline.com | Mobile</div>
          <div id="footer-section" class="section fp-section fp-auto-height-responsive">
              {% include "_includes/footer.html" %}
          </div>
      </div>
  </div>
</script>
