<script type="text/x-template" id="vue-quicklinks-template">
<div class="d-flex border mb-3 white-block w-100 search-top-result">

    <div class="col-md-3 pt-2 mb-0 pb-2 text-center search-quick-filter" :class="{applied: sort === 'price'}">
        <a @click="sortResultsBy('price')">
            <div class="search-quick-filter-filter-name border-right">
                <strong>Best Value</strong>
            </div>
            <div class="search-quick-filter-filter-price-duration border-right">
                <span class="small">${( data.price.price )} - {( secs2hm(data.price.duration) )}</span>
            </div>
        </a>
        <div class="border-line w-75 mx-auto"></div>
    </div>
    <div class="col-md-3  pt-2 mb-0 pb-2 text-center search-quick-filter" :class="{applied: sort === 'quality'}">
        <a @click="sortResultsBy('quality')">
            <div class="search-quick-filter-filter-name border-right">
                <strong>Recommended</strong>
            </div>
            <div class="search-quick-filter-filter-price-duration border-right">
                <span class="small">${( data.quality.price )} - {( secs2hm(data.quality.duration) )}</span>
            </div>
        </a>
        <div class="border-line w-75 mx-auto"></div>
    </div>
    <div class="col-md-3  pt-2 mb-0 pb-2 text-center search-quick-filter" :class="{applied: sort === 'duration'}">
        <a @click="sortResultsBy('duration')">
            <div class="search-quick-filter-filter-name border-right">
                <strong>Quickest</strong>
            </div>
            <div class="search-quick-filter-filter-price-duration border-right">
                <span class="small">${( data.duration.price )} - {( secs2hm(data.duration.duration) )}</span>
            </div>
        </a>
        <div class="border-line w-75 mx-auto"></div>
    </div>
    <div class="col-md-3 pt-2 mb-0 pb-2 text-center search-quick-filter" :class="{applied: sort === 'date'}">
        <a @click="sortResultsBy('date')">
            <div class="search-quick-filter-filter-name">
                <strong>Earliest</strong>
            </div>
            <div class="search-quick-filter-filter-price-duration">
                <span class="small">${( data.date.price )} - {( secs2hm(data.date.duration) )}</span>
            </div>
        </a>
        <div class="border-line w-75 mx-auto"></div>
    </div>

</div>
</script>
