{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
<script src="{% static "home/js/vue-mq.min.js" %}"></script>
<script type="module" src="{% static "home/js/vue-init.js" %}"></script>
<script type="module" src="{% static "home/js/flight.js" %}"></script>
<script type="module" src="{% static "home/js/quicklinks.js" %}"></script>
<script type="module" src="{% static "home/js/cd-intro.js" %}"></script>
<script type="module" src="{% static "home/js/search-results.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/airportInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/flightInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/searchInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/searchResult.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/searchResults.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/summaryLeg.js" %}"></script>
<script type="module" src="{% static "home/js/vue/no-more-booking-fees.js" %}"></script>
<script type="module" src="{% static "home/js/vue/no-more-fomo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/learn-more.js" %}"></script>
<script type="module" src="{% static "home/js/vue/navbar.js" %}"></script>
<script type="module" src="{% static "home/js/vue/footer.js" %}"></script>
<script type="module" src="{% static "home/js/vue/no-more-redirects.js" %}"></script>
<script type="module" src="{% static "home/js/vue/subscription-plans.js" %}"></script>
<script type="module" src="{% static "home/js/vue/promo-landing.js" %}"></script>
<script src="{% static "home/vue-slider-component/dist/vue-slider-component.umd.min.js" %}"></script>
<script type="module" src="{% static "home/js/home.js" %}"></script>
<script type="module" src="{% static "home/js/vue/router.js" %}"></script>
<script type="module" src="{% static "home/js/vue/app.js" %}"></script>
<script type="module" src="{% static "js/vue/dynamicSelect.js" %}"></script>
<script type="module" src="{% static "home/js/vue/dashboard.js" %}"></script>
