{% load static %}
<script type="module" src="{% static "home/js/flight.js" %}"></script>
<script type="module" src="{% static "home/js/quicklinks.js" %}"></script>
<script type="module" src="{% static "home/js/cd-intro.js" %}"></script>
<script type="module" src="{% static "home/js/search-results.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/airportInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/flightInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/searchInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/searchResult.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/searchResults.js" %}"></script>
<script type="module" src="{% static "home/js/vue/search-results/mobile/summaryLeg.js" %}"></script>

