<script type="text/x-template" id="vue-cd-intro-template">
    <div class="newhome-form" id="newhome-form">
        <h3>The Flight Club Built For
            <div class="cd-intro full-web-form">
                <h6 class="cd-headline slide loading-bar">
                <span class="cd-words-wrapper">
                    <b class="is-visible">Weekend Getaways</b>
                    <b>Business Travel</b>
                    <b>Visiting Family</b>
                    <b>Last Minute Trips</b>
                    <b>International Adventures</b>
                    <b>Summer Vacation</b>
                    <b>The Holidays</b>
                    <b>Wedding Season</b>
                </span>
                </h6>
            </div> <!-- cd-intro -->
        </h3>
        <p>Book travel for all occasions and save</p>
        <span>Travel More,<br/>Spend Less</span>
    </div>
</script>
