{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
<script src="{% static "home/js/vue-mq.min.js" %}"></script>
<script type="module" src="{% static "home/js/vue-init.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/flight.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/quicklinks.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/cd-intro.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/search-results.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/search-results/mobile/airportInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/search-results/mobile/flightInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/search-results/mobile/searchInfo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/search-results/mobile/searchResult.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/search-results/mobile/searchResults.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/search-results/mobile/summaryLeg.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/no-more-booking-fees.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/no-more-fomo.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/learn-more.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/navbar.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/footer.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/no-more-redirects.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/subscription-plans.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/promo-landing.js" %}"></script>
<script src="{% static "home/vue-slider-component/dist/vue-slider-component.umd.min.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/home.js" %}"></script>
<script type="module" src="{% static "home/js/vue/router.js" %}"></script>
<script type="module" src="{% static "home/js/vue/app.js" %}"></script>
<script type="module" src="{% static "js/vue/dynamicSelect.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/dashboard.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/trips.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/sidebar.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/dashboard-header.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/dashboad-overview.js" %}"></script>
<script type="module" src="{% static "home/js/vue/components/tile-component.js" %}"></script>
