{% include "home/vue-flight-template.html" %}
{% include "home/vue-quicklinks-template.html" %}
{% include "home/vue-cd-intro-template.html" %}
{% include "home/vue-search-results-template.html" %}
{% include "home/search-results/mobile/airport.html" %}
{% include "home/search-results/mobile/flight-info.html" %}
{% include "home/search-results/mobile/search-info.html" %}
{% include "home/search-results/mobile/search-result.html" %}
{% include "home/search-results/mobile/search-results.html" %}
{% include "home/search-results/mobile/summary-leg.html" %}
