{% load static %}
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-meta@2.3.1/dist/vue-meta.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuex/dist/vuex.js"></script>
<script src="{% static "home/js/vue-mq.min.js" %}"></script>
<script src="{% static "home/vue-slider-component/dist/vue-slider-component.umd.min.js" %}"></script>
<script type="module" src="{% static "home/js/vue-init.js" %}"></script>
<script src="https://js.paymentsos.com/v2/latest/token.min.js"></script>
