{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Get Started | FlyLine</title>
        <!-- style -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"
              href="{% static "home/css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css"
              href="{% static "home/css/registration.css" %}">
        <link rel="stylesheet" type="text/css"
              href="{% static "home/css/font-awesome.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "home/css/style.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,900&display=swap"
              rel="stylesheet">
        <link rel="icon" href="{% static "logo/favicon.png" %}">
        <script src="https://cdn.useproof.com/proof.js?acc=ZaTK6We7bUMEbNI7wlB7YcTOWB72"
                async></script>
        <title>{{ title }}</title>
    </head>
    <body class="full-bg-image">
        <div class="back-to-home">
            <a href="{% url "index" %}">Back to Home</a>
        </div>
        <div id="main">
            <wizard @success="goHome"/>
        </div>
        {% include "home/vue-wizard-template.html" %}
        <script type="text/javascript">
            const csrfmiddlewaretoken = '{{ csrf_token }}';
            const getStartedUrl = '{% url "wizard" %}';
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="module" src="{% static "home/js/wizard.js" %}"></script>
    </body>
</html>
