{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}

{% block content %}
    {% include "_includes/navbar.html" %}

    <section>
        <div class="search-bar pb-4 shadow">
            <div class="container section-1 faq">
                <div class="row">
                    <div class="col-sm-12 text-center mt20 mb20">
                        <h2 class="page-title">Need some help?</h2>
                    </div>
                </div>
                <div class="row mb10">
                    <div class="col-sm-4 text-center">
                        <button class="btn btn-1 bold w-100 mt-2 mb-2">Find my Booking</button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button class="btn btn-1 bold w-100 mt-2 mb-2">Airline</button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button class="btn btn-1 bold w-100 mt-2 mb-2">Airline Fees</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container section-1 faq">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title p-0 pt-4">Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container faq">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-sub-title pt-4 pb-3">Flights</h4>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label>tokens1</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes, tokens can be shared or sent. All that has to happen is the traveler you want to send
                            or share tokens with has to have a free Wanderift account!
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label>tokens2</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes, tokens can be shared or sent. All that has to happen is the traveler you want to send
                            or share tokens with has to have a free Wanderift account!
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label>tokens3</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes, tokens can be shared or sent. All that has to happen is the traveler you want to send
                            or share tokens with has to have a free Wanderift account!
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="page-sub-title pt-4 pb-3">Wanderift Lift or Pro</h4>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label>tokens4</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes, tokens can be shared or sent. All that has to happen is the traveler you want to send
                            or share tokens with has to have a free Wanderift account!
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label>tokens5</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes, tokens can be shared or sent. All that has to happen is the traveler you want to send
                            or share tokens with has to have a free Wanderift account!
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 mb-4">
                    <div class="form-control border-0 shadow tab">
                        <label>tokens6</label>
                        <img src="images/arrow.png" alt="">
                    </div>

                    <div class="contents mt20 bg-white shadow">
                        <p class="text">
                            Yes, tokens can be shared or sent. All that has to happen is the traveler you want to send
                            or share tokens with has to have a free Wanderift account!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="btn-1 mt50">
            <div class="container faq">
                <div class="row search">
                    <div class="col-sm-6">
                        <div class="card mt50 mb50">
                            <div class="card-body shadow p-4">
                                <div class="card-title mb-4">
                                    <h3 class="bold p-0 mt-0">Still have some questions?</h3>
                                </div>
                                <p class="text-dark">Didn't answer your question? No worries, send us an email
                                    info@wanderift.com and we'll answer any questions you've got</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mt50 mb50">
                            <div class="card-body shadow p-4">
                                <div class="card-title mb-4">
                                    <h3 class="bold p-0 mt-0">Feedback?</h3>
                                </div>
                                <p class="text-dark">Didn't answer your question? No worries, send us an email
                                    info@wanderift.com and we'll answer any questions you've got</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "_includes/footer.html" %}
{% endblock %}

{% block jscontent %}
    <script>
        jQuery(function ($) {
            $(".tab").click(function () {
                var id = $(this).index(".tab");

                $(this).toggleClass("active");
                $(".contents").eq(id).slideToggle('slow');
            });
        });
    </script>
{% endblock %}