.background-colored {
    background-color: #f8f9fa;
}

.content-holder {
    padding: 30px 15px 50px 15px;
}

.primary-button {
    background-color: #00B7FF;
    color: white;
}

.result-item {
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    min-height: 180px;
    display: flex;
    justify-content: center;
}
.result-item .item-content {
    padding: 15px;
}


/****************** Navigation ***********/
nav {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-right: 15px;
}
.navbar-brand {
    position: absolute;
    left: 15px;
    margin-left: 10px !important;
}
.nav_btn_link {
    position: absolute;
    left: 30px;
    top: 5px;
    padding: 0;
    display: none;
    box-shadow: 0 2px 4px whitesmoke;
}
.nav_btn_link .nav-button-logout {
  background: #00B7FF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  border: none;
  color: #fff;
  margin-left: 5px;
  padding: 10px 40px;

}
.nav_btn_link.get_started_btn {
    top: 0;
}

.navbar-light .navbar-nav a.nav-link {
    color: #1d222e;
}

@media screen and (min-width: 992px) {
  .navbar-brand {
        left: 50%;
        margin-left: -70px !important;
    }
    .nav_btn_link {
        display: block;
    }
}


/*HELPERS*/
.divider-15,
.divider-30 {
    height: 0;
    width: 100%;
    clear: both;
}
.divider-15 {
    margin-top: 15px;
}
.divider-30 {
    margin-top: 30px;
}
.large_btn {
    font-size: 1.4em;
}
.total-tokens {
    font-size: 2em;
}
.corporate-progress {
    height: 3em;
}
.text-primary {
    color: #00B7FF!important;
}

/*****NEW SEARCH BAR*******/
.flexed-search-bar {
    display: flex;
}
.flexed-search-bar .flexed-search-item {
    position: relative;
    min-width: 120px;
    padding: 0 10px;
}
.flexed-search-bar .flexed-search-item label {
    width: 100%;
    margin-left: -8px;
}
.flexed-search-bar .flexed-search-item label h6 {
    font-size: 1em;
    margin-left: 5px;
}
.flexed-search-bar .flexed-search-item img.icon_repeat {
    position: absolute;
    right: -7px;
    top: 6px;
    z-index: 9;
    opacity: 0.8;
    width: 30px;
}
.flexed-search-bar .flexed-search-item button {
    padding: 7px 30px;
}

@media screen and (max-width: 992px) {
    .flexed-search-bar {
        flex-direction: column;
    }
    .flexed-search-bar .flexed-search-item {
        min-width: 100%;
    }
    .flexed-search-bar .flexed-search-item label {
        margin-left: 0;
    }
    .flexed-search-bar .flexed-search-item img.icon_repeat {
        left: 48%;
        top: 32px;
    }

    .navbar-collapse {
        padding: 15px 0;
    }
    .navbar-collapse .navbar-nav li {
        padding: 10px 0;
    }

    .navbar-light {
        padding-right: 15px;
    }

    .navbar-brand {
        position: relative;
        float: left;
    }
    .navbar-toggler {
        float: right;
    }

}
