.privacy {
  &__content {
    padding-top: 4rem;
    padding-bottom: 4rem;

    strong {
      font-family: $dona-bold;
    }

    h3 {
      margin-bottom: 2rem;
    }

    h4 {
      padding: 1rem 0;
    }
  }
}
