.terms-of-services {
  &__content {
    padding-top: 4rem;

    strong {
      font-family: $dona-bold;
    }

    ul {
      list-style: lower-alpha;
    }

    h3 {
      margin-bottom: 2rem;
    }

    h4 {
      padding: 1rem 0;
    }
  }
}
