{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/lightpick.css" %}"
          xmlns:v-on="http://www.w3.org/1999/xhtml"
          xmlns:v-on="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
    <link rel="stylesheet" href="{% static "account/css/style.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/navbar.html" with page="accounts" %}
    </section>

    <div class="title-section">
       <div class="container">
           <h3 class="trip-title">Account</h3>
           <p class="title-sec-descrption">Add your traveler information to speed up the booking process, and enter your Deal Alert Preferences<span class="txt-block"></span> so we can notify you of our best deals that fit your paratmers.</p>
       </div> 
    </div>

    <div class="container t-space">
        <form action="{% url "accounts" %}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <h3 class="account-title">Account</h3>
                </div>
            </div>
            <div class="bottom-line"></div>

            <div class="row">
                <div class="col-6 text-center">
                    <div class="account-info">
                        <h3>Account Information</h3>
                        <h3>Traveler Information</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="ac-input-list">
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="email" value="{{ user.email }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Email Address">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="first_name"
                                   value="{{ user.first_name }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="First Name">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="dob" value="{% if user.profile.dob %}{{ user.profile.dob }}{% endif %}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Date of Birth">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="market" value="{% if user.profile.market %}{{ user.profile.market }}{% else %}None{% endif %}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Home Airport">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" aria-describedby="basic-addon3"
                                   class="form-control"
                                   placeholder="Basic Plan - $6.99/mo">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="ac-input-list">
                        <div class="input-group input-group-sm account-inputs">
                            <input type="password" name="password"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Password">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="last_name"
                                   value="{{ user.last_name }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Last Name">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <select name="gender" class="form-control">
                                <option value="0"{% if user.profile.gender == 0 %}
                                        selected{% endif %}>Male
                                </option>
                                <option value="1"{% if user.profile.gender == 1 %}
                                        selected{% endif %}>Female
                                </option>
                            </select>
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="phone_number"
                                   value="{{ user.profile.phone_number }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Phone Number">
                            <span style="font-size: 11px;position: absolute;bottom: -18px;margin-left: 13px;">(optional For Flight Deal Alerts)</span>
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="tsa_precheck_number"
                                   value="{{ user.profile.tsa_precheck_number }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="TSA Precheck Number">
                        </div>

                        <input type="submit" class="btn btn-default account-btn"
                               value="Save"/>
                    </div>
                </div>
            </div>
            <div class="bottom-line"></div>
        </form>

        <form action="{% url "frequent-flyer" %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 text-center">
                    <div class="account-info">
                        <h3>Frequent Flyer Information</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="ac-input-list">
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="american_airlines"
                                   value="{{ user.frequentflyer.american_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="American Airlines">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="united_airlines"
                                   value="{{ user.frequentflyer.united_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="United Airlines">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="southwest_airlines"
                                   value="{{ user.frequentflyer.southwest_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Southwest Airlines">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="sun_country_airlines"
                                   value="{{ user.frequentflyer.sun_country_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Sun Country Airlines">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="frontier_airlines"
                                   value="{{ user.frequentflyer.frontier_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Frontier Airlines">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="ac-input-list">
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="delta_airlines"
                                   value="{{ user.frequentflyer.delta_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Delta Airlines">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="alaska_airlines"
                                   value="{{ user.frequentflyer.alaska_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Alaska Airlines">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="jetBlue"
                                   value="{{ user.frequentflyer.jetBlue }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="jetBlue">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="spirit_airlines"
                                   value="{{ user.frequentflyer.spirit_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Spirit Airlines">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="allegiant_air"
                                   value="{{ user.frequentflyer.allegiant_air }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Allegiant Air">
                        </div>
                        <div class="input-group input-group-sm account-inputs">
                            <input type="text" name="hawaiian_airlines"
                                   value="{{ user.frequentflyer.hawaiian_airlines }}"
                                   aria-describedby="basic-addon3" class="form-control"
                                   placeholder="Hawaiian Airlines">
                        </div>

                        <input type="submit" class="btn btn-default account-btn"
                               value="Save"/>
                    </div>
                </div>
            </div>
            <div class="bottom-line"></div>
        </form>

        <!-- Discount Price Alert -->
        <section class="discount-price">
            <div class="row">
                <div class="col-md-8 col-12">
                    <h3 class="account-title">Deal Alerts Notifications</h3>
                    <p>Enter your notification parameters and your good to go</p>
                </div>
            </div>
            <h3 class="d-heading">Destination One</h3>

            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="input-group input-group-sm account-inputs">
                        <input type="text" aria-describedby="basic-addon3"
                               class="form-control" placeholder="Destination">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="input-group input-group-sm account-inputs">
                        <input type="text" aria-describedby="basic-addon3"
                               class="form-control" placeholder="Max Price">
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="input-group input-group-sm account-inputs">
                        <input type="text" aria-describedby="basic-addon3"
                               class="form-control" placeholder="Specific Airlines">
                    </div>
                </div>
            </div>
            <h3 class="d-heading">Destination Two</h3>

            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="input-group input-group-sm account-inputs">
                        <input type="text" aria-describedby="basic-addon3"
                               class="form-control" placeholder="Destination">
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="input-group input-group-sm account-inputs">
                        <input type="text" aria-describedby="basic-addon3"
                               class="form-control" placeholder="Max Price">
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class="input-group input-group-sm account-inputs">
                        <input type="text" aria-describedby="basic-addon3"
                               class="form-control" placeholder="Specific Airlines">
                    </div>
                </div>
            </div>
            <a href="" class="btn btn-default account-btn">Save</a>
        </section>
    </div>
    {% include "_includes/footer.html" %}
{% endblock %}

{% block jscontent %}
    <script>
        new Lightpick({
            field: document.getElementById('dob')
        });

        new Lightpick({
            field: document.getElementById('expiry')
        });
    </script>
{% endblock %}
