<div class="col-12 text-center mt-md-5 pt-5 pb-5">
    <h2 style="font-size: 2.4rem; padding-bottom: 10px; font-weight: bold; padding-top: 40px;">
        Subscription Plans</h2>
    <h4 class="font-weight-normal mx-auto"
        style="max-width: 650px; line-height: 1.4; font-size: 1.25rem; color: #6c757d;">
        Select how many flights you take a year and we'll find the plan for you
    </h4>
</div>
<ul class="nav nav-pills border d-flex mb-5 subscription-tab-menu" id="myTab"
    role="tablist">
    {% for groupname, group_id, is_annual, p in plans %}
        <li class="nav-item">
            <a class="nav-link{% if forloop.first %} active{% endif %}" id="{{ group_id }}-tab" data-toggle="tab"
               href="#{{ group_id }}" role="tab" aria-controls="{{ group_id }}"
               {% if forloop.first %}aria-selected="true"{% endif %}>
                <strong>{{ groupname }}</strong>
            </a>
        </li>
    {% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
    {% for groupname, group_id, is_annual, p in plans %}
        {% with forloop.first as show %}
            {% if is_annual %}
                {% include "info/personal-how-it-works/subscription-plans/offer-plan.html" with offer_id=group_id flight_num=p.flight_num price_mo=p.price_mo price_mo_annual=p.price_mo_annual price_annual=p.price_annual savings=p.savings plan_name=p.name code=p.code %}
            {% else %}
                {% include "info/personal-how-it-works/subscription-plans/offer-first.html" with offer_id=group_id plans=p %}
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>
