.section {
  .first-page-body {
    flex: inherit
  }
  .home-slider {
    // padding: 3rem 0;
    .h-slider-caption {
        padding: 1rem;
    }

    .slider-box {
      border-color: #f6f6f6;
      border-radius: 2px;
      transition: box-shadow .3s ease-in-out;
      border-radius: 2px;
      position: relative;
      height: 18rem;
      &:hover {
        box-shadow: 0 3px 39px rgba(0,0,0,0.12);
      }
      &__img {
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          object-fit: cover;
          max-height: inherit;
        }
      }
      &__text {
        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9215686274509803), transparent);
        padding-bottom: 1rem;
        h3 {
          font-family: $dona-black;
          font-size: 1.2rem;
          margin-bottom: 0;
        }
        p {
          font-family: $dona-bold;
          font-size: 0.75rem;
          margin-bottom: 0.7rem;
        }
        h4 {
          font-family: $dona-black;
          font-size: 0.875rem;
          margin-bottom: 0;
        }
      }
    }
  }
}


// Hero
.hero {
  .horizontal-form {
    .main-filters {
      display: flex;
      .s-result-dropdown {
        &:not(:last-child) {
          margin-right: 2rem;
        }

        span {
          font-size: 0.8125rem;
          padding: 9px 5px 5px 5px;
        }
        .search-f-dropdown {
          min-width: 100px;
        }
        @include mq(md) {
          min-width: 140px;
        }
      }
    }
  }
  .wide-form {
    padding-top: 34px;
    padding-bottom: 59px;
  }

  .trending-flights {
    display: none;

    @include mq(md) {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 1rem;
    }
    @include mq(lg) {
      flex-direction: row;
      margin-top: 0;
    }
    span {
      margin-right: 1rem;
      font-family: $dona-black;
      color: #7d7d7d;
    }
    &__item {
      background-color: $primary;
      color: $white;
      padding: 3px 1rem;
      margin-right: 0.5rem;
      font-family: $dona-black;
      font-size: 13px;
      margin-bottom: 0.5rem;
      @include mq(lg) {
        margin-bottom: 0;
      }
    }
  }
}

.hero-search {
  &__item {
    span {
      font-family: $dona-black;
      color: white;
    }
  }
}
