
.search-panel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-form-pane {
  padding-right: 1em;
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
}

.right-body-pane {
  padding-left: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 992px) {
  .search-panel {
    flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .left-form-pane {
    padding-left: calc(100% / 2 - 540px / 2 + 15px);
  }

  .right-body-pane {
    padding-right: calc(100% / 2 - 540px / 2 + 15px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .left-form-pane {
    padding-left: calc(100% / 2 - 720px / 2 + 15px);
    padding-right: calc(100% / 2 - 720px / 2 + 15px);
  }

  .right-body-pane {
    padding-left: calc(100% / 2 - 720px / 2 + 15px);
    padding-right: calc(100% / 2 - 720px / 2 + 15px);
    padding-top: 1em;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .left-form-pane {
    padding-left: calc(100% / 2 - 960px / 2 + 15px);
    flex-grow: 1.2;
  }

  .right-body-pane {
    padding-right: calc(100% / 2 - 960px / 2 + 15px);
  }
}

@media (min-width: 1200px) {
  .left-form-pane {
    padding-left: calc(100% / 2 - 1140px / 2 + 15px);
  }

  .right-body-pane {
    padding-right: calc(100% / 2 - 1140px / 2 + 15px);
  }
}
