<div id="billing" class="tab-pane fade in">
    <div class="row">
        <div class="col-md-6">
            <div class="card  mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="bold">Billing</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% include "accounts/includes/billing/card_form.html" %}
                        </div>
                    </div>
                    <div class="card-title">
                        <h3 class="bold p-0">My Cards</h3>
                    </div>
                    <div class="">
                        {% for account in user.account_set.all %}
                            <div class="card mb-3" style="margin-bottom: 10px">
                                <div class="card-title">
                                    {{ user.first_name }} {{ user.last_name }}
                                </div>
                                <div class="card-body">
                                    <div>
                                        <p>Card Number:
                                            <strong>{{ account.card_number }}</strong>
                                        </p>
                                    </div>
                                    <div>
                                        <p>cvc: <strong> {{ account.cvc }}</strong></p>
                                    </div>
                                    <div>
                                        <p>Expiry:
                                            <strong> {{ account.expiry }}</strong></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% include "accounts/includes/billing/subscriptions.html" %}
            {% include "accounts/includes/billing/companions.html" %}
        </div>
    </div>
</div>
