<div id="overview" class="tab-pane fade in active show">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="bold p-0">Traveler
                            Information</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% include "accounts/includes/general/account_form.html" %}
                        </div>
                    </div>
                    <div class="card-title">
                        <h3 class="bold p-0">Change
                            Password</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% include "accounts/includes/general/change_password_form.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="bold p-0">Frequent Flyer
                            Numbers</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="pb-2">Alaska
                                Airlines</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="pb-2">American
                                Airlines</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="pb-2">Delta
                                Airlines</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="pb-2">Frontier</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="pb-2">Southwest</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="pb-2">Sun
                                Country</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="pb-2">jetBlue</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="pb-2">United</label>
                            <input class="form-control"
                                   type="text"
                                   placeholder="Enter Frequent Flyer Number">
                        </div>
                        <div class="form-group col-sm-12 pt-1">
                            <button class="search_btn">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
