<script type="text/x-template" id="vue-airline-filter-template">
    <div class="input-group input-group-sm search-dropdown">
        <div class="bg-white-close-holes">
            <span class="input-group-text search-form-input">Airline Filter</span>
            <input type="text" class="form-control search-input"
                   @focus="open" v-model="text"
                   placeholder="Ex, American Airlines, Delta">
        </div>
        <div class="search-f-dropdown airline-f-dropdown"
             v-if="selectProgress"
             v-click-outside="close">
            <ul class="s-dropdown-list">
                <li v-for="(airlineData, index) of data" @click="select(index)">
                    <label>
                        <span class="checkmark" :class="{checked: airlineData.checked}"></span>
                        <img :src="airlineIcon(airlineData.code)"/> [[ airlineData.name ]]
                    </label>
                </li>
            </ul>
        </div>

    </div>
</script>
