{% load static %}
<div id="dealform" class="h-dealform horizontal-form">
  <div class="row">
    <div class="col">
      <div class="d-flex">
        <select-destination
          :value="form.destinationTypeId"
          @select="setDestinationType"
        />
        <select-passenger-count />
        <select-seat-type :value="form.seatType" @select="setSeatType" />
      </div>
    </div>
  </div>
  <div class="row">
    <!-- TODO: insert controls -->
    <div class="col">
      <div class="hero-search">
        <div class="hero-search__item is-wide">
          <div class="input-group input-group-sm search-dropdown">
            <location-input
              :prompt="'Departure City'"
              :promptMobile="'From Where?'"
              @place-selected="updatePlaceFrom"
            />
          </div>
        </div>
        <div class="hero-search__item is-wide">
          <div class="input-group input-group-sm search-dropdown">
            <location-input
              :prompt="'Arrival City'"
              :promptMobile="'To Where?'"
              @place-selected="updatePlaceTo"
            />
          </div>
        </div>
        <div class="hero-search__item">
          <div
            class="input-group input-group-sm search-dropdown home-date-field-dep"
          >
            <div class="dat-blue-border dep-date">
              <span class="input-group-text search-form-input">Dep</span>
              <input
                type="text"
                id="departure_date"
                aria-describedby="basic-addon3"
                class="form-control search-input"
                v-model="form.departure_date"
              />
            </div>
          </div>
        </div>

        <div v-if="form.destinationTypeId === 'round'">
          <div class="hero-search__item">
            <div
              class="input-group input-group-sm search-dropdown home-date-field-ret"
            >
              <div class="dat-blue-border ret-date">
                <span class="input-group-text search-form-input">Ret</span>
                <input
                  type="text"
                  id="return_date"
                  aria-describedby="basic-addon3"
                  class="form-control search-input"
                  v-model="form.return_date"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="hero-search__item is-last">
          <div class="search-button horizontal-f-btn">
            <button
              type="submit"
              class="btn-search"
              @click="searchFromHome"
              :disabled="isFormIncomplete"
            >
              <img src="{% static "home/img/search.png" %}">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
