<script type="text/x-template" id="vue-account-companion-template">
<div class="main-padding">
    <div class="account__form account__form--table">
      <div class="row">
        <div class="col-12 col-lg-10">
            <h3>Companions</h3>
            <table v-if="companions.length > 0">
              <thead>
                <tr>
                  <th>Email</th>
                  <th>Invited</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr v-for="companion in companions">
                <td>[[ companion.email ]]</td>
                <td>[[ formatDateTime(companion.invited) ]]</td>
                <td>[[ companion.status ]]</td>
                <td><button type="button" class="button button--red" @click="deleteCompanion(companion)">Delete</button></td>
              </tr>
              </tbody>
            </table>
            <p>Enter your notifiction parameters and your good to go</p>
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-lg-4">
                    <input type="email" class="form-control" placeholder="Email" v-model="form.email" />
                  </div>
                  <div class="col-12 col-lg-3">
                    <button type="button" class="btn btn-primary invite-companion" @click="inviteCompanion">Invite</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</script>
