<script type="text/x-template" id="vue-booking-bags-template">
    <div v-if="baggage" class="booking-bags">
        <div v-for="(combinationList, categoryName) in baggage.combinations">
            <h3 class="booking-bags__heading">
                [[ categoryLabels[categoryName] ]]<span>Select one option</span></h3>
            <div class="booking-bags__combination-list">
                <div v-for="(combination, combinationIndex) in combinationList" v-if="isValidCombination(combination)" class="booking-bags__combination">
                    <input type="radio" :name="categoryName" :value="combinationIndex" v-model="selectedCombinations[categoryName]"/>
                    <div v-for="definition in definitions(combination)">
                        <i :class="iconClass(definition)" />
                        <p class="booking-bags__bag-label">[[ bagLabel(definition) ]]</p>
                        <p class="booking-bags__dimensions">[[ dimensions(definition) ]]</p>
                    </div>
                    <p class="booking-bags__combination-price">$[[ convertToUsd(combination.price.amount) ]]</p>
                </div>
            </div>
        </div>
    </div>
    <div v-else class="booking-bags__loading">
        <p>Loading...</p>
    </div>
</script>
