<script type="text/x-template" id="vue-booking-flight-details-template">
  <div class="flight__details">
      <ul class="clander-list">
          <li>[[ formatDate(flight.local_departure) ]]</li>
          <li>[[ seatTypes[flight.fare_category ] ]]</li>
          {# TODO: find way to display right fare class #}
      </ul>

      <div class="detail-box">
          <p>[[ formatTime(flight.local_departure) ]]
              <span>[[ flight.cityFrom ]] [[ flight.flyFrom ]]</span>
          </p>
          <p>[[ formatTime(flight.local_arrival) ]]
              <span>[[ flight.cityTo ]] [[ flight.flyTo ]]</span></p>
          <img :src="airlineIcon(flight.airline)"
               :alt="flight.airline">
          <sub class="col-sub">[[ timeInterval(flight) ]]</sub>
      </div>
  </div>
</script>
