<script type="text/x-template" id="vue-booking-passenger-form-template">
    <div class="pform">
        <b class="pform__header">[[ isPrimary:'Primary passenger':'Secondary passenger' ]]</b>
        <div class="pform__alert">
            Use all First names and Last Names exactly as they appear in your
            passport ID to avoid boarding complications
        </div>
        <div class="pform__field">
            <label>Title</label>
            <select v-model="model.title">
                <option value="mr">mr</option>
                <option value="ms">ms</option>
            </select>
        </div>
        <div class="pform__field">
            <label>Given names</label>
            <input type="text" v-model="model.name" placeholder="e.g Johnny Apple" />
        </div>
        <div class="pform__field">
            <label>Surname(s)</label>
            <input type="text" name="surname" placeholder="e.g. Seed" />
        </div>
        <div class="pform__field">
            <label>Nationality</label>
            <select class="form-control" name="nationality">
                <option v-for="(label, name) in isoCountries" :value="name">[[ label ]]</option>
            </select>
        </div>
        <div class="pform__field">
            <label>Birthdate</label>
            <select v-model="model.month">
                <option v-for="(label, value) in months" :value="value">[[ label ]]</option>
            </select>
            <select v-model="model.day">
                <option v-for="i in 31" :value="i">[[ i ]]</option>
            </select>
            <select v-model="model.year">
                <option v-for="i in 100" value="2019 - i">[[ 2019 - i ]]</option>
            </select>
        </div>
        <div class="pform__field">
            <label>Passport/ID number</label>
            <input type="text" v-model="model.cardno">
        </div>
        <div class="pform__field">
            <label>Expiration</label>
            <input type="text" v-model="model.expiration" placeholder="2020-12-28">
        </div>
        {% include "booking/includes/passenger/bags.html" %}
    </div>
    <div class="pform__field--button">
        <button class="pform__add" @click="addPassenger">Add another passenger</button>
    </div>
</script>
