<script type="text/x-template" id="vue-checkout-form-template">
  <div class="checkout">
      <h3 class="checkout__heading">Check out</h3>
      <div class="checkout__row">
          <label>Promo Code</label>
          <input class="form-control" type="text" v-model="form.promocode"/>
      </div>

      <div class="checkout__row">
          <label>Name on Card</label>
          <input class="form-control" type="text" v-model="form.holder_name"/>
      </div>

      <div class="checkout__row">
          <label>Credit Card Number</label>
          <input class="form-control" type="text" v-model="form.card_number"/>
      </div>

      <div class="checkout__row checkout__row--container">
          <div class="checkout__column">
              <label>Exp Date</label>
              <input class="form-control" type="text" v-model="form.expiry"/>
          </div>

          <div class="checkout__column">
              <label>CCV</label>
              <input class="form-control" type="text" v-model="form.credit_card_cvv"/>
          </div>
      </div>

      <div class="checkout__row">
          <label>E-Mail</label>
          <input class="form-control" type="text" v-model="form.email"/>
      </div>

      <div class="checkout__row">
          <label>Phone</label>
          <input class="form-control" type="text" v-model="form.phone"/>
      </div>

      <div class="checkout__row--submit">
          <button class="button button--big button--outline-blue" :disabled="bookingProgress" @click="book">Book Flight For $[[ total_price ]]</button>
      </div>
  </div>
</script>
