<script type="text/x-template" id="vue-dashboad-overview-template">
  <div class="overview">

    <div class="section-heading">
      <div class="section-heading__inner">
        <h1 class="section-heading__title">Dashboard</h1>
        <p class="section-heading__text">View Deal Alerts, Suggested Trips, Trip Stats and much much more.</p>
      </div>
    </div>

    <div class="main-padding">
      <div class="row">

        <div class="col-12 col-xl-6">
          <tile-component title="Total Trips Taken : " >
            <div class="tile__body-top">
              <div>
                <p>2</p>
                <p>Domestic</p>
              </div>
              <div>
                <p>0</p>
                <p>International</p>
              </div>
            </div>
            <div class="tile__body-bottom">
              <p>4 Bookings Remain</p>
              <p>Upgrade Plan</p>
            </div>
          </tile-component>
        </div>

        <div class="col-12 col-xl-6">
          <div class="tile">
            <h3 class="tile__heading">Previous Trips</h3>
            <div class="tile__body">
              <p class="tile__body-no-result">No Previous Trips, Start Booking</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-6">
          <div class="tile">
            <h3 class="tile__heading">Recently Searched</h3>
            <div class="tile__body">
              <p class="tile__body-no-result">No Recent Searches, Lets Find a Deal</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</script>
