<script type="text/x-template" id="vue-dashboard-header-template">
  <header class="main-header">
    <div class="main-header__top">
      <span>Round Trip</span>
      <span>1 Adult </span>
      <span>Economy</span>
    </div>
    <div class="main-header__bottom">
      <form action="">
        <input type="text" class="form-control" placeholder="From: ">
        <input type="text" class="form-control" placeholder="To: ">
        <input type="text" class="form-control" placeholder="Dep: ">
        <input type="text" class="form-control" placeholder="Return: ">
        <button class="btn btn-search">
          <svg class="icon icon--search" width="21" height="21">
            <use xlink:href="#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </header>
</script>
