<script type="text/x-template" id="vue-dashboad-overview-template">
    <div class="overview">

        <div class="section-heading">
            <div class="section-heading__inner">
                <h1 class="section-heading__title">Dashboard</h1>
                <p class="section-heading__text">View Deal Alerts, Suggested Trips, Trip
                    Stats and much much more.</p>
            </div>
        </div>

        <div class="main-padding">
            <div class="row">

                <div class="col-12 col-md-6 col-xl-4">
                    <tile-component title="Total Trips Taken : ">
                        <div class="tile__body-top">
                            <div class="tile__body-top-numbers"><span>2</span> <span>Domestic</span>
                            </div>
                            <div class="tile__body-top-numbers"><span>0</span> <span>International</span>
                            </div>
                        </div>
                        <div class="tile__body-bottom"><p class="booking">4 Bookings
                            Remain</p>
                            <p class="upgrade">Upgrade Plan</p></div>
                    </tile-component>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <tile-component title="Estimated Savings : "
                                    class="tile--estimated">
                        <div class="tile__body-top">
                            <div class="tile__body-top-numbers"><span>$67.00</span>
                                <span>Domestic</span></div>
                            <div class="tile__body-top-numbers"><span>$0.00</span>
                                <span>International</span></div>
                        </div>
                        <div class="tile__body-bottom">*Based on Average Savings from
                            FlyLine members
                        </div>
                    </tile-component>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <tile-component title="Possible Questions : " titleRight="View All"
                                    :multiTitle="true">
                        <div class="tile__list">
                            <div class="tile__item">Why are flights cheaper on than
                                other booking sites?
                            </div>
                            <div class="tile__item">How do I check in for my flight?
                            </div>
                            <div class="tile__item">Flight Booking Limits?</div>
                        </div>
                    </tile-component>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <tile-component class="tile--flights" title="Trending on FlyLine">
                        <div class="tile__list">
                            <deal v-for="deal in deals" :deal="deal"/>
                        </div>
                    </tile-component>
                </div>

                <div v-if="user && user.profile && user.profile.market"
                     class="col-12 col-md-6 col-xl-4">
                    <tile-component class="tile--flights"
                                    :title="`Suggested Trips From ${user.profile.market.name}`">
                        <div class="tile__list">
                            <deal v-for="deal in suggested_deals" :deal="deal"/>
                        </div>
                    </tile-component>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="tile">
                        <h3 class="tile__heading">Recently Searched</h3>
                        <div class="tile__body">
                            <p class="tile__body-no-result">No Recent Searches, Lets
                                Find a Deal</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</script>
