<script type="text/x-template" id="vue-deal-template">
    <div class="tile__item">
        <div class="tile__item-left">
            <p class="tile__item-left-top">
                [[ deal.city_from_name ]] ([[ deal.fly_from ]]) ->
                [[ deal.city_to_name ]] ([[ deal.fly_to ]]) |
                [[ formatDateDeals(deal.departure_date) ]] -
                [[ formatDateDeals(deal.return_date) ]]</p>
            <p class="tile__item-left-bottom">[[ airlines ]] $[[ price ]] Round Trip</p>
        </div>
        <a href="#" class="tile__item-right">View Flight</a>
    </div>
</script>
