<script type="text/x-template" id="vue-faq-template">
  <div class="faq">
    <header> <nav-bar /></header>
    <main>
      <div class="faq__heading">
          <div class="container">
            <h1 class="faq__title" style="font-size: 2.5rem;">Frequently Asked Questions.</h1>
            <p class="faq__text" style="font-size: 1.125rem">
              Have a question? Browse through the list below <br> and I'm sure we'll answer your questions
            </p>
        </div>
      </div>

      <div class="faq__content">
        <div class="container">
          <div class="faq__list">
            <h3 class="faq__list-title">How to Check for Your Flight</h3>
            <accordion id="list" :content="faqList"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">How Do I Cancel My Reservation?</h3>
            <accordion id="list" :content="faqList2"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">Airline-Initiated Schedule Changes?</h3>
            <accordion id="list" :content="faqList3"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">How Do I Change My Reservation?</h3>
            <accordion id="list" :content="faqList4"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">What About Baggage Fees & Allowances?</h3>
            <accordion id="list" :content="faqList5"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">What About My Seat Assignment?</h3>
            <accordion id="list" :content="faqList6"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">Booking Mistakes & Name Changes?</h3>
            <accordion id="list" :content="faqList7"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">Miss a flight?</h3>
            <accordion id="list" :content="faqList8"></accordion>
          </div>

          <div class="faq__list">
            <h3 class="faq__list-title">Low Cost Airline Booking?</h3>
            <accordion id="list" :content="faqList9"></accordion>
          </div>

        </div>
      </div>
    </main>
    <footer><main-landing-footer></main-landing-footer></footer>
  </div>
</script>
