<script type="text/x-template" id="vue-airport-input-template">
    <div class="search-item app" :class="{shadowsrch: focused}">
        <input type="text" autocomplete="disabled"
               :placeholder="$mq === 'sm'?promptMobile:prompt"
               class="form-control search-input"
               @focus="onFocused"
               @blur="onBlurred"
               v-model="text"
               @input="onInput"/>
        <div class="dropdown-list" :class="{hidden: !focused && !searchProgress}">
            <ul v-if="searchResults.length > 0" class="list-Sdown">
                <li v-for="(place, index) of searchResults"
                    @click="choose(index)"
                    :class="place.type">
                    <div class="dropdown-icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div v-text="formatPlace(place)"/>
                </li>
            </ul>
            <p v-else-if="!requestProgress">Start typing city name...</p>
            <p v-else-if="requestProgress">Loading...</p>
        </div>
    </div>

</script>
