<script type="text/x-template" id="vue-main-landing-stats-template">
    <div class="stats">
        <div class="container">
            <h2 class="stats__title">What FlyLine Subscribers Get</h2>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="stats__item">
                        <div class="stats__number">$30+</div>
                        <p class="stats__text">Average domestic flight savings</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stats__item">
                        <div class="stats__number">$150+</div>
                        <p class="stats__text">Average of $150 international flights</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stats__item">
                        <div class="stats__number">250+</div>
                        <p class="stats__text">Airlines to choose from</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
