<script type="text/x-template" id="vue-main-landing-hero-template">
  <div id="search-hero" class="hero search-container d-flex header-background homepage-background mobile-before first-page-body js-steps-small-blue">
        <div class="container align-self-center">
              <div class="h-headermain">
                  <div class="row">
                      <div class="col-12 col-md-12 wide-form">
                          <div class="search-flight-home">
                              <div>
                                  <cd-intro/>
                              </div>
                              <div>
                                  {% include "home/vue/search/dealform-horizontal.html" %}
                              </div>
                          </div>
                      </div>
                  </div>
            </div><!-- h-headermain -->
        </div>
    </div>
</script>
