<script type="text/x-template" id="vue-main-landing-stats-template">
    <div class="stats">
        <div class="container">
            <h2 class="stats__title">What FlyLine Subscribers Get</h2>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="stats__item">
                        <div class="stats__number">$20-$40</div>
                        <p class="stats__text">Save an average of $20-$40 <br> on domestic flights</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stats__item">
                        <div class="stats__number">$100-$200</div>
                        <p class="stats__text">Save an average of $100- <br> $200 on international flights</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="stats__item">
                        <div class="stats__number">250+ Airlines</div>
                        <p class="stats__text">Fly your favorite airlines with <br> over 250 to choose from</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
