{% load static %}
<script type="text/x-template" id="vue-main-landing-tiles-template">
    <div class="container">
        <div class="tiles">
            <h3 class="title--black-small">Recently Deals on FlyLine</h3>
            <div class="row">
              <!-- Tile 1 Start -->
                <div class="col-12 col-lg-6">
                    <div class="tiles__card">
                        <div class="tiles__card-img">
                            <img src="{% static "home/img/main-landing/1.png" %}" alt="New York">
                        </div>
                        <div class="tiles__card-content">
                            <h4 class="tiles__card-title">Dallas (JFK) -> New York (LGA)</h4>
                            <div class="tiles__card-airports">
                                <div class="tiles__card-icons">
                                    <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/B6.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/WN.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/NK.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/UA.png" %}" alt="AA">
                                </div>
                                <div class="tiles__card-text--small">Non Stop 3h 20m</div>
                            </div>
                            <p class="tiles__card-text">$26 Less than other sites</p>
                            <div class="tiles__card-details">
                                <p class="tiles__card-text--blue">Average $180 </p>
                                <a class="button button--outline-blue" href="/">View Flights</a>
                            </div>
                        </div>    
                    </div>
                </div>
                <!-- Tile 1 Ends -->

                <!-- Tile 2 Starts -->
                <div class="col-12 col-lg-6">
                  <div class="tiles__card">
                      <div class="tiles__card-img">
                          <img src="{% static "home/img/main-landing/1.png" %}" alt="New York">
                      </div>
                      <div class="tiles__card-content">
                          <h4 class="tiles__card-title">Dallas (JFK) -> New York (LGA)</h4>
                          <div class="tiles__card-airports">
                              <div class="tiles__card-icons">
                                  <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/B6.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/WN.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/NK.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/UA.png" %}" alt="AA">
                              </div>
                              <div class="tiles__card-text--small">Non Stop 3h 20m</div>
                          </div>
                          <p class="tiles__card-text">$26 Less than other sites</p>
                          <div class="tiles__card-details">
                              <p class="tiles__card-text--blue">Average $180 </p>
                              <a class="button button--outline-blue" href="/">View Flights</a>
                          </div>
                      </div>    
                  </div>
                </div>
                <!-- Tile 2 Ends -->

                <!-- Tile 3 Start -->
                <div class="col-12 col-lg-6">
                  <div class="tiles__card">
                      <div class="tiles__card-img">
                          <img src="{% static "home/img/main-landing/1.png" %}" alt="New York">
                      </div>
                      <div class="tiles__card-content">
                          <h4 class="tiles__card-title">Dallas (JFK) -> New York (LGA)</h4>
                          <div class="tiles__card-airports">
                              <div class="tiles__card-icons">
                                  <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/B6.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/WN.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/NK.png" %}" alt="AA">
                                  <img src="{% static "home/img/main-landing/UA.png" %}" alt="AA">
                              </div>
                              <div class="tiles__card-text--small">Non Stop 3h 20m</div>
                              <div class="tiles__card-text--small">Multiple Stops 7h +</div>
                          </div>
                          <p class="tiles__card-text">$26 Less than other sites</p>
                          <div class="tiles__card-details">
                              <p class="tiles__card-text--blue">Average $180 </p>
                              <a class="button button--outline-blue" href="/">View Flights</a>
                          </div>
                      </div>    
                  </div>
                </div>
                <!-- Tile 3 Ends -->

                <!-- Tile 4 Starts -->
                  <div class="col-12 col-lg-6">
                    <div class="tiles__card">
                        <div class="tiles__card-img">
                            <img src="{% static "home/img/main-landing/1.png" %}" alt="New York">
                        </div>
                        <div class="tiles__card-content">
                            <h4 class="tiles__card-title">Dallas (JFK) -> New York (LGA)</h4>
                            <div class="tiles__card-airports">
                                <div class="tiles__card-icons">
                                    <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/B6.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/WN.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/NK.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/UA.png" %}" alt="AA">
                                </div>
                                <div class="tiles__card-text--small">Non Stop 3h 20m</div>
                            </div>
                            <p class="tiles__card-text">$26 Less than other sites</p>
                            <div class="tiles__card-details">
                                <p class="tiles__card-text--blue">Average $180 </p>
                                <a class="button button--outline-blue" href="/">View Flights</a>
                            </div>
                        </div>    
                    </div>
                  </div>
                <!-- Tile 4 Ends -->

            </div>
        </div>
    </div>
</script>
