{% load static %}
<script type="text/x-template" id="vue-main-landing-footer-template">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="main-footer__title">Company</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item"><router-link :to="{name: 'about'}" class="main-footer__link" href="/">About</router-link></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Help</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">News</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">FlyLine Blog</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Media</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">Product</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Subscription Plans</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Travel Features</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Savings Explained</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">Legal</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Privacy Policy</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">Follow Us</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Facebook</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Twitter</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Instagram</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Pinterest</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Product Hunt</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">App Coming Soon</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item">
                          <a class="main-footer__link" href="/">
                            <img class="main-footer__social" src="{% static "home/img/main-landing/apple-logo.svg" %}" alt="App Store Download">
                          </a>
                        </li>   
                        <li class="main-footer__item">
                            <a class="main-footer__link" href="/">
                              <img class="main-footer__social" src="{% static "home/img/main-landing/googlePlay-logo.svg" %}" alt="Google Play Download">
                            </a>
                          </li> 
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="main-footer__copyright">FlyLine</p>
                </div>
            </div>
        </div>
    </div>
</script>
