{% load static %}
<script type="text/x-template" id="vue-main-landing-footer-template">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="main-footer__title">Company</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item"><router-link :to="{name: 'about'}" class="main-footer__link" href="/">About</router-link></li>
                        <li class="main-footer__item"><router-link :to="{name: 'flyline101'}" class="main-footer__link" href="/">Flyline 101</router-link></li>
                        <li class="main-footer__item"><router-link :to="{name: 'faq'}" class="main-footer__link" href="/">FAQ</router-link></li>>
                        <li class="main-footer__item"><router-link class="main-footer__link" :to="{name: 'airlines'}">Airlines</router-link></li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">Product</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item">
                            <router-link class="main-footer__link"  :to="{name: 'index', hash: '#subscription'}">Subscription Plans</router-link>
                        </li>
                        <li class="main-footer__item">
                            <router-link class="main-footer__link" :to="{name: 'about', hash: '#travel-tool-kit'}">Travel Features</router-link>
                        </li>
                        <li class="main-footer__item">
                          <router-link class="main-footer__link" :to="{name: 'membership-explained'}">Membership Explained</router-link>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">Legal</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item"><router-link class="main-footer__link" :to="{name: 'privacy-policy'}">Privacy Policy</router-link></li>
                        <li class="main-footer__item"><router-link class="main-footer__link" :to="{name: 'terms-of-services'}">Terms of Use</router-link></li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">Follow Us</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Facebook</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" target="_blank" href="https://twitter.com/joinflyline">Twitter</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" target="_blank" href="https://www.instagram.com/joinflyline/">Instagram</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Pinterest</a></li>
                        <li class="main-footer__item"><a class="main-footer__link" href="/">Product Hunt</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="main-footer__title">App Coming Soon</h4>
                    <ul class="main-footer__list">
                        <li class="main-footer__item">
                          <a class="main-footer__link" href="/">
                            <img class="main-footer__social" src="{% static "home/img/main-landing/apple-logo.svg" %}" alt="App Store Download">
                          </a>
                        </li>
                        <li class="main-footer__item">
                            <a class="main-footer__link" href="/">
                              <img class="main-footer__social" src="{% static "home/img/main-landing/googlePlay-logo.svg" %}" alt="Google Play Download">
                            </a>
                          </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="main-footer__copyright">FlyLine</p>
                </div>
            </div>
        </div>
    </div>
</script>
