{% load static %}
<script type="text/x-template" id="vue-main-landing-tiles-template">
    <div class="tiles__container hide-element-on-mobile">
      <div class="container">
          <div class="tiles">
              <h3 class="title--black-small">Recent Deals on FlyLine</h3>
              <div class="row">
                <!-- Tile 1 Start -->
                  <div class="col-12 col-lg-6">
                      <div class="tiles__card">
                          <div class="tiles__card-img">
                              <img src="{% static "home/img/main-landing/1.png" %}" alt="New York">
                          </div>
                          <div class="tiles__card-content">
                              <h4 class="tiles__card-title">Dallas (DFW) -> New York (LGA)</h4>
                              <div class="tiles__card-airports">
                                  <div class="tiles__card-icons">
                                      <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                      <img src="{% static "home/img/main-landing/B6.png" %}" alt="AA">
                                      <img src="{% static "home/img/main-landing/WN.png" %}" alt="AA">
                                      <img src="{% static "home/img/main-landing/NK.png" %}" alt="AA">
                                      <img src="{% static "home/img/main-landing/UA.png" %}" alt="AA">
                                  </div>
                                  <div class="tiles__card-text--small">Non Stop 3h 20m</div>
                              </div>
                              <p class="tiles__card-text">$26 Less than other sites</p>
                              <div class="tiles__card-details">
                                  <p class="tiles__card-text--blue">Average $180 </p>
                                  <a class="button button--outline-blue" href="/">View Flights</a>
                              </div>
                          </div>    
                      </div>
                  </div>
                  <!-- Tile 1 Ends -->
  
                  <!-- Tile 2 Starts -->
                  <div class="col-12 col-lg-6">
                    <div class="tiles__card">
                        <div class="tiles__card-img">
                            <img src="{% static "home/img/main-landing/paris.png" %}" alt="New York">
                        </div>
                        <div class="tiles__card-content">
                            <h4 class="tiles__card-title">Washington DC (IAD) -> Paris FR (CDG)</h4>
                            <div class="tiles__card-airports">
                                <div class="tiles__card-icons">
                                    <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/B6.png" %}" alt="B6">
                                    <img src="{% static "home/img/main-landing/WN.png" %}" alt="WN">
                                    <img src="{% static "home/img/main-landing/NK.png" %}" alt="NK">
                                    <img src="{% static "home/img/main-landing/UA.png" %}" alt="UA">
                                    <img src="{% static "home/img/main-landing/AF.png" %}" alt="AF">
                                    <img src="{% static "home/img/main-landing/DI.png" %}" alt="DI">
                                </div>
                                <div class="tiles__card-text--small">
                                    <span>Non Stop 7h 20m</span>
                                    <span>Multiple Stops 14h + </span>
                                </div>
                            </div>
                            <p class="tiles__card-text">$211 Less than other sites</p>
                            <div class="tiles__card-details">
                                <p class="tiles__card-text--blue">Average $1,200 </p>
                                <a class="button button--outline-blue" href="/">View Flights</a>
                            </div>
                        </div>    
                    </div>
                  </div>
                  <!-- Tile 2 Ends -->
  
                  <!-- Tile 3 Start -->
                  <div class="col-12 col-lg-6">
                    <div class="tiles__card">
                        <div class="tiles__card-img">
                            <img src="{% static "home/img/main-landing/hongkong.png" %}" alt="Hong Kong">
                        </div>
                        <div class="tiles__card-content">
                            <h4 class="tiles__card-title">Los Angeles (LAX) -> Hong Kong CN (HKG)</h4>
                            <div class="tiles__card-airports">
                                <div class="tiles__card-icons">
                                    <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                    <img src="{% static "home/img/main-landing/CX.png" %}" alt="CX">
                                    <img src="{% static "home/img/main-landing/D7.png" %}" alt="D7">
                                    <img src="{% static "home/img/main-landing/9C.png" %}" alt="9C">
                                    <img src="{% static "home/img/main-landing/DL.png" %}" alt="DL">
                                    <img src="{% static "home/img/main-landing/UA.png" %}" alt="UA">
                                </div>
                                <div class="tiles__card-text--small">
                                  <span>Non Stop 12h +</span>
                                  <span>Multiple Stops 1d + </span>
                                </div>
                            </div>
                            <p class="tiles__card-text">$150 Less than other sites</p>
                            <div class="tiles__card-details">
                                <p class="tiles__card-text--blue">Average $1,1334 </p>
                                <a class="button button--outline-blue" href="/">View Flights</a>
                            </div>
                        </div>    
                    </div>
                  </div>
                  <!-- Tile 3 Ends -->
  
                  <!-- Tile 4 Starts -->
                    <div class="col-12 col-lg-6">
                      <div class="tiles__card">
                          <div class="tiles__card-img">
                              <img src="{% static "home/img/main-landing/chicago.png" %}" alt="Chicago">
                          </div>
                          <div class="tiles__card-content">
                              <h4 class="tiles__card-title">Denver (DEN) -> Chicago (ORD)</h4>
                              <div class="tiles__card-airports">
                                  <div class="tiles__card-icons">
                                      <img src="{% static "home/img/main-landing/AA.png" %}" alt="AA">
                                      <img src="{% static "home/img/main-landing/SY.png" %}" alt="SY">
                                      <img src="{% static "home/img/main-landing/WN.png" %}" alt="WN">
                                      <img src="{% static "home/img/main-landing/F9.png" %}" alt="F9">
                                      <img src="{% static "home/img/main-landing/UA.png" %}" alt="AA">
                                  </div>
                                  <div class="tiles__card-text--small"></div>
                              </div>
                              <p class="tiles__card-text">$43 Less than other sites</p>
                              <div class="tiles__card-details">
                                  <p class="tiles__card-text--blue">Average $256 </p>
                                  <a class="button button--outline-blue" href="/">View Flights</a>
                              </div>
                          </div>    
                      </div>
                    </div>
                  <!-- Tile 4 Ends -->
  
              </div>
          </div>
      </div>
    </div>
</script>
