<script type="text/x-template" id="vue-main-landing-template">
  <div class="main-landing">
    <header> <nav-bar /></header>
    <main>
      <main-landing-hero></main-landing-hero>
      <main-landing-tiles></main-landing-tiles>
      <main-landing-steps></main-landing-steps>
      <main-landing-stats></main-landing-stats>
      <main-landing-airlines-logos></main-landing-airlines-logos>
      <main-landing-deals-alerts></main-landing-deals-alerts>
      <subscription-plans></subscription-plans>
    </main>
    <footer><main-landing-footer></main-landing-footer></footer>
  </div>
</script>
