{% load static %}
<script type="text/x-template" id="vue-nav-bar-template">
  <nav class="navbar navbar-expand-lg navbar-light  nav-navbar-trip default-nav justify-content-between bg-light">
      <div class="container">
          <router-link class="navbar-brand nav-logo flex-grow-1"
             to="/">
            <img
                  src="{% static "home/img/flyline_logos-01-1.png" %}"></router-link>
          <button class="navbar-toggler nav-home"
                  type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"
               id="navbarSupportedContent">
              <div class="navbar-nav ml-auto">
                  <div class="nav-item">
                      <router-link
                              :to="{ name: 'sign-in'}"
                              :class="{'btn-online': !isMobile}"
                              class="btn my-2 get-s-btn my-sm-0">Log In</router-link>
                      <router-link
                              :to="{ name: 'get-started'}"
                              :class="{'btn-outline': !isMobile, 'btn-outline--blue': !isMobile}"
                              class="btn my-2 get-s-btn my-sm-0">Join</router-link>
                  </div>
              </div>
          </div>
      </div>
  </nav>
</script>
