<script type="text/x-template" id="vue-time-filter-template">
  <tabs class="tabs--alpha-theme">
    <tab v-for="(label, direction, i) in timeLabels" :title="label" :selected="selectedTab === i" :key="`time-filters-tab-${i}`">
      <div v-for="destination in destinations" class="filter-sidebar__item-spacing" :key="`block-${direction}-${destination}`">
        <div class="filter-sidebar__item-text">
          [[ label ]] from [[ form.cityFrom ]]<br>
          [[ form.departure_date_data.format('ddd') ]]
        </div>
        <time-slider :value="form.timeFilters[destination][direction]" @change="select(destination, direction, ...arguments)"></time-slider>
      </div>
    </tab>
  </tabs>
</script>
