<script type="text/x-template" id="vue-trips-template">
  <div class="trips">

      <div class="section-heading">
          <div class="section-heading__inner">
              <h1 class="section-heading__title">Trip Activity</h1>
              <p class="section-heading__text">
                  Get a “birds every view” off all your travel. On Trip Activity look
                  at your upcoming trip, <br>
                  previous trip and flights you’ve recent searched for</p>
          </div>
      </div>

      <div class="main-padding">
          <div class="row">

              <div class="col-12 col-xl-6">
                  <div class="tile">
                      <h3 class="tile__heading">Upcoming Trips</h3>
                      <div class="tile__body">
                          <p v-if="upcomingLoading" class="tile__body-no-result">Loading...</p>
                          <div v-else-if="upcomingTrips.length > 0">
                              <booking-trip v-for="trip in upcomingTrips" :flight="trip" :key="trip.id" />
                          </div>
                          <p v-else class="tile__body-no-result">No Upcoming Trips,
                              Get Away Today!</p>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-xl-6">
                  <div class="tile">
                      <h3 class="tile__heading">Previous Trips</h3>
                      <div class="tile__body">
                          <p v-if="pastLoading" class="tile__body-no-result">Loading...</p>
                          <div v-else-if="pastTrips.length > 0">
                              <booking-trip v-for="trip in pastTrips" :flight="trip"
                                      :key="trip.id" />
                          </div>
                          <p v-else="" class="tile__body-no-result">No Previous Trips,
                              Start Booking</p>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-xl-6">
                  <div class="tile">
                      <h3 class="tile__heading">Recently Searched</h3>
                      <div class="tile__body">
                          <p class="tile__body-no-result">No Recent Searches, Lets
                              Find a Deal</p>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</script>
