{% load static %}
<script type="text/x-template" id="vue-wizard-template">
  <div class="get-started full-bg-image">

      <div class="back-to-home">
          <a v-if="step === 1" href="{% url "index" %}">Back to Home</a>
          <a v-if="step === 2" href="#" @click.prevent="prevStep">Back to Step 1</a>
      </div>
      <section v-if="step === 1" class="step-2">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-5 col-sm-12 col-12 sm-12">
                      <div class="step-formbg onborad1-form">

                          <div class="form-logo text-center">
                              <img src="{% static "home/img/flyline_logos-01-1.png" %}">
                          </div>

                          <div class="form-descrption step-01 text-center">
                              <div><strong>Lets Get Started   </strong></div>
                              <span>Step {( step )} of 2</span>
                              <p>Enter some information to get started</p>
                          </div>

                          <div class="input-group input-group-sm step-f-inputs">
                              <location-input :prompt="'Home Airport'"
                                              :prompt-mobile="'Home Airport'"
                                              :search-type="'city'"
                                              @place-selected="updatePlaceFrom"/>
                          </div>

                          <div class="form-group input-group-sm step-f-inputs">
                              <input type="text" class="form-control"
                                     :class="{'email-exists': emailExists}"
                                     name="email"
                                     @keyup.enter="focusElement('password')"
                                     @keyup="onEmailChange"
                                     placeholder="Email Address" v-model="form.email">
                              <small v-if="emailVerified && emailExists"
                                     class="form-text text-danger">User with that
                                  email is already registered</small>
                              <small v-if="emailInvalid" class="form-text text-danger">Email is invalid</small>
                          </div>

                          <div class="input-group input-group-sm step-f-inputs">
                              <input type="password" class="form-control"
                                     name="password"
                                     placeholder="Password" v-model="form.password"
                                     @keyup.enter="nextStep">
                          </div>

                          <div class="input-group step-f-inputs">
                              <button type="submit" class="btn btn-default"
                                      @click="nextStep" :disabled="!isStep1Complete">
                                  Continue
                              </button>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section v-if="step === 2" class="step-2">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6 col-sm-12 sm-12 col-12">

                      <div class="step-formbg">
                          <div id="navbar-progress">
                              <div id="navbar-progress-indicator"
                                   :class="{busy: requestSent}"></div>
                          </div>
                          <div class="form-logo text-center">
                              <img src="{% static "home/img/flyline_logos-01-1.png" %}">
                          </div>

                          <div class="form-descrption text-center">
                              <div><strong>Lets Get Started</strong></div>
                              <span>Step {( step )} of 2</span>
                              <p>Enter some information to get started.</p>
                          </div>

                          <div class="input-group input-group-sm step-f-inputs">
                              <input type="text" class="form-control"
                                     placeholder="First Name"
                                     name="first_name"
                                     @keyup.enter="focusElement('last_name')"
                                     v-model="form.first_name">
                          </div>

                          <div class="input-group input-group-sm step-f-inputs">
                              <input type="text" class="form-control"
                                     name="last_name"
                                     placeholder="Last Name" v-model="form.last_name">
                          </div>

                          <div class="form-group form-group-sm step-f-inputs">
                              <dynamic-select class="form-control"
                                              name="plan"
                                              v-model="form.plan"
                                              @data-arrived="updateSelectValue"
                              />
                          </div>

                          <div class="input-group input-group-sm step-f-inputs">
                              <input type="text" class="form-control"
                                     placeholder="Promo Code"
                                     @keyup.enter="focusElement('zip')"
                                     name="promo_code"
                                     v-model="form.promo_code">
                          </div>

                          <div class="input-group input-group-sm step-f-inputs">
                              <input type="text" class="form-control"
                                     @keyup.enter="focusElement('card_number')"
                                     name="zip"
                                     placeholder="Billing Zip" v-model="form.zip">
                          </div>

                          <div class="input-group input-group-sm step-f-inputs">
                              <input type="text" class="form-control"
                                     placeholder="Credit Card Number"
                                     @keyup.enter="focusElement('expiry')"
                                     name="card_number"
                                     v-model="form.card_number">
                          </div>

                          <div class="row">
                              <div class="input-group input-group-sm step-f-inputs col-6">
                                  <input type="text" class="form-control"
                                         @keyup.enter="focusElement('cvc')"
                                         name="expiry"
                                         placeholder="Exp Date" v-model="form.expiry">
                              </div>

                              <div class="input-group input-group-sm step-f-inputs col-6">
                                  <input type="text" class="form-control"
                                         name="cvc"
                                         @keyup.enter="submit()"
                                         placeholder="CCV Code" v-model="form.cvc">
                              </div>
                          </div>


                          <div class="input-group step-f-inputs">
                              <button type="submit" class="btn btn-default"
                                      :disabled="!isStep2Complete || requestSent"
                                      @click="submit">Get
                                  started
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
</script>
