<form class="row" method="post" action="{% url "save-card" %}">
    {% csrf_token %}

    <div class="form-group col-sm-12">
        <label class="pb-2">Credit Card Number</label>
        <input class="form-control" type="text" name="card_number"
               placeholder="Card Number">
    </div>
    <div class="form-group col-sm-7">
        <label class="pb-2">Security Code</label>
        <input class="form-control" type="text" name="cvc"
               placeholder="Security Code">
    </div>
    <div class="form-group col-sm-5">
        <label class="pb-2">Exp Date</label>
        <input class="form-control" type="text" name="expiry"
               placeholder="Exp Date" id="expiry">
    </div>
    <div class="form-group col-sm-8">
        <label class="pb-2">Country</label>
        <input class="form-control" type="text" name="country"
               placeholder="Country">
    </div>
    <div class="form-group col-sm-4">
        <label class="pb-2">Billing Zip</label>
        <input class="form-control" type="text" name="zip"
               placeholder="Billing Zip">
    </div>
    <div class="form-group col-12 pt-1">
        <button type="submit"
                class="search_btn">
            Add
        </button>
    </div>

</form>
