  <section class="mf-club-plan">
    <div class="container">

     <div class="row">
       <div class="col-md-offset-1 col-md-10 col-md-offset-1">

        <div class="f-club-title">
           <h3>
            Flight Club Plans
           </h3>    
        </div>
        
        <div class="fc-mainbox">
          <h3 class="fc-boxtitle"> <b>Credit Packs | </b> purchase a pack of flight credits, use them where you want  when you want</h3>    

          {% for plan in credit_packs %}

          <div class="flight-p-list">
            <h3 class="f-title">{{ plan.name }} ({{ plan.credits }} Credit{{ plan.credits | pluralize:"s" }})</h3>
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <ul class="p-detail">
                  <li>- {{ plan.flight_num }} Round Trip Flights</li>   
                  <li>- Credits Expire in One Year</li> 
                  {% if plan.companion %}
                     <li>- Ability to Share Credits with Companion</li>
                  {% endif %}
                </ul>
              </div>    
              <div class="col-md-4 col-sm-4">
                <a href="{% url "subscription" %}?code={{ plan.code }}" class="btn btn-default pull-right f-selectBtn">Select</a>
              </div>    
            </div>
          </div>

          {% endfor %}
       

        </div>


        <div class="fc-mainbox">
          <h3 class="fc-boxtitle"> <b>Subscriptions  | </b> Subscribe to one of our plans and get a certain amount of flights each month </h3>  


          {% for plan in subscriptions %}

          <div class="flight-p-list">
            <h3 class="f-title">{{ plan.name }} ${{ plan.price_mo_annual }}/mo for
                {{ plan.credits_per_month }} Credit{{ plan.credits_per_month|pluralize:"s" }}
                ({{ plan.flight_num_per_month }} Round Trip{{ plan.flight_num_per_month|pluralize:"s" }})</h3>
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <ul class="p-detail">
                  <li>- {{ plan.flight_num_per_month }} Round Trip Trip Per Month</li>    
                  <li>- Fly Major Airlines - Alaska Airlines, American, Delta United Southwest, Sun Country jetBlue</li>    
                  {% if plan.companion %}
                     <li>- Ability to Share Credits with Companion</li>
                  {% endif %}
                </ul>
              </div>    
              <div class="col-md-4 col-sm-4">
                <a href="{% url "subscription" %}?code={{ plan.code }}" class="btn btn-default pull-right f-selectBtn">Select</a>
              </div>    
            </div>
          </div>

          {% endfor %}


        </div>



       </div>   
     </div> 
    </div>
  </section>
