<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h3 class="bold p-0">Subscriptions</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-7">
                    <h4 class="bold m-0">Wanderift Lite $369</h4>
                </div>
                <div class="col-sm-5 mt-2 mt-md-0">
                    {% ifequal user.subscriptions.plan 'lite' %}
                        <button class="thin-blue-btn">Current Plan</button>
                    {% else %}
                        <a href="{% url "plan" 'lite' %}">
                            <button class="thin-blue-btn">Subscribe</button>
                        </a>
                    {% endifequal %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12">
                    <p class="pl-2 pr-2">- 3 Credits (3 one-way flights)</p>
                    <p class="pl-2 pr-2">- 1 Unused Credit Rolls over</p>
                    <p class="pl-2 pr-2">- No Long Term Commitment</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-7">
                    <h4 class="bold m-0">Wanderift Pro $459</h4>
                </div>
                <div class="col-sm-5  mt-2 mt-md-0">
                    {% ifequal user.subscriptions.plan 'pro' %}
                        <button class="search_btn pb-1 pt-1">Current Plan
                        </button>
                    {% else %}
                        <a href="{% url "plan" 'pro' %}">
                            <button class="thin-blue-btn">Subscribe</button>
                        </a>
                    {% endifequal %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-7">
                    <p class="pl-2 pr-2">- 4 Credits (4 one-way flights)</p>
                    <p class="pl-2 pr-2">- 2 Unused Credit Rolls over</p>
                    <p class="pl-2 pr-2">- No Long Term Commitment</p>
                </div>
                <div class="col-sm-5  mt-2 mt-md-0">
                    <a href="{% url "how-it-works" %}">
                        <button class="thin-blue-btn">Learn More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
