{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{#    <link rel="stylesheet" href="{% static "css/subscription.css" %}">#}
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/navbar.html" %}
    </section>

    <section class="background-colored">
        <div class="container">
            <div class="row">
            <div class="col-12 text-center pt-5 pb-4  mb-5">
                <h1>Subscribe to Wanderift</h1>
                <h4 class="text-muted">Start saving on your travel today</h4>
            </div>
            <!-- left side -->
            <div class="col-12 col-md-6 mb-5">
                <div class="card shadow">
                    <!-- 1 -->

                    <div class="col-12 mx-auto mb-4">
                        <h4 class="card-title pt-4 mb-4">1. Choose a Plan</h4>
                        <div class="row pl-3 pr-3">
                            <div class="col-6 p-3 cursor-pointer card offer-card active">
                                <h5 class="card-title">Wanderift Lite | $369</h5>
                                <p>3 Tokens (3 one-way flights)</p>
                                <p>No Long Term Commitment</p>
                                <p>1 Unused Tokens Rollover</p>
                            </div>
                            <div class="col-6 p-3 cursor-pointer card offer-card">
                                <h5 class="card-title">Wanderift Pro | $459</h5>
                                <p>4 Tokens (4 one-way flights)</p>
                                <p>No Long Term Commitment</p>
                                <p>2 Unused Tokens Rollover</p>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-12">
                        <h4 class="card-title pt-3 mb-1">2. Add Your Traveler Info</h4>
                        <h5 class="mb-4">
                            or <span class="text-lightblue cursor-pointer" data-toggle="modal"
                                     data-target="#signInOptionsModal">sign in</span> to exsisting account
                        </h5>
                        <form action="{% url "retail" %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-6 mb-2">
                                    <label>First Name</label>
                                    <div class="form-group">
                                    <input class="form-control" type="text" name="first_name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <label>Last Name</label>
                                    <div class="form-group">
                                    <input class="form-control" type="text" name="last_name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <label>Gender</label>
                                    <div class="form-group">
                                    <input class="form-control" type="text" name="gender">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <label>Date of Birth</label>
                                    <div class="form-group">
                                    <input class="form-control" type="text" name="dob" id="dob">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <label>Phone Number</label>
                                    <div class="form-group">
                                    <input class="form-control" type="text" name="phone_number">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <label>Email</label>
                                    <div class="form-group">
                                    <input class="form-control" type="email" name="email">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <label>Password</label>
                                    <div class="form-group">
                                    <input class="form-control" type="password" name="password">
                                    </div>
                                </div>
                            </div>


                            <!-- 3 -->
                            <h4 class="card-title mt-5 mb-4">3. Enter Payment Details</h4>
                            <div class="row">
                                <div class="col-12 col-md-6 form-group mb-2">
                                    <label>Credit Card Number</label>
                                    <input class="form-control" type="text" name="card_number">
                                </div>
                                <div class="col-12 col-md-6 form-group mb-2">
                                    <label>Security Code</label>
                                    <input class="form-control" type="number" name="cvc">
                                </div>
                                <div class="col-12 col-md-6 form-group mb-2">
                                    <label>Expiration Date</label>
                                    <input class="form-control" type="text" name="expiry" id="expiry">
                                </div>
                                <div class="col-12 col-md-6 form-group mb-2">
                                    <label>Country</label>
                                    <input class="form-control" type="text" name="country">
                                </div>
                                <div class="col-12 col-md-6 form-group mb-2">
                                    <label>Billing Zip</label>
                                    <input class="form-control" type="text" name="zip">
                                </div>
                            </div>

                            <!-- accept terms -->
                            <div class="accept-terms mt-3">
                                <input type="checkbox" class="d-inline-block">
                                <span>I agree to Wanderift </span>
                                <span class="text-primary">Terms of Use</span>
                            </div>
                            <div class="text-center mt-4 mb-4">
                                <button type="submit" class="search_btn">Subscribe to Wanderift Lite</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- right side -->
            <div class="info col-12 col-md-6 mb-5">
                <div class="container">
                    <!-- lite or pro -->
                    <div class="role col-12">
                        <h4 class="title mb-4">What is Wanderift Lite or Pro</h4>
                        <p>Saving on flights through tokens</p>
                        <p>Always pay the same price for your flights</p>
                        <p>Share or send your tokens with anyone</p>
                    </div>

                    <!-- summary -->
                    <div class="card card-sm p-4 mb-4 shadow">
                        <h4 class="card-title">Order Summary</h4>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="font-weight-bold mb-16">Item</h5>
                                <p class="mb-2">Wanderift Lite(3 Tokens)</p>
                            </div>
                            <div class="col-6">
                                <h5 class="font-weight-bold mb-16">Price</h5>
                                <p class="mb-2">$359 per month</p>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="font-weight-bold">Total</h5>
                            </div>
                            <div class="col-6">
                                <h6>$359 per month</h6>
                            </div>
                        </div>
                    </div>

                    <!-- faq -->
                    <div class="card card-sm p-4 mb-4 shadow">
                        <h4 class="card-title">Still have some questions?</h4>
                        <p>No worries! Send us an email at</p>
                        <p>questions@wanderift.com, or click the</p>
                        <p>button below to read our FAQ's</p>

                        <div class="text-center mb-4 mt-4">
                            <button class="search_btn">Frequently Asked Questions</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section>
        {% include "_includes/footer.html" %}
    </section>
{% endblock %}

{% block jscontent %}
    <script>
        new Lightpick({
            field: document.getElementById('dob'),
        });

        new Lightpick({
            field: document.getElementById('expiry')
        });
    </script>
{% endblock %}