{% load static %}
{% load custom_date %}
{% load airlines %}
{% load airline_icons %}
{% load comparison %}
{% load time_duration %}
{% load return_flight %}
{% load departure_flight %}
{% load spurl %}

{% if flight.in_progress %}
<div class="in-progress-badge">Current trip</div>
{% endif %}
{% if flight.routes|length > 1 %}
    <div class="result-item mb-2 w-100">
        <div class="result-block result-toggler w-100 d-block d-md-flex justify-content-start p-2 pt-3 pb-3"
             data-toggle="collapse"
             data-target="#result-item{{ flight.duration.total }}">
            <div class="price-block d-flex align-items-center justify-content-center pl-3 pr-3">
                <div>
                    <h5>$ {{ flight.price }}</h5>
                    {% if flight.passenger_summary.adults %}
                    <p class="small text-muted">{{ flight.passenger_summary.adults }} Adult{{ flight.passenger_summary.adults | pluralize }}</p>
                    {% endif %}
                    {% if flight.passenger_summary.children %}
                    <p class="small text-muted">{{ flight.passenger_summary.children }} Child{{ flight.passenger_summary.children | pluralize:",ren"}}</p>
                    {% endif %}
                    {% if flight.passenger_summary.infants %}
                    <p class="small text-muted">{{ flight.passenger_summary.infants }} Infant{{ flight.passenger_summary.infants | pluralize }}</p>
                    {% endif %}
                    {# TODO: display proper number of passengers #}
                </div>
            </div>
            {% include "results/includes/flight-info-roundrip.html" with flight=flight %}

            <div class="arrow-indicator p-2 pt-3 pr-md-5 d-flex align-items-center justify-content-center">
                <img src="{% static "images/icons/down-arrow.png" %}"
                     alt="Pull down"
                     height="15" class="">
                <img src="{% static "images/icons/up-arrow.png" %}"
                     alt="Pull up"
                     height="15" class="d-none">
            </div>
        </div>

        <div class="result-details collapse container-fluid"
             id="result-item{{ flight.duration.total }}">
            <hr class="m-0">
            {% with flight.route|first as route_one %}
                {% if route_one %}
                    <div class="route-box row">
                    <div class="col-12 col-md-6 departure-block border-right pt-4 pb-4">
                        <h6 class="text-muted mb-3">
                            DEPARTURE
                            <span class="small ml-2">Duration:</span>
                            <span class="small">{{ flight.duration.departure | secs2hm }}</span>
                        </h6>
                        <p class="mb-2 dark-text">
                            <strong class="">
                                <i class="fa fa-calendar mr-2"></i>
                                {{ route_one.local_departure | iso_date | date:"D j M" }}
                            </strong>
                        </p>
                        {% for route in flight.route %}
                            {% if route.return == 0 %}
                                {% include "corporate/route.html" with route=route %}
                            {% endif %}
                        {% endfor %}

                        <div class="d-flex pt-3 pl-4 pb-3">
                            <i class="fa fa-bed mr-2"></i>
                            <p class="small text-muted mb-0">{{ flight.nightsInDest }}
                                nights in {{ flight.cityTo }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            <!-----------Return Flights ------------------------>
            {% with flight.route|last as route_one %}
                {% if route_one %}
                    <div class="col-12 col-md-6 return-block pt-4">
                        <h6 class="text-muted mb-3">
                            RETURN
                            <span class="small ml-2">Duration:</span>
                            <span class="small">{{ flight.duration.return | secs2hm }}</span>
                        </h6>
                        <p class="mb-2 dark-text">
                            <strong class="">
                                <i class="fa fa-calendar mr-2"></i>
                                {{ route_one.local_departure | iso_date | date:"D j M" }}
                            </strong>
                        </p>

                        {% for route in flight.route %}
                            {% if route.return == 1 %}
                                <div class="d-flex align-items-center position-relative">
                                    <i class="fa fa-plane mr-2 w-10 text-muted rotated-plane-icon"></i>
                                    <div class="card w-100 cursor-pointer"
                                         data-toggle="collapse"
                                         data-target="#airplane3">
                                        <div class="card-body p-0">
                                            <div class="d-flex justify-content-between pl-2">
                                                <div class="mr-auto">
                                                    <div class="airlines-labels">
                                                        <label class="mb-0">
                                                            <span class="dark-text">{{ route.local_departure | iso_date | date:"h:i A" }}</span>
                                                            <span class="text-muted">{{ route.cityFrom }} {{ route.flyFrom }}</span>
                                                        </label>
                                                        <br>
                                                        <label class="mb-0">
                                                            <span class="dark-text">{{ route.local_arrival | iso_date | date:"h:i A" }}</span>
                                                            <span class="text-muted">{{ route.cityTo }} {{ route.flyTo }}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <img src="/images/{{ route.airline |aircon }}.png"
                                                         alt="Airline"
                                                         class="align-self-center"
                                                         height="32px">
                                                </div>
                                                <div class="col-1 text-right d-flex">
                                                    <img src="{% static "images/arrow.png" %}"
                                                         style="width: 10px; height: 5px;"
                                                         class="align-self-center">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer collapse"
                                             id="airplane3">
                                            <span class="text-muted small mb-4">FLIGHT INFO</span>
                                            <div class="d-inline-flex justify-content-between w-100">
                                                <label>Flight No.</label>
                                                <label class="text-grey">{{ route.flight_no }}
                                                </label>
                                            </div>
                                            <div class="d-inline-flex justify-content-between w-100">
                                                <label>Seats
                                                    Remaining</label>
                                                <label class="text-grey">{{ flight.availability.seats }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="position-absolute duration-indicator small text-muted">{{ route | time_interval }}</span>
                                </div>
                                <div class="d-flex pt-3 pl-4 pb-3">
                                    <i class="fa fa-clock-o mr-2"></i>
                                    <p class="small text-muted mb-0"> {{ route | time_interval }}
                                        layover</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {#                                                        <div class="d-flex pt-3 pl-4 pb-3">#}
                        {#                                                            <i class="fa fa-bed mr-2"></i>#}
                        {#                                                            <p class="small text-muted mb-0">{{ flight.nightsInDest }}#}
                        {#                                                                nights in {{ flight.cityTo }}</p>#}
                        {#                                                        </div>#}
                    </div>
                {% endif %}
            {% endwith %}
            <!-------------End Return flights------------------->
            </div>
            <div class="search-results-buttons text-right p-2 pt-3">
                {% if flight.routes|length > 1 and flight.price > 237 %}
                    <a href="{% url 'subscription' %}">
                        <button class="search_btn mb-1">Subscribe and save
                            ${{ flight | comparison }}</button>
                    </a>
                {% endif %}
                {% if flight.routes|length == 1 and flight.price > 118 %}
                    <a href="{% url 'subscription' %}">
                        <button class="search_btn mb-1">Subscribe and save
                            ${{ flight | comparison }}</button>
                    </a>
                {% endif %}
                <a href="{% url 'retail' flight.booking_token %}">
                    <button class="search_btn book-btn mt-1"> Book for
                        ${{ flight.price }}</button>
                </a>
            </div>
        </div>

    </div>
{% else %}
    <div class="result-item mb-2 w-100">
        <div class="result-block result-toggler w-100 d-block d-md-flex justify-content-start p-2 pt-3 pb-3"
             data-toggle="collapse"
             data-target="#result-item{{ flight.duration.total }}">
            {# TODO: use better ID for flight #}
            <div class="price-block d-flex align-items-center justify-content-center pl-3 pr-3">
                <div>
                    <h5>$ {{ flight.price }}</h5>
                    <p class="small text-muted">1 Adult</p>
                </div>
            </div>
            {% include "results/includes/flight-info-oneway.html" with flight=flight %}

            <div class="arrow-indicator p-2 pt-3 pr-md-5 d-flex align-items-center justify-content-center">
                <img src="{% static "images/icons/down-arrow.png" %}"
                     alt="Pull down"
                     height="15" class="">
                <img src="{% static "images/icons/up-arrow.png" %}"
                     alt="Pull up"
                     height="15" class="d-none">
            </div>
        </div>

        <div class="result-details collapse container-fluid"
             id="result-item{{ flight.duration.total }}">
            <hr class="m-0">
            {% with flight.route|first as route_one %}
                {% if route_one %}
                    <div class="route-box row">
                    <div class="col-12 col-md-6 departure-block border-right pt-4 pb-4">
                        <h6 class="text-muted mb-3">
                            DEPARTURE
                            <span class="small ml-2">Duration:</span>
                            <span class="small">{{ flight.duration.departure | secs2hm }}</span>
                        </h6>
                        <p class="mb-2 dark-text">
                            <strong class="">
                                <i class="fa fa-calendar mr-2"></i>
                                {{ route_one.local_departure | iso_date | date:"D j M" }}
                            </strong>
                        </p>
                        {% for route in flight.route %}
                            {% if route.return == 0 %}
                                {% include "corporate/route.html" with route=route %}
                            {% endif %}
                        {% endfor %}

                        <div class="d-flex pt-3 pl-4 pb-3">
                            <i class="fa fa-bed mr-2"></i>
                            <p class="small text-muted mb-0">{{ flight.nightsInDest }}
                                nights in {{ flight.cityTo }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            <!-----------Return Flights ------------------------>
            {% with flight.route|last as route_one %}
                {% if route_one %}
                    <div class="col-12 col-md-6 return-block pt-4">
                        <h6 class="text-muted mb-3">
                            RETURN
                            <span class="small ml-2">Duration:</span>
                            <span class="small">{{ flight.duration.return | secs2hm }}</span>
                        </h6>
                        <p class="mb-2 dark-text">
                            <strong class="">
                                <i class="fa fa-calendar mr-2"></i>
                                {{ route_one.local_departure | iso_date | date:"D j M" }}
                            </strong>
                        </p>

                        {% for route in flight.route %}
                            {% if route.return == 1 %}
                                {% include "results/includes/route.html" with route=route %}
                            {% endif %}
                        {% endfor %}
                        <div class="d-flex pt-3 pl-4 pb-3">
                            <i class="fa fa-bed mr-2"></i>
                            <p class="small text-muted mb-0">{{ flight.nightsInDest }}
                                nights in {{ flight.cityTo }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <!-------------End Return flights------------------->
            </div>
            {% include "results/includes/buttons.html" with flight=flight %}
        </div>

    </div>
{% endif %}
