{% extends "base.html" %}

{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "css/results.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/navbar.html" %}
    </section>

    <section class="background-colored">
        <div class="container t-space">
            <div class="row">
                <div class="col-6">
                    <h3 class="trip-title">Trip Activity</h3>
                </div>
                <div class="col-6">
                    <a href="{% url "index" %}" class="btn btn-default trips-btn">Book a Flight</a>
                </div>
            </div>
            <div class="trips-line"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="activity-box">
                        <h3>Upcoming Trips</h3>
                        {% if upcoming_trips %}
                            {% for flight in upcoming_trips %}
                                {% include "corporate/flight.html" with flight=flight %}
                            {% endfor %}
                        {% else %}
                        <div class="text-center tips-select">
                            You have no upcoming trips
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="activity-box">
                        <h3>Previous Trips</h3>
                        {% if past_trips %}
                            {% for flight in past_trips %}
                                {% include "corporate/flight.html" with flight=flight %}
                            {% endfor %}
                        {% else %}
                        <div class="text-center tips-select">
                            You have no Previous Trips
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="activity-box">
                        <h3>Recent Searches</h3>
                        <div class="text-center tips-select">
                            Boo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "_includes/footer.html" %}
{% endblock %}
