{% extends "base.html" %}

{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "css/results.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/navbar.html" %}
    </section>

    <section class="background-colored">

        <div class="title-section">
           <div class="container">
               <h3 class="trip-title">Trip Activity</h3>
               <p class="title-sec-descrption">Get a "birds every view" off all your travel. On Trip Activity look at your upcoming trip, prvious trip <span class="txt-block"></span> and flights you've recent searched for</p>
           </div> 
        </div>

        <div class="container t-space">
            <div class="row">
                <div class="col-md-6">
                    <div class="activity-box">
                        <h3>Upcoming Trips</h3>
                        {% if upcoming_trips %}
                            {% for flight in upcoming_trips %}
                                {% include "corporate/flight.html" with flight=flight %}
                            {% endfor %}
                        {% else %}
                        <div class="text-center tips-select">
                            No Upcoming Trips
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="activity-box">
                        <h3>Previous Trips</h3>
                        {% if past_trips %}
                            {% for flight in past_trips %}
                                {% include "corporate/flight.html" with flight=flight %}
                            {% endfor %}
                        {% else %}
                        <div class="text-center tips-select">
                            No Previous Trips
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="activity-box">
                        <h3>Recent Searches</h3>
                        <div class="text-center tips-select">
                            No Viewed Flights
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="p-mobile-footer">
       <div href="" class="email-mobile-view">joinflyline.com | Mobile</div>   
    </div>

    {% include "_includes/footer.html" %}
{% endblock %}
