{% load custom_date %}
{% load airline_icons %}
{% load time_duration %}
{% load static %}
<p class="mb-2 dark-text">
    <strong class="">
        <i class="fa fa-calendar mr-2"></i>
        {{ route.local_departure | iso_date | date:"D j M" }}
    </strong>
</p>
<div class="d-flex align-items-center position-relative">
    <i class="fa fa-plane mr-2 w-10 text-muted rotated-plane-icon"></i>
    <div class="card w-100 cursor-pointer"
         data-toggle="collapse"
         data-target="#airplane1">
        <div class="card-body p-0">
            <div class="d-flex justify-content-between pl-2">
                <div class="mr-auto">
                    <div class="airlines-labels">
                        <label class="mb-0">
                            <span class="dark-text">{{ route.local_departure | iso_date | date:"h:i A" }}</span>
                            <span class="text-muted">{{ route.src_name }} {{ route.src }}</span>
                        </label>
                        <br>
                        <label class="mb-0">
                            <span class="dark-text">{{ route.local_arrival | iso_date | date:"h:i A" }}</span>
                            <span class="text-muted">{{ route.dst_name }} {{ route.dst }}</span>
                        </label>
                    </div>
                </div>
                <div class="d-flex">
                    <img src="{{ route.airline.code |aircon }}"
                         alt="Airline"
                         class="align-self-center"
                         height="32px">
                </div>
                <div class="col-1 text-right d-flex">
                    <img src="{% static "images/arrow.png" %}"
                         style="width: 10px; height: 5px;"
                         class="align-self-center" alt="arrow">
                </div>
            </div>
        </div>
        <div class="card-footer collapse"
             id="airplane1">
            <div class="d-inline-flex justify-content-between w-100">
                <label>Flight No.</label>
                <label class="text-grey">{{ route.flight_no }}
                </label>
            </div>
        </div>
    </div>
    <span class="position-absolute duration-indicator small text-muted">{{ route | time_interval }}</span>
</div>
<div class="d-flex pt-3 pl-4 pb-3">
</div>
