.app {
  .btn-primary {
    border-radius: 0;
    background-color: $primary;
    border-color: $primary
  }
}


.btn {
  &.btn-outline {
    color: $primary;
    border-radius: 0;
    font-size: 18px;
    padding: 9px 2rem 7px 2rem;
    font-weight: 600;
    font-family: $dona-black;
    border: 2px solid $primary;
    max-width: 100%;
    .nav-item & {
      font-size: 12px;
      padding: 9px 1.3rem 7px 1.3rem;
    }
    &:hover {
      background-color: $primary;
      color: $white;
    }
    &--blue {
      background-color: $primary;
      color: $white !important;
    }
  }
}