.main-header {
  .form-control {
    border: 2px solid $input-border-color;
    margin-right: 1.1875rem;
    border-radius: 0;
    &::placeholder {
      color: $input-text-color;
    }
    &:focus {
      box-shadow: none;
      border-color: $primary
    }
  }
}
