.content-wrapper {
  margin-left: 0;
  padding: 0;
  transition: margin-left .3s ease-in-out;
  @include mq(lg) {
    margin-left: $sidebar-width;
  }
}

.main-padding {
  padding: 0 0.95rem;
  @include mq(lg) {
    padding: 0 2rem;
  }
}

hr + .main-padding {
  margin-top: 2.6875rem;
}

// Transition for slide
.slide-enter-active, .slide-leave-active {
  transform: translateY(0);
  transition: all .38s cubic-bezier(.13,.89,.58,1)
}
.slide-enter, .slide-leave-to {
  transform: translateX(-2rem);
  opacity: 0;
}


.result__container {
  position: relative;
  &::before {
    position: absolute;
    top: -2.6875rem;
    content: '';
    background-image: url("../../../home/img/dashboard/result-background.png");
    background-repeat: repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
  }
}
