// Fonts
$dona-bold: Dona-Bold;
$dona-black: Dona-Black;

// Colors
$primary: #00AEEF;
$white: #fff;
$black: #000;
$gray: #D9D9D9;
$input-border-color: #DCDCDC;
$input-text-color: #DADADA;
$header-border-color: #DADADA;
$border-color: #D8D8D8;


// Sizes
$sidebar-width: 22rem;
