{% extends "base.html" %}
{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/retail.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">

{% endblock %}
{% block content %}
    <section class="navbar-section">
        {% include "_includes/navbar.html" with page="retail" %}
    </section>


    <!-- Mobile view footer -->
    
     <div class="p-mobile-footer">
       <div href="" class="email-mobile-view">joinflyline.com | Mobile</div>   
     </div>

    {% include "booking/includes/modal.html" %}
{% endblock %}
{% block jscontent %}
    {{ retail_info | json_script:"retail-info"}}
    <script src="{% static "js/passenger.js" %}"></script>
    <script src="{% static "js/bookflight.js" %}"></script>
    {% include "_includes/google_analytics.html" %}
    {% include "_includes/sentry.html" %}
{% endblock %}
