<div v-if="isMobile" class="fly-linesetion">
    <div class="mobile-view-footer">
        <ul class="mobile-v-tabs">
            <li class="selected">
                <a href="#"><img src="{% static "home/img/Home.png" %}"> <span>Home </span></a>
            </li>
            <li>
                <a href="#"><img src="{% static "home/img/Trip.png" %}"> <span>Trip</span></a>
            </li>
            <li>
                <a href="#"><img src="{% static "home/img/Account.png" %}"><span>Account </span></a>
            </li>
        </ul>
    </div>
</div>
