<div class="checkout-section">
    <h3>Check out</h3>

    <form class="booking_flight" action="/booking_flight" method="POST">
        <div class="form-group">
            <label for="nameoncard" class="control-label">Name on
                card</label>
            <input type="text" class="form-control" name="holder_name" required>
        </div>
        <div class="form-group">
            <label for="creditcardno" class="control-label">Credit
                Card Number</label>
            <input type="text" class="form-control"
                   name="creditcardno">
        </div>

        <div class="colum-02">
            <div class="form-group col6">
                <label for="expdate" class="control-label">Exp
                    Date</label>
                <input type="text" class="form-control"
                       name="expdate" required>
            </div>

            <div class="form-group col6">
                <label for="ccv" class="control-label">CCV</label>
                <input type="text" class="form-control" name="ccv" required>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Book Flight
            For <b> $182.38 </b></button>

    </form>

</div>
