<div class="whiteBg" id="primary-passenger-block" class="passenger-block">
    <div class="row">
        <div class="col-md-6">
            <span class="fa fa-user-circle"></span> <b class="passenger-kind">Primary passenger</b></span>
        </div>
        <div class="col-md-6"></div>
    </div><!-- inner row -->
    <div class="alert alert-info" role="alert"><span
            class="glyphicon glyphicon-exclamation-sign"></span>
        User all given names and surnames <b> exactly as they appear
            in your passport/ID to avoid boarding complications </b>
    </div>

    <div class="userForm">
        <form>
            <div class="row">
                <div class="col-md-12 given_surmane">
                    <div class="form-group form-group-sm">
                        <label for="givennames"
                               class="control-label">Given
                            names</label>
                        <input type="text" class="form-control"
                               id="givennames"
                               placeholder="e.g Oliver james">
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="givennames"
                               class="control-label">Surname(s)</label>
                        <input type="text" class="form-control"
                               id="givennames"
                               placeholder="e.g. Brown">
                    </div>
                </div>
                <div class="col-md-12 tow_section">
                    <div class="national_gender">
                        <div class="form-group form-group-sm">
                            <label for="nationality"
                                   class="control-label">Nationality</label>
                            <select class="form-control"
                                    id="nationality">
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="gender"
                                   class="control-label">Gender</label>
                            <select class="form-control"
                                    id="gender">
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="date_of_birth">
                        <div class="form-group form-group-sm">
                            <label for="dateofbirth"
                                   class="control-label">Date of
                                birth</label>
                            <select class="form-control"
                                    id="dateofbirth">
                                <option>Month</option>
                            </select>
                        </div>
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control"
                                   id="day" placeholder="DD">
                        </div>
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control"
                                   id="year" placeholder="YYYY">
                        </div>
                    </div>

                </div>

            </div>
            {% comment %}
            <div class="optional_section">
                <h3 class="heading"> Carbin Baggage <span
                        class="glyphicon glyphicon-exclamation-sign"></span>
                </h3>
                <p>Select one option</p>
            </div>

            <div class="order-list">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="radio">
                            <label><input type="radio" name="" checked>&nbsp;
                                <span class="fa fa-shopping-bag"></span>&nbsp;
                                Personal item <span
                                        class="checkmark"></span></label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                            <strong class="font-light"> 45 x 20 x 35 cm,
                                10kg</strong>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                            <strong>$0</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="optional_section">
                <h3 class="heading"> Checked Baggage <span
                        class="glyphicon glyphicon-exclamation-sign"></span>
                </h3>
                <p>Select one option</p>
            </div>

            <div class="order-list">
                <div class="row">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="" checked>&nbsp;
                                <span class="fa fa-times"></span>&nbsp; No
                                checked baggage <span
                                        class="checkmark"></span> </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="order-list light-border">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="radio">
                            <label><input type="radio" name="" checked>&nbsp;
                                <span class="fa fa-archive"></span>&nbsp;
                                Personal item <span
                                        class="checkmark"></span></label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                            <strong class="font-light"> 45 x 20 x 35 cm,
                                10kg</strong>
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                            <strong>$0</strong>
                        </p>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </form>
    </div>


</div>
