<div class="summary-section">
    <div class="row">
        <div class="col-md-6">
            <h3 class="trip-summary"><span
                    class="fa fa-globe"></span> Trip summary</h3>
        </div>
        <div class="col-md-6">
            <ul class="icon-list">
                <li><span class="fa fa-star-o"></span></li>
                <li><span class="fa fa-share"></span></li>
            </ul>
        </div>
    </div>
    <div class="row manage-row">
        {% for flight in retail_info.route %}
            {% include "booking/includes/flight.html" with flight=flight %}
        {% endfor %}
    </div>
    <div class="more-info">
        <h3><span class="fa fa-mobile"></span> Automatic flight
            check-in <span class="fa fa-money">Free</span></h3>
        <p>Most airlines charge a large fee if you forget to check
            in online. If you provide us with your passport/ID
            details, we'll check you in online and send your
            boarding passes to you for free. <a href="">More
                info</a></p>
    </div>
</div>
