<div class="price_detail">
    <ul class="list-price-detail">
        <li> <span id="totals-passengers-count">{{ passenger_count }}</span>x Passenger{{ passenger_count|pluralize }}
            <span class="pull-right">
                {% if user.subscriptions %}
                    {{ total_credits }} Credits
                {% else %}
                    $<span id="totals-passengers-price">{{ retail_info.conversion.USD }}</span>
                {% endif %}
            </span>
        </li>
        <li> Baggage <span class="pull-right"
                           id="totals-bags-price">{{ baggage_price }}</span></li>
        <li> Automatic flight check-in <span class="pull-right"> Free </span>
        </li>
        <li><span class="totalusd">Total</span> <span
                class="pull-right"> <b>{% if user.subscriptions %}{{ total_credits }}{% else %}$<span id="totals-total-price">{{ total_price }}</span>{% endif %}</b> </span></li>
    </ul>
</div>
