<div class="price_detail">
    <ul class="list-price-detail">
        <li> {{ passenger_count }}x Passenger{{ passenger_count|pluralize }} <span
                class="pull-right"> ${{ retail_info.conversion.USD }} </span>
        </li>
        <li> Baggage <span class="pull-right"
                           id="totals-baggage-price">{{ baggage_price }}</span></li>
        <li> Automatic flight check-in <span class="pull-right"> Free </span>
        </li>
        <li><span class="totalusd">Total(USD)</span> <span
                class="pull-right"> <b>${{ total_price }}</b> </span></li>
    </ul>
</div>
