<div class="card card-sm p-4 mb-4" id="liteSummary">
    <h4 class="card-title">Order Summary</h4>
    <div class="row">
        <div class="col-6">
            <h5 class="font-weight-bold mb-16">Item</h5>
            <p class="mb-2">Wanderift Lite (3 Credits)</p>
        </div>
        <div class="col-6">
            <h5 class="font-weight-bold mb-16">Price</h5>
            <p class="mb-2">$369 (Credits expire in 6 months)</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-6">
            <h5 class="font-weight-bold">Total</h5>
        </div>
        <div class="col-6">
            <h6>$369 (Credits expire in 6 months)</h6>
        </div>
    </div>
</div>
<div class="card card-sm p-4 mb-4" id="proSummary" style="display: none">
    <h4 class="card-title">Order Summary</h4>
    <div class="row">
        <div class="col-6">
            <h5 class="font-weight-bold mb-16">Item</h5>
            <p class="mb-2">Wanderift Pro (4 Credits)</p>
        </div>
        <div class="col-6">
            <h5 class="font-weight-bold mb-16">Price</h5>
            <p class="mb-2">$459 per month</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-6">
            <h5 class="font-weight-bold">Total</h5>
        </div>
        <div class="col-6">
            <h6>$459 per month</h6>
        </div>
    </div>
</div>
