.account {
  &__form {
    h3 {
        font-family: $dona-black;;
    }

    .form-group {
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border: 2px solid $primary;
      padding: 5px;
    }
  }

  &__select {
    position: relative;
    &-input {
      -webkit-appearance: none;
      border-radius: 0;
    }
  }
  &__arrow {
    position: absolute;
    right: 1rem;
    z-index: 11;
    top: calc(50% + 1px);
    transform: translateY(-50%);
  }
}