.h-dealform {
  .dealform__filters {
    width: 100%;
  }

  .search-dropdown {

  }

  .search-dropdown-outer {
    margin-bottom: 15px;
  }

  .search-form__filters {
    display: flex;
    justify-content: space-between;
  }

  &__dates {
    display: flex;

    @media (min-width: 768px) and (max-width: 992px) {
      span.search-form-input {
        display: none;
      }
    }
  }

  .filter-field {
    padding: 6px 0;
    display: flex;
  }


  .filter-devider {
    background: #fff;
    height: 3px;
    width: 100%;
    margin-bottom: 20px;
  }

}
