
.search-outer {
  width: 100%;
  position: relative;

  .search-item {
    .form-control {
      padding: 0.375rem 0.75rem;

      &:focus {
        box-shadow: none;
      }
    }

    .list-Sdown {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 12px 16px;
        cursor: pointer;
        outline: none;

        &:hover {
          background: #E5EAEF;
        }
      }

      .dropdown-icon {
        width: 31px;
        height: 32px;
        float: left;
      }

      i {
        transform: rotate(-45deg);
        font-size: 21px;
        margin: 2px 0;
      }
    }

    .dropdown-list.hidden {
      display: none;
    }
  }

  .spacer {
    display: none;
  }
}

.search-outer.shadowsrch {
  .search-item {
    position: absolute;
    left: -0.75rem;
    top: -0.75rem;
    padding: 0.75rem 0.75rem;
    background: white;
    width: calc(100% + 1.5rem);
    box-shadow: 1px 1px 17px #ccc;
    border: 2px solid $primary;
    z-index: 120;
    @include mqr(md) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 140;
      width: 100%;
    }
  }
  
  .list-Sdown li.airport {
    padding-left: 2rem;
  }

  .spacer {
    min-height: calc(1.5em + 0.75rem + 2px);
    width: 100%;
    display: block;
  }
}


.search-form-field__container {
  margin-right: 1.875rem;
  margin-bottom: 0.7rem;
  width: 100%;
  &:nth-child(n + 3) {
    flex-basis: 50%
  }
  @include mq(lg) {
    margin-bottom: 0;
  }
  .search-item {
    .form-control {
      border: 2px solid #dcdcdc;
      border-radius: 0;
    }
  }
}


.search-flight-home {
  margin-right: 1.875rem;
  width: 100%;
  .search-item {
    .form-control {
      border: 2px solid #ececec;
      border-radius: 0;
      padding: 20px 1em;
    }
  }
}


// icons
.airport {
  &__icon {
    width: auto;
    height: 1.4rem;
  }
}