.overview,
.trips {
  .col-12 {
    margin-bottom: 1.875rem;
  }
}

.tile {
  border-color: $gray;
  border-style: solid;
  border-width: 0 2px 2px 2px;
  min-height: 14rem;
  margin-bottom: 1.875rem;
  position: relative;
  height: 100%;
  &::before {
    position: absolute;
    top: 0;
    content: '';
    background-image: url("../img/dashboard/tile-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.23;
    z-index: -1;
  }

  .tile__heading {
    color: $primary;
    font-size: 1rem;
    font-family: $dona-bold;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    @include mq(lg) {
      font-size: 1.125rem;
      padding: 1rem;
    }
    &-right {
      color: $gray;
    }
  }

  .tile__body {
    padding: 1rem;
    &-no-result {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray;
      font-family: $dona-black;
      position: absolute;
      top: calc(50% + 1.718rem);
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-top,
    &-bottom {
      display: flex;
      flex-wrap: wrap;
      p {
        margin: 0;
      }
    }
    &-bottom {
      align-items: center;
      justify-content: space-between;
      padding-top: 1.5rem;
      color: $primary;
      font-family: $dona-bold;

      .booking {
        color: $primary;
        font-family: $dona-bold;
      }
      .upgrade {
        font-size: 0.85rem;
        font-family: $dona-black;
        color: $gray;
      }
    }
    &-top-numbers {
      color: $primary;
      &:first-child {
        margin-right: 4rem;
        @include mq(lg) {
          //margin-right: 8rem;
        }
      }
      span {
        display: block;
      }
      > span {
        font-family: $dona-black;
        font-size: 1.875rem;
        + span {
          font-family: $dona-bold;
          font-size: 1.25rem;
        }
      }
    }
  }
  &__list {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  &__item {
    border-bottom: 1px solid $border-color;
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin-bottom: 0;
    font-family: $dona-bold;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__item-left {
    font-family: $dona-bold;

    &-top {
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
    }
    &-bottom {
      font-size: 0.75rem;
      margin-bottom: 0;
    }
  }
  &__item-right {
    color: $gray;
    margin-top: 0.7rem;
    @include mq(lg) {
      margin-top: 0;
    }
  }


  &--flights {
    .tile__body {
      background-color: $white;
    }
  }

  &--estimated {
    .tile__body-bottom {
      color: $savings-explained-text;
      font-size: 0.75rem;
    }
  }
}
