{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/promo.html" %}
    </section>
    <section class="navbar-section">
        {% include "_includes/navbar.html" with page="subscription" %}
    </section>
    <section class="background-colored" style="background-color: #F7F9FF;">
        <div class="col-12 text-center pt-5 pb-4">
            <h1 style="margin-top: 20px;">Subscribe to Wanderift</h1>
            <h4 class="text-muted" style="font-weight: 500; font-size: 1.2rem;">Start saving on your travel today</h4>
        </div>

        <div class="container mt-5">
            <div class="row">

                <!-- left side -->
                <div class="col-12 col-md-6 mb-5">
                    <div class="card p-3">
                        {% if annual_group %}
                            {% include "subscriptions/subscription/choose_plan_annual.html" %}
                        {% else %}
                            {% include "subscriptions/subscription/choose_plan.html" %}
                        {% endif %}
                        {% include "subscriptions/subscription/stage2.html" %}
                    </div>
                </div>

                <!-- right side -->
                <div class="info col-12 col-md-6 mb-5">
                    <div class="container">
                        <!-- lite or pro -->
                        <div class="role col-12">
                            <h4 class="title mb-4">What is Wanderift Lite or Pro</h4>
                            <p class="pl-4">Savings on flights through credits</p>
                            <p class="pl-4">Always pay the same low price for your flights</p>
                            <p class="pl-4">Share or send your credits with anyone</p>
                        </div>

                        <!-- summary -->
                        {% include "subscriptions/subscription/summary.html" %}

                        <!-- faq -->
                        <div class="card card-sm p-4 mb-4">
                            <h4 class="card-title">Still Have Some Questions?</h4>
                            <p class="pl-4">No worries! Simply send us an email</p>
                            <p class="pl-4">at questions@wanderift.com OR click the</p>
                            <p class="pl-4">button below to read our FAQ’s</p>

                            <div class="text-center mb-4 mt-4">
                                <button class="search_btn">Frequently Asked Questions</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        {% include "_includes/footer.html" %}
    </section>
{% endblock %}

{% block jscontent %}
    <script>
        {% if user.is_authenticated %}

        {% else %}
            new Lightpick({
                field: document.getElementById('dob'),
            });

            new Lightpick({
                field: document.getElementById('expiry')
            });
        {% endif %}


        document.getElementById("lite").addEventListener("click", makeActive);
        document.getElementById("pro").addEventListener("click", makeActive);

        function makeActive($event) {
            console.log($event.target.id)
            switch ($event.target.id) {
                case 'lite':
                    document.getElementById('liteSummary').style.display = "block";
                    document.getElementById('proSummary').style.display = "none";
                    document.getElementById('pro').classList.remove('active');
                    document.getElementById('lite').className += " active";
                    break;
                case 'pro':
                    document.getElementById('liteSummary').style.display = "none";
                    document.getElementById('proSummary').style.display = "block";
                    document.getElementById('lite').classList.remove('active');
                    document.getElementById('pro').className += " active";
                    break;
                default:
                    document.getElementById('liteSummary').style.display = "block";
                    document.getElementById('proSummary').style.display = "none";
                    document.getElementById('pro').classList.remove('active');
                    document.getElementById('lite').className += " active";
                    break;
            }
        }
    </script>
{% endblock %}
