{% extends "base.html" %}

{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "css/results.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/promo.html" %}
    </section>

    <section class="navbar-section">
        {% include "_includes/corporate_nav.html" %}
    </section>

    <section class="background-colored">

        <div class="container content-holder pt-5">
            <div class="row">

                <div class="col-12">
                    <h2 class="page-title">Manage Trips</h2>
                </div>

                <div class="divider-30"></div>

                <div class="col-md-6 mt-3">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-sub-title">Upcoming Trips</h4>
                        </div>
                        <div class="col-auto">
                            <button class="btn primary-button">Book a Flight</button>
                        </div>
                    </div>
                    <div class="divider-15"></div>
                    <div class="trip-item">
                        <div class="item-content w-100">
                            {% if upcoming_flights %}
                                {% for route in upcoming_flights %}
                                    {% include "corporate/route.html" with route=route %}
                                {% endfor %}
                            {% else %}
                            <label class="w-100">No upcoming trips... start
                                booking</label>
                            <label class="w-100">Today and save</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="divider-30"></div>
                    <div class="row">
                        <div class="col">
                            <h4 class="page-sub-title">Flights you've been watching</h4>
                        </div>
                    </div>
                    <div class="divider-15"></div>
                    <div class="trip-item">
                        {% if upcoming_flights %}
                            {% for flight in watched_flights %}
                                {% include "includes/flight.html" with flight=flight %}
                            {% endfor %}
                        {% else %}
                        <div class="item-content w-100">
                            <label class="w-100">No upcoming trips... start
                                booking</label>
                            <label class="w-100">Today and save</label>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6 mt-3">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-sub-title">Previous Trips</h4>
                        </div>
                    </div>
                    <div class="divider-15"></div>
                    <div class="trip-item">
                        {% if past_flights %}
                            {% for route in past_flights %}
                                {% include "includes/route.html" with route=route %}
                            {% endfor %}
                        {% else %}
                        <div class="item-content">
                            <label class="w-100">No previous trips</label>
                            <label class="w-100">Today and save</label>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "_includes/footer.html" %}
{% endblock %}
