{% extends "base.html" %}
{% load static %}
{% block csscontent %}
    <link rel="stylesheet" type="text/css" href="{% static "css/info/style.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}
{% block content %}
    <section class="navbar-section pre-dark">
        {% include "_includes/promo.html" %}
    </section>
    <section class="navbar-section pre-dark">
        {% include "_includes/navbar.html" with page="destinations" %}
    </section>
    <section class="full-sectionbg">
        <div class="container">
            <div class="text-center title_detail">
                <h3 class="des-title" style="margin-top: 40px; font-size: 40px;">Subscribe Markets & Destinations</h3>
                <p class="des-descrption">Take a look to see if we opperate in your
                    market or go to your favorite destinations, if <br/>
                    not send us an email at support@wanderift.com and we'll do our best
                    to add it in.</p>
            </div>

            <div class="map-section text-center">
                <img src="{% static "img/info/map.svg" %}">
            </div>

            <div class="bottom-section text-center">
                <h3 style="margin-top: 100px; font-size: 30px;">Subscriber Markets</h3>

                <ul class="Subscriber-list">
                    <li><a href="">Atlanta</a> <span class="fa fa-minus"></span></li>
                    <li><a href="">Austin</a> <span class="fa fa-minus"></span></li>
                    <li><a href="">Charlotte</a> <span class="fa fa-minus"></span></li>
                    <li><a href="">Chicago</a> <span class="fa fa-minus"></span></li>
                    <li><a href="">Dallas</a> <span class="fa fa-minus"></span></li>
                    <li><a href="">Denver</a> <span class="fa fa-minus"></span></li>
                    <li><a href="">New York</a> <span class="fa fa-minus"></span></li>
                    <li><a href="">San Franciso</a> <span class="fa fa-minus"></span>
                    </li>
                    <li><a href="">Seattle</a></li>
                </ul>

                <h3 style="margin-top: 60px; font-size: 30px;">Destinations</h3>

                <div class="row" style="margin-bottom: 30px;">
                    <div class="offset-md-2 col-md-8 col-sm-12">

                        <ul class="Subscriber-list destinations-list">
                            <li><a href="">Atlanta</a> <span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Austin</a> <span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Baltimore</a> <span
                                    class="fa fa-minus"></span></li>
                            <li><a href="">Boston</a> <span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Charlotte</a> <span
                                    class="fa fa-minus"></span></li>
                            <li><a href="">Charlotte</a> <span
                                    class="fa fa-minus"></span></li>
                            <li><a href="">Chicago</a> <span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Dallas</a> <span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Denver</a><span class="fa fa-minus"></span></li>
                            <li><a href="">Detroit</a><span class="fa fa-minus"></span></li>
                            <li><a href="">Las Vegas</a><span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Los Angles</a><span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Miami</a><span class="fa fa-minus"></span></li>
                            <li><a href="">Minneaplois</a><span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Orlando</a><span class="fa fa-minus"></span></li>
                            <li><a href="">Philadephia</a><span class="fa fa-minus"></span>
                            </li>
                            <li><a href="">Salt Lake City</a><span
                                    class="fa fa-minus"></span></li>
                            <li><a href="">San Francisco</a><span
                                    class="fa fa-minus"></span></li>
                            <li><a href="">Seattle</a></li>
                        </ul>

                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-3 col-md-6 col-sm-12">
                        <div class="btn-section">
                            <a href="#" class="btn btn-default" style="border-radius: 2px; border-color:#00b7ff;">Get Started</a>
                            <a href="{% url "plans" %}" class="btn btn-default btn-secondary" style="border-radius: 2px; border-color:#00b7ff;">Questions?</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    {% include "_includes/footer.html" %}
{% endblock %}
