{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
{% endblock %}

{% block content %}
    <section class="navbar-section">
        {% include "_includes/navbar.html" with page="faq" %}
    </section>


    <section style="background-color: #F7F9FF;" class="background-colored">
       <div class="col-12 text-center white-block pt-5 pb-5">
            <div class="container faq">

                <h1 class="sec_one_head">Need Some Help?</h1>
                <h5 style="padding-top:10px;" class="text-muted font-weight-normal">We Will Answer Any Questions You May Have.</h5>
                <div class="row">
                    <div class="col-sm-4 text-center mt-4">
                        <button class="search_btn  w-100 main-btn-full">Find my Booking</button>
                    </div>
                    <div class="col-sm-4 text-center mt-4">
                        <button class="search_btn  w-100 main-btn-full">Airline</button>
                    </div>
                    <div class="col-sm-4 text-center mt-4">
                        <button class="search_btn  w-100 main-btn-full">Airline Fees</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container section-1 faq">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-title p-0 pt-4 mt-5">Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
        <div class="container faq">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-sub-title pt-4 pb-3 mt-2 mb-3" style="font-size: 22px;">Non Subscriber Bookings</h4>
                </div>
                <div class="col-12">
                   

              <div class="wrapper center-block">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          What Are the Baggage Fees?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faqOne">
                      <div class="panel-body">
                          Navigate to our baggage fees page to learn how much the added baggage fees are for you.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          How Do I Book a Flight with My Child?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqTwo">
                      <div class="panel-body">
                         Select the number of children passengers and have your child as an additional passenger.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Do Flight Prices Include the Taxes and Fees?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqThree">
                      <div class="panel-body">
                        The prices on Wanderift include the applicable taxes and fees. The ONLY thing it does not include is checked baggage or the airlines that charge you for seat selection.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Can I Add My Flight Miles?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqFour">
                      <div class="panel-body">
                        Yes, you can absolutely add your flight miles. We know how important flight miles can be for our passengers, and we certainly do not want to leave that out for you!
                      </div>
                    </div>
                  </div>
                </div>
                </div>                 



                </div>

                <div class="col-sm-12">
                    <h4 class="page-sub-title pt-4 pb-3 mt-2 mb-4" style="font-size: 22px;">Wanderift Lift
                        or Pro Bookings</h4>
                </div>
                <div class="col-12">

                 
              <div class="wrapper center-block">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne0" aria-expanded="true" aria-controls="collapseOne">
                          Can I Rollover Credits Each Month?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faqOne">
                      <div class="panel-body">
                          Yes you can, it just depends on which plan. Wanderift LITE allows up to ONE credit to rollover while Wanderift PRO allows up to TWO credits to roll over each month.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                           Can I Earn Frequent Flyer Miles?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqTwo">
                      <div class="panel-body">
                           Yes you can earn your Frequent Flyer Miles! We do not take that feature away from our subscribers.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree">
                            Do Wanderift Flights Include Baggage Fees?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqThree">
                      <div class="panel-body">
                             No we do not include baggage fees with your booking(s), as this is an additional cost dictated by each airline company.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour3" aria-expanded="false" aria-controls="collapseFour">
                         Can I Book a Flight for Another Person?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqFour">
                      <div class="panel-body">
                        Absolutely! Travel is better with a companion! Just have them create a free Wanderift account, and share credits (flights) with them. Sharing is as easy as that!
                      </div>
                    </div>
                  </div>
                </div>
                </div>        


                </div>
            </div>
        </div>
        <div class="btn-1 mt50" style="background-color: #00B7FF; margin-top: 30px;">
            <div class="container faq pb-5">
                <div class="row search pb-5">
                    <div class="col-sm-6" style="top: 50px;">
                        <div class="card mt50 mb-3">
                            <div class="card-body shadow p-4">
                                <div class="card-title mb-4">
                                    <h3 class="bold p-0 mt-0">Still Have Some Questions?</h3>
                                </div>
                                <p class="text-dark">Did we miss something that you want to know more about? Simply send us an email at <a href="mailto:info@wanderift.com">info@wanderift.com</a> and we will answer any questions you may have.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="top: 50px;">
                        <div class="card mt50 mb50">
                            <div class="card-body shadow p-4">
                                <div class="card-title mb-4">
                                    <h3 class="bold p-0 mt-0">Feedback</h3>
                                </div>
                                <p class="text-dark">We would love to get your feedback on our site, user experience, or anythingrelated to Wanderift. Please send us an email at <a href="mailto:info@wanderift.com">info@wanderift.com</a> and we will check it out.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "_includes/footer.html" %}
{% endblock %}
