{% extends "base.html" %}

{% load static %}

{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "css/how-it-works.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
{% endblock %}

{% block content %}
    <noscript>
        <strong>We're sorry but wanderift doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <section class="navbar-section">
        {% include "_includes/navbar.html" with page="personal-how-it-works" %}
    </section>
    <section>
        <div class="border-bottom background-colored">
            <div class="blue-landing-block card w-100 border-0 pt-5 pb-5">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-5 d-flex">
                            <div class="card-body d-flex flex-column justify-content-around p-0 p-md-2">
                                <h1 class="card-title landing-block-title text-white" style="font-family:">How do Wanderift Subscriptions Work?</h1>
                                <div class="divider-15"></div>
                                <h4 class="landing-block-text text-white">
                                  We make it simple to subscribe to Wanderift. All you do is pay a monthly fee, and you get an allotted amount of credits.
                                  Where can you travel to with your Wanderift subscription? Chicago, Los Angeles,  Miami, and New York to name a few.
                                </h4>
                                <div class="divider-30"></div>
                                <div class="card-buttons">
                                    <a href="{% url "subscription" %}"><button class="search_btn">Get Started</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-md-6 mt-3 mt-md-0 landing-block-images d-flex flex-column justify-content-between">
                            <img src="{% static "images/Flight_One.png" %}" class="card-img" alt="How it works">
                            <img src="{% static "images/Flight_Two.png" %}" class="card-img" alt="How it works">
                            <img src="{% static "images/Flight_Three.png" %}" class="card-img" alt="How it works">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content_container how-it-works pt-5 pb-5">
                <div class="col-12 text-center mt-md-5 pt-5 pb-5">
                    <h2 style="font-size: 2.4rem; padding-bottom: 10px; font-weight: bold;">How it Works</h2>
                    <h5 class="text-muted font-weight-normal">Change up your travel plans and start saving on flights today!</h5>
                </div>

                <!-- Accordion -->
                
                <div class="wrapper center-block">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Airline Subscription
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        We were started on our popular airline subscription plans, which many people take
                        advantage of with the immense savings. Our airline subscriptions plans are simple…
                        pay either $369 for Wanderift Lite, and get 3 one-way flights to be used in a 6 month period, to any of our
                        24 destinations in the United States OR choose our Wanderift Pro plan and get 4 oneway
                        flights for only $459 per month.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Booking with credits
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        Our credit system is a very simple way to book airline flights. Instead of paying a
                        different price each flight, you pay with credits. One credit equals a single one-way
                        flight. This makes booking your flights easier than ever before!
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         Airlines
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        We use the most popular airlines on the market. You can choose from American
                        Airlines, Delta, Southwest, as well as United Airlines. We also offer
                        flights from Spirit, Frontier, and other airlines if you choose to do so.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Post Booking Process
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        Booked your flight with Wanderift, and want to learn what to do next? Simple…get
                        your airline booking verification, and you are good to go. The verification will provide
                        basic information such as date of flight, which airline, and what time your flight is at.
                        This is very common on all major booking platforms.
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                {% include "info/personal-how-it-works/subscription-plans.html" %}
                <div class="col-12 text-center mt-md-5 pt-5 pb-5">
                     <h2 style="font-size: 2.3rem; padding-bottom: 10px; font-weight: bold; padding-top: 40px;">Frequently Asked Questions</h2>
                     <h5 class="text-muted font-weight-normal">Here are a few words about aireline travel as a subscription</h5>
                 </div>


                <div class="wrapper center-block">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         What Are the Baggage Fees?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faqOne">
                      <div class="panel-body">
                        Yes you can, it just depends on which plan. Wanderift PRO allows up to TWO credits to roll over each month.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Do Wanderift Flights Include Baggage Fees
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqTwo">
                      <div class="panel-body">
                         No we do not include baggage fees with your subscription booking(s), as this is an additional cost dictated by each airline company.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Can I Book a Flight for Another Person?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqThree">
                      <div class="panel-body">
                        Absolutely!  Travel is better with a companion!  Just have them create a free Wanderift account, and share credits (flights) with them.  Sharing is as easy as that!
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="faqFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Can I Fly to Multiple Destinations at Once?
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqFour">
                      <div class="panel-body">
                        Yes you can!  Just make sure you have the appropriate amount of credits (flights).  Book your trip through one ways from each destination to travel to more places each month.
                      </div>
                    </div>
                  </div>
                </div>
                </div>                 




                <div class="col-12 text-center mt-md-5 pt-5 pb-5">
                     <h2 style="font-size: 2.3rem; padding-bottom: 10px; font-weight: bold;">Subscriber Testimonials</h2>
                     <h5 class="text-muted font-weight-normal">Here are a few words about aireline travel as a subscription</h5>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 p-2">
                        <h5 class="card testemonial p-3" style="font-size: 16px; font-weight: 500; line-height: 20.0px;">
                            <p>With Wanderift I always pay the same price for my flight</p>
                            <span class="name-line border-top pt-2 mt-4 text-right" style="font-size: 14px;font-weight: 400;">Michael J – Dallas, TX</span>
                        </h5>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <h5 class="card testemonial p-3" style="font-size: 16px; font-weight: 500; line-height: 20.0px;">
                            <p>Booking has never been eaiser</p>
                            <span class="name-line border-top pt-2 mt-4 text-right" style="font-size: 14px;font-weight: 400;">Austin C – San Francisco, CA</span>
                        </h5>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <h5 class="card testemonial p-3" style="font-size: 16px; font-weight: 500; line-height: 20.0px;">
                            <p>Thanks to Wanderift I'm a weekend worrier</p>
                            <span class="name-line border-top pt-2 mt-4 text-right" style="font-size: 14px;font-weight: 400;">Luke M – Seattle, WA</span>
                        </h5>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <h5 class="card testemonial p-3" style="font-size: 16px; font-weight: 500; line-height: 20.0px;">
                            <p>Finally a travel service with good customer service!</p>
                            <span class="name-line border-top pt-2 mt-4 text-right" style="font-size: 14px;font-weight: 400;">Franklin B – Detroit, MI</span>
                        </h5>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <h5 class="card testemonial p-3" style="font-size: 16px; font-weight: 500; line-height: 20.0px;">
                            <p>No more wierd annoying airline pricing</p>
                            <span class="name-line border-top pt-2 mt-4 text-right" style="font-size: 14px;font-weight: 400;">Dan M -New York, NY</span>
                        </h5>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <h5 class="card testemonial p-3" style="font-size: 16px; font-weight: 500; line-height: 20.0px;">
                            <p>A great solution to frequent travel</p>
                            <span class="name-line border-top pt-2 mt-4 text-right" style="font-size: 14px;font-weight: 400;">Cary C – Miami, FL</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center background-colored pt-5 pb-5 mt-5" style="background-color: #131f3f">
            <div class="card-body">
                <h3 class="card-title" style="font-size: 2.3rem; color: #fff; font-weight: bold;">Ready to Get Started?</h3>
                <h5 class="card-text mx-auto">Time to start saving? Click below and start saving on Flights!</h5>
                <div class="divider-30"></div>
                <a href="{% url "subscription" %}" class="btn primary-button" style="font-size: 18px; font-weight: 600;">Subscribe to Wanderift Lite and Pro</a>
            </div>
        </div>
    </section>
     <section>
        {% include "_includes/footer.html" %}
    </section>
{% endblock %}
