{% extends "base.html" %}
{% load static %}
{% block csscontent %}
    <link rel="stylesheet" type="text/css" href="{% static "css/info/style.css" %}">
    <link rel="stylesheet" href="{% static "home/css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}
{% block content %}
    <section class="navbar-section pre-dark">
        {% include "_includes/promo.html" %}
    </section>
    <section class="navbar-section pre-dark">
        {% include "_includes/navbar.html" with page="plans" %}
    </section>

    <section class="topbox">
        <div class="container">
            <div class="text-center topboxFont">
                <h3 style="margin-top: 60px; margin-bottom: 5px; font-size: 40px;">Pick
                    the Plan Based on Your Travel Needs</h3>
                <p style="margin-bottom: 40px; font-size:20px;">Browse the Plans We
                    Offer and See Which One <br/>
                    Fits Your Travel Needs</p>
            </div>
        </div>
    </section>

    <!-- Section 02 -->

    <section class="how-it-work">
        <div class="container">

            <div class="text-center howitFont">
                <h3 style="margin-top: 60px; font-size: 30px;">How You'll Wander
                    Away</h3>
                <p style="font-size: 20px; margin-bottom: 80px;">Here is How It All
                    Works</p>
            </div>

            <div class="row topspace" style="margin-bottom: 60px;">
                <div class="col-md-4 col-sm-4">
                    <div class="text-center box-04">
                        <span class="fa fa-building"></span>
                        <h3>Pick a Plan</h3>
                        <p>Choose between the 3 or 6 flight packs</p>
                    </div>
                </div><!-- col/4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="text-center box-04">
                        <span class="fa fa-plane"></span>
                        <h3>Book a Flight</h3>
                        <p>Book a flight using our easy to use booking platform</p>
                    </div>
                </div><!-- col/4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="text-center box-04">
                        <span class="fa fa-refresh"></span>
                        <h3>Upgrade or Rollover</h3>
                        <p>You can upgrade your plan (or downgrade your plan)
                            whenever.</p>
                    </div>
                </div><!-- col/4 -->
            </div>

        </div>
    </section>

    <!-- Section 03 -->
    <section class="available-plan">
        <div class="container">
            <div class="text-center howitFont">
                <h3 style="margin-top: 80px; font-size: 30px;">Available Plans on
                    Wanderift</h3>
                <p style="font-size: 20px; margin-bottom: 80px;">Pick a plan… upgrade…
                    downgrade… cancel at anytime</p>
            </div>

            <div class="row topspace" style="margin-bottom: 40px;">
                <div class="col-md-3 col-sm-3">
                    <div class="text-center box-03 plan-description">
                        <h3>Credits Pack</h3>
                        <p>Choose between either the 3(3 round trip flights) or 6 pack
                            (6 round trip flights)</p>
                    </div>
                    <div class="text-center btn-get">
                        <a href="{% url "subscription" %}?code=three-pack" class="btn btn-default">Get
                            Started</a>
                    </div>
                </div><!-- col/3 -->
                <div class="col-md-3 col-sm-3">
                    <div class="text-center box-03 plan-description">
                        <h3>2 Credits / mo</h3>
                        <p>Wanderift Lite starts at $269/mo. you get 2 credits(1 round
                            trip) per month</p>
                    </div>
                    <div class="text-center btn-get">
                        <a href="{% url "subscription" %}?code=lite" class="btn btn-default">Get
                            Started</a>
                    </div>
                </div><!-- col/3 -->
                <div class="col-md-3 col-sm-3">
                    <div class="text-center box-03 plan-description">
                        <h3>3 Credits / mo</h3>
                        <p>Wanderift Pro starts at $359/mo. you get 3 credits(1.5 round
                            trip) per month</p>
                    </div>
                    <div class="text-center btn-get">
                        <a href="{% url "subscription" %}?code=pro" class="btn btn-default">Get
                            Started</a>
                    </div>
                </div><!-- col/3 -->
                <div class="col-md-3 col-sm-3">
                    <div class="text-center box-03 plan-description">
                        <h3>4 Credits / mo</h3>
                        <p>Wanderift Biz starts at $449/mo. you get 4 credits(2 round
                            trips) per month</p>
                    </div>
                    <div class="text-center btn-get">
                        <a href="{% url "subscription" %}?code=biz" class="btn btn-default">Get
                            Started</a>
                    </div>
                </div><!-- col/3 -->
            </div>


        </div>
    </section>
    {% include "_includes/footer.html" %}
{% endblock %}
