{% extends "base.html" %}

{% load static %}
{% block csscontent %}
    <link rel="stylesheet" href="{% static "css/lightpick.css" %}" xmlns:v-on="http://www.w3.org/1999/xhtml"
          xmlns:v-on="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}

{% block content %}
    <div class="promo_banner">
        <p class="promo_banner_text">Looking to save thousands on flights? Subscribe to Wanderift Lite or Pro and Save
            <button class="promo_btn">Learn More</button>
        <p>
    </div>
    <section>
        {% include "_includes/navbar.html" %}
    </section>
    <section>
        <div class="container" style="padding-top: 60px;">
            <div class="content_container">
                <p class="sec_one_head" style="font-size: 35px;">Trending Flights
                <p>
                <p class="sec_one_subhead" style="font-size: 18px; font-weight:400; margin-bottom: 30px;">Take a look at the current flights
                    Wanderift travelers are searching and booking

                <p>
            <div class="row justify-content-start">
                <div class="col-lg-4">
                    <img class="img_content" src="{% static "images/lasvegas.jpg" %}">
                    <p class="sec_one_subhead">Dallas (DAL) - Las Vegas (LAS)</p>
                    <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 600;">$234 - Round Trip Retail Price</p>
                    <p class="sec_one_subhead" style="font-size:15px; font-weight: 600;">2 Tokens, or $224 - Round Trip Wanderift</p>
                </div>
                <div class="col-lg-4">
                    <img class="img_content" src="{% static "images/newyork.jpg" %}">
                    <p class="sec_one_subhead">San Francisco (SFO) - New York (LGA)</p>
                    <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 600;">$234 - Round Trip Retail Price</p>
                    <p class="sec_one_subhead" style="font-size:15px; font-weight: 600;">2 Tokens, or $224 - Round Trip Wanderift</p>
                </div>
                <div class="col-lg-4">
                    <img class="img_content" src="{% static "images/seattle.jpg" %}">
                    <p class="sec_one_subhead">Los Angeles (LAX) - Seattle (SEA)</p>
                    <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 600;">$234 - Round Trip Retail Price</p>
                    <p class="sec_one_subhead" style="font-size:15px; font-weight: 600;">2 Tokens, or $224 - Round Trip Wanderift</p>
                </div>
            </div>
        </div>
        <div class="content_container divider" style="margin-top: 80px;">
            <p class="sec_one_head" style="font-size: 35px;">Top Destinations of August
            <p>
            <p class="sec_one_subhead" style="font-size: 18px; font-weight:400;  margin-bottom: 30px;">We’ve taken all the flight bookings and
                listed out the top places our travelers are booking

            <p>
        <div class="row justify-content-start">
            <div class="col-lg-4">
                <img class="img_content" src="{% static "images/chicago.jpg" %}">
                <p class="sec_one_subhead" style="margin-bottom:10px;">Chicago, IL (ORD)</p>
                <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 600;">Average flight price $233</p>
                <p class="sec_one_subhead" style="font-size:15px; font-weight: 600;">Most Frequent Carrier, United</p>
            </div>
            <div class="col-lg-4">
                <img class="img_content" src="{% static "images/miami.jpg" %}">
                <p class="sec_one_subhead" style="margin-bottom:10px;">Miami, FL (MIA)</p>
                <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 600;">Average flight price $168</p>
                <p class="sec_one_subhead" style="font-size:15px; font-weight: 600;">Most Frequent Carrier, American</p>
            </div>
            <div class="col-lg-4">
                <img class="img_content" src="{% static "images/sanfrancisco.jpg" %}">
                <p class="sec_one_subhead" style="margin-bottom:10px;">San Francisco, CA (SFO)</p>
                <p class="sec_one_subhead" style="font-size:15px; margin-bottom: 8px; font-weight: 600;">Average flight price $183</p>
                <p class="sec_one_subhead" style="font-size:15px; font-weight: 600;">Most Frequent Carrier, American</p>
            </div>
        </div>
        </div>
        <div class="container divider_btm" style="padding-top:100px;">
            <p class="sec_one_head" style="font-size: 45px; margin-bottom: 20px;">News, Updates, Travel Tricks
            <p>
            <p class="sec_one_subhead" style="font-size: 18px; font-weight:400; margin-bottom: 40px;">Always stay in the
                loup with the hottest travel news and updates
            <p>
            <div class="row justify-content-center uper_box m-0">
                <div class="col-lg-5 left_img align-items-center" style="background-color: #111e42; color: #eff0f2; display:flex; flex-direction:row">
                    <div class="box-text-content p-5">
                        <h3 style="font-family: karla; font-weight: bold; font-size: 28px;">
                            FORBES: Remember Rollover Minutes? This Subscription Service Lets You Roll Over Flights
                        </h3>
                        <br>
                        <button class="search_btn" style="font-weight: bold; font-family: karla;">View Article</button>
                    </div>
                </div>
                <div class="col-lg-7 right_img p-0 mx-auto d-block" style="overflow: hidden;">
                    <img  style="width:100%; margin-top: -11%;" src="{% static "images/home/rollover_plane.jpg" %}" alt="Rollover Plane">
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top:30px;">
                <div class="col-lg-4 mt-4">
                    <div class=" shadow_box">
                        <div class="img_content_uper" style="overflow: hidden;">
                            <img  style="width:115%; height: 200px;" src="{% static "images/home/inside_plane.jpg" %}" alt="Rollover Plane">
                        </div>
                        <div class="img_content_lower">
                            <div class="box-text-content p-3">
                                <h5 style="line-height: 1.25;padding-top: 5px;padding-bottom: 10px; font-family: karla; font-weight: bold;">
                                    STARTUP STAGE: Wanderift brings subscription model to air travel
                                </h5>
                                <button class="search_btn mt-1" style="padding: 5px 15px; font-size: 0.9em; margin-bottom: 10px; font-weight: bold; font-family: karla;">View Article</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class=" shadow_box">
                        <div class="img_content_uper" style="overflow: hidden;">
                            <img  style="width:100%; margin-top: -5%;" src="{% static "images/home/american_plane.jpg" %}" alt="Rollover Plane">
                        </div>
                        <div class="img_content_lower">
                            <div class="box-text-content p-3">
                                <h5 style="line-height: 1.25;padding-top: 5px;padding-bottom: 10px; font-family: karla; font-weight: bold;">
                                    PYMNTS: Can Air Travel Ticketing Subscriptions Take-off?
                                </h5>
                                <button class="search_btn mt-1" style="padding: 5px 15px; font-size: 0.9em; margin-bottom: 10px; font-weight: bold; font-family: karla;">View Article</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class=" shadow_box">
                        <div class="img_content_uper" style="overflow: hidden;">
                            <img  style="width:100%;" src="{% static "images/home/flying_plane.jpg" %}" alt="Rollover Plane">
                        </div>
                        <div class="img_content_lower">
                            <div class="box-text-content p-3">
                                <h5 style="line-height: 1.25;padding-top: 5px;padding-bottom: 10px; font-family: karla; font-weight: bold;">
                                    Simple Flying: Would A Subscription Airline Model Work?
                                </h5>
                                <button class="search_btn mt-1" style="padding: 5px 15px; font-size: 0.9em; margin-bottom: 10px; font-weight: bold; font-family: karla;">View Article</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end" style="margin-top:1rem"><p class="sec_one_subhead"style="margin-right: 28px; font-size: 18px; margin-top: 10px;">View All</p></div>
        </div>
        </div>
    </section>

    <section>
        {% include "_includes/footer.html" %}
    </section>
{% endblock %}
{% block jscontent %}
    <script src="{% static "js/home.js" %}"></script>
    <script src="{% static "js/lightpick.js" %}">
    </script>
    <script>
        let tripButton = document.querySelector(".btn-group");
        let picker = new Lightpick({
            field: document.getElementById('departure_date'),
            secondField: document.getElementById('return_date'),
            singleDate: false,
            onSelect: function (start, end) {
                var str = '';
                str += start ? start.format('Do MMMM YYYY') + ' to ' : '';
                str += end ? end.format('Do MMMM YYYY') : '...';
                {#document.getElementById('result-3').innerHTML = str;#}
            }
        });
    </script>
{% endblock %}
